[2017-12-08 07:43] AKhilGarg91 commented on #1068
@chrisdunelm  Thanks for info but still not working. I am using below service account and I added below code as well. Is there any other way. I didnt find any working solution to call Google cloud machine learning engine api in .net.

![image](https://user-images.githubusercontent.com/9513952/33755972-f2ce84c6-dbfb-11e7-9947-6214b6b1befa.png)

                 if(cd.IsCreateScopedRequired)

[2017-12-08 07:49] jskeet commented on #1068
Let's start simple: are you able to use the *other* methods in the service? For example, can you list the models? If not, then we can take this to a separate issue that has nothing to do with HttpBody.

[2017-12-08 08:01] AKhilGarg91 commented on #1068
@jskeet  no, I am not able to use any method because of authorization error. I know there is some problem in authorization but I dont know what??

Google.Apis.Requests.RequestError
Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential

[2017-12-08 08:04] jskeet commented on #1068
Please open a new issue for this - it's unrelated to this issue. Ideally, provide a complete example, and the content of your JSON file **excluding any sensitive information**. (We just need to see the structure, basically.)

[2017-12-08 08:08] AKhilGarg91 opened #1127 "Authorization and authentication issue for Google cloud machine learning engine."
My code.  I attached the Json file as well with service account details. I am getting authorization error.
.Net 4.6.1
Google Cloud Machine Learning API 1.30

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Google.Apis.Auth.OAuth2;
using Google.Apis.Services;
using System.IO;
using Google.Apis.CloudMachineLearningEngine.v1.Da

[2017-12-08 08:10] jskeet commented on #1127
Ah - I see the problem, I think. You're ignoring the return value of `CreateScoped`. Just change this:

[code]

to this:

[code]

... and move the service construction to *after* that line.

Note that everything below your "var list" line is irrelevant to this issue - I would suggest you edit your post to remove it, to keep things as brief and clear as possible.

[2017-12-08 08:18] chrisdunelm commented on #1068
@AKhilGarg91 `CreateScoped()` returns a new credential, it does not mutate the existing credential. So you need to assign the returned value to the credential, as in the code example I gave above: `cd = cd.CreateScoped(CloudMachineLearningEngineService.Scope.CloudPlatform)`

[2017-12-08 08:19] AKhilGarg91 commented on #1127
@jskeet Thank u so much. . its working now, I didnt assign changed credential with scope..

[2017-12-08 08:20] #1127 closed

[2017-12-08 08:21] AKhilGarg91 commented on #1068
@chrisdunelm  thanks a lot for your hwlp . Its fixed, I cretaed new issue and now its closed.

[2017-12-08 11:24] #1110 closed

[2017-12-08 11:45] OWAProjects opened #1128 "IIS Express URL encoding colon (:) causing URL not found for Analytics API"
I'm attempting to use the Google Analytics Reporting V4 .Net API with Server credentials and am making the following request:

[code]

However the request being made to analyticsreporting.googleapis.com is the following:
`/v4/reports%3AbatchGet`

which returns the response from Google
`The requested URL /v4/reports%3AbatchGet was not found on this server.  That’s all we know.`

this is because IIS

[2017-12-08 11:48] jskeet commented on #1128
Could you specify the *exact* NuGet package version you're using? If it's 1.31.0, try 1.31.1 instead - we fixed this yesterday.

[2017-12-08 12:03] OWAProjects commented on #1128
Oh wow, that's bad timing I guess as I only installed this yesterday. That problem is all fixed now although I'm getting:

[code]

as a response now which makes no sense as I've created a service account seemingly correct so I'm unsure.

[2017-12-08 12:24] jskeet commented on #1128
Possibly this? https://stackoverflow.com/questions/12837748

Closing this issue as the colon part is resolved.

[2017-12-08 12:24] #1128 closed

[2017-12-08 14:58] chrisdunelm commented on #1116
Closing. Please re-open with more details if this error is still causing problems.

[2017-12-08 14:58] #1116 closed

[2017-12-08 14:59] chrisdunelm commented on #1115
Closing. Please re-open with more details if you think this might be a client library issue.

[2017-12-08 14:59] #1115 closed

[2017-12-08 15:01] chrisdunelm commented on #1114
Yes, https://tools.ietf.org/html/rfc7230#section-3.2 states that headers are case-insensitive. I'll get this fixed.

[2017-12-08 15:09] #1106 closed

[2017-12-08 15:18] #595 closed

[2017-12-08 15:28] chrisdunelm commented on #1108
Fixed in #1129

[2017-12-08 15:28] #1108 closed

[2017-12-08 15:32] chrisdunelm commented on #1083
There is no clear workaround for this, as discovered when working on https://github.com/GoogleCloudPlatform/google-cloud-dotnet/issues/407
I'll add a warning about this in the docs.

[2017-12-08 15:40] #1114 closed

[2017-12-08 15:49] chrisdunelm commented on #1083
@jskeet Should a warning also be put somewhere on this page: https://developers.google.com/api-client-library/dotnet/get_started ?

[2017-12-08 15:50] jskeet commented on #1083
That's probably a call for @SurferJeffAtGoogle to make.

[2017-12-08 15:53] chrisdunelm commented on #1075
Given that:

* This repo is in maintenance mode.
* There is a workaround for this problem.
* A solution to this is moderately complex.

I think we will not do any work on this issue; so closing.
Please re-open if you disagree.

[2017-12-08 15:53] #1075 closed

[2017-12-08 17:38] chrisdunelm commented on #651
Closing; there are now integration tests for `GoogleAuthorizationCodeFlow`.

[2017-12-08 17:38] #651 closed

[2017-12-08 17:45] #835 closed

[2017-12-10 14:05] rahuliet2008 opened #1134 "Unable to get Google Analytics Reporting API v4 `BatchGet` method not working"
public GetReportsRequest GetUserID(string startDate, string endDate,string viewID)
        {
            var dateRange = new DateRange
            {
                StartDate = startDate,
                EndDate = endDate
            };
            var sessions = new Metric { Expression = "ga:sessions" };
            var users = new Metric { Expression = "ga:users" };
            var newUsers = ne

[2017-12-10 14:29] chrisdunelm commented on #1134
@rahuliet2008 What version of the `Google.Apis.AnalyticsReporting.v4` nuget package are you using?
v1.31.0 has known bug that can cause this error.
Please upgrade to v1.31.1 which should fix this.

[2017-12-10 14:32] chrisdunelm commented on #641
@jskeet Is this still required? How have you worked around this in the Cloud GCS library?

[2017-12-10 14:42] jskeet commented on #641
Hmm... yes, it looks like this has been fixed, probably by the code to handle the exception better. I think it's reasonable to end up with a GoogleApiException with the relevant status code.

Here's code testing that's what happens: https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/0bfdaaa2d926926bf7a08064b4c7792ef75b5a5f/apis/Google.Cloud.Storage.V1/Google.Cloud.Storage.V1.Integrati

[2017-12-10 14:42] #641 closed

[2017-12-11 16:17] rahuliet2008 commented on #1134
Thanks for quick reply.But after this update i am facing different issue.Date range supplied in this format is throwing error yyyy-MM-dd like 2017-11-01 but its throwing date exception.i did all permutations and combination.Regards,Rahul

Sent from Yahoo Mail for iPhone

On Sunday, December 10, 2017, 3:29 PM, Chris Bacon <notifications@github.com> wrote:

@rahuliet2008 What version of the Google.A

[2017-12-11 16:19] jskeet commented on #1134
That sounds like an entirely separate issue. I'll close this issue - please take the time to file an issue with the code you're using and the full error message.

[2017-12-11 16:19] #1134 closed

[2017-12-11 16:22] rahuliet2008 commented on #1134
Just now figure out its taking startdate as enddate and endadate as startdate.Check from your end.
Regards,Rahul

Sent from Yahoo Mail for iPhone

On Sunday, December 10, 2017, 3:29 PM, Chris Bacon <notifications@github.com> wrote:

@rahuliet2008 What version of the Google.Apis.AnalyticsReporting.v4 nuget package are you using?
v1.31.0 has known bug that can cause this error.
Please upgrade to v1.

[2017-12-11 16:27] jskeet commented on #1134
No, please file a new issue, with code, and ideally with request logs. I think it's highly unlikely that this is a problem in the [generated code](https://github.com/google/google-api-dotnet-client/blob/bf9727777f99cedd2d8f570785a01f4d36f78909/Src/Generated/Google.Apis.AnalyticsReporting.v4/Google.Apis.AnalyticsReporting.v4.cs#L501).

[2017-12-14 17:25] rahuliet2008 opened #1136 "OAuth for Web API Controller and Azure issue"
Hi,
    My web API is working fine in local environment but not when I deploy in Azure.I am trying to extract google analytics data.

[2017-12-14 17:30] rahuliet2008 commented on #908
Any solution to it.I am facing same issue.

Hi,
My web API is working fine in local environment but not when I deploy in Azure.I am trying to extract google analytics data.

I used below code and it was throwing Access denied error.
var credential = GoogleWebAuthorizationBroker.AuthorizeAsync(clientSecretJson,
scopes,
userName,
CancellationToken.None,
new FileDataStore(credPath, true)).Result;

I

[2017-12-14 21:50] cjones-starcom opened #1137 "nuget DCM Trafficking API Error while upgrading to latest version"
Hello,

This is Chris Jones from Starcom.

I am having trouble upgrading to Google.Apis.Dfareporting.v3_0 in our c# projects.

The error is the following:

Install-Package : Unable to resolve dependencies. 'Google.Apis 1.31.1' is not compatible with 'Google.Apis.Dfareporting.v3_0 1.32.0.1043 constraint: Google.Apis (>=
1.32.0)'.At line:1 char:1

However when I try to Uninstall and Install the pack

[2017-12-14 22:33] jskeet commented on #1137
There was a problem with nuget.org validation and publication today - while most API-specific packages were published successfully, the support libraries on which they depend were "stuck". This has now been resolved - I expect if you try to restore again now, you'll get Google.Apis 1.32.0 and all will be well.

Sorry for the trouble - we do make sure that we push in a sensible order, but the new v

[2017-12-15 09:33] LindaLawton commented on #908
What exactly is the error you are getting?   Is it asking for authentication?

[2017-12-15 09:40] rahuliet2008 commented on #908
It saying unable to launch browser in Azure web app.I deployed in VM as well

[2017-12-15 09:46] LindaLawton commented on #1136
What exactly is the error you are getting is it poping up and requesting acccess?

[2017-12-15 09:48] LindaLawton commented on #908
Sounds like its trying to launch the browser on the server and not on the users browser.  It works on localhost because you have the power to launch a new browser session on your local pic.   The problem comes when you try and deploy it and it trys to launch browser on the server rather in a new client browser.  You should be following this [authweb apps](https://developers.google.com/api-client-l

[2017-12-15 09:59] rahuliet2008 commented on #908
Yes I tried looking into authweb apps they have for MVC but not for API.My goal is to run a batch or an api which i can spin and get data into my sql table.

var result = await new AuthorizationCodeMvcApp(this, new AppFlowMetadata()).  but there is no library for web api  and I dont know it will work for azure web jobs

[2017-12-15 10:10] rahuliet2008 commented on #908
if I will be using API i will use azure data factory http module and i will schedule it to run everyday. If i have to use azure web jobs or batch i will pass exe but batch and jobs will not allow brouser to launch so stuck completely.

[2017-12-15 12:50] LindaLawton commented on #908
Whos data is this yours or your users?

[2017-12-15 14:21] rahuliet2008 commented on #908
its users which we are targeting thats why  badly we stuck

[2017-12-15 14:21] rahuliet2008 commented on #908
will google create library for API as they have for MVC?

[2017-12-15 14:26] LindaLawton commented on #908
You cant just use this as an api your going to have to allow your users to authenticate the code to do that they need to have a browser displayed, you need the mvc option.   Once you have their credentials stored you will be able to use them in your api.

[2017-12-15 16:12] rahuliet2008 commented on #908
through service account can i get all the data or my personal data only?

[2017-12-18 07:48] LindaLawton commented on #908
A service account is a dummy user.   You can share what ever data you want with it.   Yes you can share your personal data with it.    You could also have your users share their data with it directly but this isnt a good idea as its hard to keep things private.

[2017-12-21 04:56] baloodevil commented on #1068
@chrisdunelm Version 1.32 has been released.  Is the bug resolved in 1.32, or still need to use 1.30?

[2017-12-21 10:43] chrisdunelm commented on #1068
@baloodevil The `Unexpected character encountered while parsing value: <. Path '', line 0, position 0.` bug was fixed in v1.31.1, so if this is what you're referring to you can upgrade to v.32.0

[2017-12-21 10:48] chrisdunelm commented on #1083
Closing. Please re-open or file a new issue if a warning is required in any other docs.

[2017-12-21 10:48] #1083 closed

[2017-12-21 14:12] baloodevil commented on #1068
@chrisdunelm Thanks for the response.  I was having an issue related to the original issue of this thread.  I got your 2nd workaround option working, but not the first.  In the 1st, predictRequest.Execute() seemingly executes, but predictResponse is just null values in the typical ContentType and Data fields.  I'm fine using the 2nd workaround until this is resolved.  Thanks for your help.

[2017-12-22 12:18] jernelson7 commented on #983
Hello,
Just wondering if there is any update the timeframe for this. I have v1.32 and it does not seem to be supported (Windows throws a popup error when trying to authenticate).
If not, the Windows Mail app (which I believe is UWP) seems to have found a way around this. Do you have any suggestions for how to do what Microsoft did?

[2017-12-22 15:41] chrisdunelm opened #1138 "NuGet Packages and Dependencies"
*Transfer from `GoogleCloudPlatform/google-cloud-dotnet` [#1790](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/issues/1790) from @EatonZ*

Environment
- Visual Studio 2015
- .NET 4.6.2 Console Application

When installing a Google .NET package, such as Google.Apis.CloudKMS.v1, it wants to install a bunch of dependencies that don't really make sense. In the .NET Framework, these librar

[2017-12-22 15:51] chrisdunelm commented on #1068
@baloodevil Glad to hear you've got it working. Strange that the 1st workaround didn't work though. It should send exactly the same data as the 2nd workaround. I may investigate this if I get time in January.

[2017-12-22 16:42] chrisdunelm commented on #1138
@EatonZ Our packages target .NET v4.5, which requires a dependency on [`System.Net.Http`](https://www.nuget.org/packages/System.Net.Http/4.3.0) for the `HttpClient` and related classes. It's possible .NET4.6.2 doesn't require this dep an more, I haven't checked.

`System.Net.Http` under .NET4.6 has the cryptographic packages you are seeing as dependencies.
Interestingly, it *doesn't* have those de

[2017-12-22 16:42] #1138 closed

[2017-12-22 16:53] EatonZ commented on #1138
@chrisdunelm Can't you make another target for the next newest .NET version that doesn't need these dependencies?

Are there any adverse effects to removing the dependencies? I noticed some issues with proxying. I can double check the details on what was wrong there, but am curious if this is a bad approach and if I should really leave these packages there or not.

[2017-12-22 17:26] chrisdunelm commented on #1138
Yes, we could create .NET4.6/.NET4.7 targets, but we're unlikely to as this repo is now in maintenance mode.

The packages here are built against the `System.Net.Http` package so it's not surprising that it fails at runtime if the dlls contained in that exact package are not available at runtime.
Without examining the `System.Net.Http` code very carefully, it's impossible to know what the crypto (

[2017-12-22 17:28] EatonZ commented on #1138
@chrisdunelm Ok, I'll probably just leave them then.

What's the progress in moving the remaining code to the new repository - will that new one also have updated targets so this issue won't exist anymore?

[2017-12-22 17:52] chrisdunelm commented on #1138
It's not as simple as just moving code.
The new libraries use a completely different RPC mechanism (gRPC over http2, rather than REST over HTTP1.1 in this repo). There are server-side changes that drive the schedule for new gRPC-based client libraries.

But yes, the new `Google.Cloud` client library packages are much more likely to get updated targets as and when necessary.

[2017-12-29 18:18] ScottHero opened #1140 "Firebase Cloud Messaging (FCM) Access Token Issue"
For some reason the `GoogleCredential` does not seem to be creating an appropriate credential when accessing FCM. Looking off of the instructions at [Authorize Http v1 send requests](https://firebase.google.com/docs/cloud-messaging/auth-server) I followed the basic format of the Java example with this code:

[code]

The instructions on the site linked above say that I only should need the scope "h

[2018-01-01 05:46] EatonZ opened #1141 "OAuth id_token missing information on refresh"
I've run into an interesting issue (bug?) with Google OAuth/OpenID Connect authentication. While it's not _directly_ an issue with this project, I think it's the best place to report it since it has all the related authentication code, which in turn may cause confusion if other people use the authentication code in this project the same way I am. If there's a better place to report this, please le

[2018-01-02 08:28] jskeet commented on #1140
Hi Scott,

Sorry for not replying before - everyone on the team has been on holiday.

When you specify scopes for an API, that makes it use an OAuth2 token rather than using JWTs - see https://github.com/google/google-api-dotnet-client/blob/be6bf4ea35bcf6a46daaca1cdc662938b2c36214/Src/Support/Google.Apis.Auth/OAuth2/ServiceAccountCredential.cs#L211. So it's not a surprise that this token isn't a J

[2018-01-02 17:55] ScottHero commented on #1140
Hey Jon,

No problem at all, thanks for your response! When I saw "OAuth 2.0 token" in the documentation I assumed that it meant it would be a JWT so thank you for clarifying that part. I think the scope is required since it is mentioned in the [firebase documentation](https://firebase.google.com/docs/cloud-messaging/auth-server) (under the "To retrieve an access token:" portion of the page) so it

[2018-01-02 18:11] jskeet commented on #1140
Thanks for the extra detail - I'll try to reproduce this tomorrow and experiment with it.

[2018-01-03 12:02] jskeet commented on #1140
Thanks for the complete sample - that really helped.

I believe this is the problem:

[code]

That's going to create a header with a value of something like `"Bearer System.Threading.Task`1[System.String]"` - which isn't what you want.

I would suggest this instead:

[code]

Assuming you've also changed the URL to use your project ID, I'd *expect* that to work - I've just managed to get a response

[2018-01-03 14:26] ScottHero commented on #1140
Thanks for pointing that out! I guess while reorganizing the code before posting it I must have forgotten the await. Making the change that you mentioned now gives me a 403 forbidden response that doesn't seem to include any specific details about the reason for the error outside of the response code.

[2018-01-03 14:28] jskeet commented on #1140
Do you have the FCM API enabled in https://console.cloud.google.com/apis/dashboard ? That's what I had to do to get it to work.

[2018-01-03 14:53] ScottHero commented on #1140
Wow, that makes all the difference. Now I am getting back a 200 and can see that the message is recorded on the dashboard. I looked through the FCM server documentation and didn't see anything mentioning that the API should be enabled. Is there somewhere that this step is mentioned that I was missing?

[2018-01-03 15:07] jskeet commented on #1140
I'm afraid I don't know - I haven't used Firebase at all aside from implementing the Firestore API for C#. This repo covers an awful lot of APIs, and we're not closely connected with most of them.

[2018-01-03 15:31] ScottHero commented on #1140
No problem, I guess then that you knew to ask that since it is probably a common user error when using Google APIs in general. I will go ahead and leave a comment on the firebase fcm documentation mentioning that not having the API enabled can cause it not to work and asking them to include something about it (unless they already do have it and I keep missing it).

Thanks so much for your help Jon

[2018-01-03 15:31] #1140 closed

[2018-01-03 16:55] chrisdunelm commented on #1136
Closing due to no response. Please comment if there is more information.

[2018-01-03 16:55] #1136 closed

[2018-01-03 16:56] chrisdunelm commented on #1137
Closing as resolved. Please comment/re-open if this is still a problem.

[2018-01-03 16:56] #1137 closed

[2018-01-03 17:00] chrisdunelm commented on #1141
Thanks for reporting this. I will see if I can reproduce the problem, and make sure I understand what the expected behaviour is here.

[2018-01-03 17:48] EatonZ commented on #1141
Happy to provide a sample project if you cannot - just let me know.

[2018-01-03 17:50] chrisdunelm commented on #1141
@EatonZ Yes, if you can provide a project that'd be really helpful. Thanks.

[2018-01-03 19:12] EatonZ commented on #1141
@chrisdunelm See below for a sample project (using this library) you can run. Fill in your client info (create your OAuth credentials as "Other") and run it.

[Google OAuth Sample.zip](https://github.com/google/google-api-dotnet-client/files/1601415/Google.OAuth.Sample.zip)

[2018-01-03 20:25] chrisdunelm commented on #1141
@EatonZ Thanks, I'll look at this tomorrow.

[2018-01-04 08:43] LindaLawton commented on #1141
I tested this on the [Oauth2 playground](https://developers.google.com/oauthplayground/) and sent these scopes as you showed

Initial request :

[code]
Decoded Id token

[code]

Response from Refresh of access token

[code]
Decoded Id token

[code]
Hes right the profile claims are missing from the id token in the response from a refresh token.     I am leaning towards this being a bug in the auth

[2018-01-04 09:38] LindaLawton commented on #1087
[Management API Cost Data Upload .csv Doesn't Have Filename](https://issuetracker.google.com/issues/35353754)

Its a consequence of the client libraries stripping the filename from POST body information

[2018-01-04 11:50] LindaLawton commented on #1141
I got a response they are looking into it.

[2018-01-04 17:24] EatonZ commented on #1141
I've observed that (2 times now) if you wait a while before refreshing the token, it will contain the claims. I waited overnight, refreshed, and it was a complete ID token.

Oddly, refreshing a second time right after brings back an incomplete ID token.

[2018-01-10 12:27] pkeuter commented on #1070
Is there a reason that this is closed? From what I can see, there currently isn't a way to do claims and asset management from the YouTube Data API.

[2018-01-10 13:27] LindaLawton commented on #1070
@pkeuter this library can only help you access data returned by the an API we have no control over what the APIs themselves can do.     You would have better luck posting an issue up on the [YouTube API issue forum](https://issuetracker.google.com/issues?q=componentid:186600%2B)

[2018-01-10 14:40] pkeuter commented on #1070
Got it, will do. Thanks @LindaLawton.

[2018-01-11 13:53] gowthamb4 commented on #911
Can someone please where we need to add this code or change and please specify the location of file in system.

[2018-01-11 14:30] chrisdunelm commented on #911
Do you mean the `ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;` line of code?
If so, then it needs to be one of the first statements in your code. Probably best to be done before any network connections occur.

What file do you mean?

[2018-01-11 15:12] gowthamb4 commented on #911
somewhere i read the below one

Add the below code in web application's Global.asax Application_Start() section like shown in the image.
Code: System.Net.ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12 | SecurityProtocolType.Tls11;
We need to explicitly select the Protocols (TLS 1.1 or TLS 1.2). It resolves issue that is using secured(HTTPS) webservice in the web application not

[2018-01-12 03:13] Thaina commented on #531
Please support unity

[2018-01-12 03:57] EatonZ commented on #1141
@LindaLawton Any news from the team? I continue to get the full claims at random times.

[2018-01-12 11:33] LindaLawton commented on #1141
Only that they would look into it TBH i dont expect to hear from them about bugs like this.   My job is to report them they do what they want after that.  @chrisdunelm  or @jskeet  may be able to get some additional information internally

[2018-01-12 11:52] richardClacksman opened #1143 "The CalendarService is unmockable"
I've been trying to mock the CalendarService to create unit tests for my code that depends on this using Moq. I was unable to create a mock that worked.

It would be great if there was greater use of interfaces throughout to make mocking much easier.

[2018-01-15 07:11] pkg256 opened #1144 "Google knowledge-graph example NoClassDefFound Error in JsonPath.read"
**NoClassDefFound Error: org/apache/commons/lang/Validate at com.jayway.jsonpath.JsonPath.read**

import com.google.api.client.http.GenericUrl;
import com.google.api.client.http.HttpRequest;
import com.google.api.client.http.HttpRequestFactory;
import com.google.api.client.http.HttpResponse;
import com.google.api.client.http.HttpTransport;
import com.google.api.client.http.javanet.NetHttpTransport

[2018-01-15 07:20] #1144 closed

[2018-01-17 10:14] rafik2k10 opened #1145 "'root' in parents not working for the Q parameter of FilesResource.ListRequest"
In API explorer "https://developers.google.com/apis-explorer/#p/drive/v3/drive.files.list?q='root'+in+parents" it is working fine, but in SDK it is not working.

[2018-01-17 22:47] jonschoning opened #1146 "Google Sign-In for iOS/Android: Authenticate with a Backend Server"
https://developers.google.com/identity/sign-in/ios/backend-auth#using-a-google-api-client-library

Using a Google API Client Library
Using one of the Google API Client Libraries (e.g. Java, Node.js, PHP, Python) is the recommended way to validate Google ID tokens in a production environment.

there are examples for JAVA, NODE.JS, PHP, PYTHON
JAVA uses `GoogleIdTokenVerifier`
NODE.JS PHP PYTHON use

[2018-01-20 18:02] Piachu91 commented on #983
@jernelson7 I asked Microsoft about this - they are using they own totally custom implementation AFAIK

[2018-01-20 22:09] jboarman opened #1147 "Difference b/t Google.Apis.Plus.v1 and Google.Apis.PlusDomains.v1"
This is probably blindingly obvious to some, but what is the difference between these two packages?

1. Google.Apis.Domains.v1
2. Google.Apis.*Plus*Domains.v1

I'm probably just not familiar enough with the way the API docs are organized.  Where could I find this comparison information myself?

[2018-01-21 09:51] jskeet commented on #1147
I suspect that "PlusDomains" was discontinued in favour of "Plus" - it hasn't been updated since 2013, it's never been out of beta, and it's not present in the API discovery document any more.

As for how you'd work that out yourself - basically I just looked at nuget.org and [the discovery doc](https://www.googleapis.com/discovery/v1/apis).

@chrisdunelm Perhaps we should delist packages that are

[2018-01-22 08:31] chrisdunelm opened #1148 "Delist non-GAed packages that no longer have a discovery doc"

[2018-01-22 08:31] chrisdunelm commented on #1147
Delisting such packages sounds like a good idea to me. Opened #1148 to track. Closing this issue.

[2018-01-22 08:31] #1147 closed

[2018-01-22 13:19] jernelson7 commented on #983
@Piachu91 Ok, at least I know it's doable somehow. Any update on the timeline for supporting this?

[2018-01-22 13:29] Piachu91 commented on #983
@jernelson7 I think that you have wrong assumptions - everything is possible, but doability depends on time and money that you want to spend

[2018-01-22 14:13] jernelson7 commented on #983
@Piachu91 yea, that's kinda my point. I'm not going to waste time (and money) implementing my own solution if this project will add support for it soon. It was marked for v1.31, then postponed without explanation ("chrisdunelm removed this from the v1.31 milestone on Dec 8, 2017") . So...will it be available soon or should I assume that it will not be, and thus I should try to create my own soluti

[2018-01-22 14:27] LindaLawton commented on #983
I understand that its frustrating but the developers who work on this project do so in their free time.   Which is understandably under a lot of demand.    Things get done on open source projects when the developers have time.

[2018-01-22 23:56] vpsuser opened #1149 "Need urgent help: Unable to add Google.Cloud.Storage.V1.2.1.0"
I am consistently seeing issues with adding the nuget Google.apis.Storage to my xamarin project.

Please kindly find the error message I am seeing while trying to add the Nuget Google.apis.Storage with my Xamarin studio.

Attempting to resolve dependencies for package 'Google.Cloud.Storage.V1.2.1.0' with DependencyBehavior 'Lowest'
Resolving dependency information took 0 ms
Resolving actions to in

[2018-01-23 07:01] jskeet commented on #1149
Firstly it sounds like you're trying to add Google.Cloud.Storage.V1, not Google.Apis.Storage.v1; these are different packages. The first is a hand-written wrapper around the second.

Not of these libraries is supported on Xamarin, although the second is more likely to work than the first... But probably not with the targets you currently have.

Closing as this is not a supported scenario.

[2018-01-23 07:01] #1149 closed

[2018-01-23 07:20] vpsuser commented on #1149
@jskeet

Thank you for your response. Correct I was trying to add Google.Cloud.Storage.V1.2.1.0 wrapper package. If these client native google storage apis won't work with Xamarin, what are the other options available to use google storage apis with Xamarin mobile app?

What are the appropriate target to use for google.Apis.Storage.V1 to work? Any recommendations?

[2018-01-23 07:24] jskeet commented on #1149
We don't have any supported libraries for Xamarin (or Unity, or UWP) for Google Cloud Storage at the moment. We'd *like* to support them, but we don't at the moment.

@chrisdunelm knows more about the precise profiles which are more likely to work with Google.Apis.Storage.v1 than I do, but ideally you'd target netcore or netstandard rather than the old PCL profiles. It looks like your current targ

[2018-01-23 08:13] chrisdunelm commented on #1149
As far as I know, it is not possible to use the libraries currently on nuget with Xamarin.

Changes to both the `Google.Apis.Auth` and `Google.Apis` packages were required to support Xamarin, and I only tested on Android, not iOS. To support Android I added the `monoandroid403` target to both packages.
@vpsuser This is all open source, so you are of course welcome to try this yourself. However, th

[2018-01-23 08:35] vpsuser commented on #1149
@chrisdunelm

Thank you for this valuable information.

We'd like to use the REST API for transferring unstructured data from mobile device to GCP storage in this case. We do have a Node.JS backend server deployed however this backend server is designed and implemented to interact with our backend DB and providing security features.

We have individual user's unstructured data which we need to sto

[2018-01-23 08:57] jskeet commented on #1149
Yes, you can use that REST API, although you'll still need to work out how to handle the authentication, which may well be non-trivial. See https://cloud.google.com/storage/docs/json_api/ for documentation of the REST API.

[2018-01-23 09:51] chrisdunelm commented on #1143
Unfortunately you are correct that the libraries in this repo are generally unmockable.
This repo is now in [maintenance mode](https://github.com/google/google-api-dotnet-client/blob/master/FAQ.md#what-does-this-library-being-in-maintenance-mode-mean), so we won't be doing any work to improve this. Wrapping the calendar API with your own thin mockable code is probably the best solution.

APIs supp

[2018-01-23 09:51] #1143 closed

[2018-01-23 09:59] chrisdunelm commented on #1146
I'm not entirely clear what you're asking, but if you're asking how to validate a JWT in .NET, then use the [`GoogleJsonWebSignature.ValidateAsync(...)`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/GoogleJsonWebSignature.cs#L128) method.

If you're asking something else, please re-open and add some more detail. Thanks.

[2018-01-23 09:59] #1146 closed

[2018-01-23 10:20] jskeet commented on #1143
Just to add to this, it's feasible to create your own `HttpClientHandler` to mock the underlying calls. That's what we do for some of our libraries - see https://github.com/GoogleCloudPlatform/google-cloud-dotnet/tree/master/tools/Google.Cloud.ClientTesting for the classes we're using, and

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/cb8ae021e5eb97843b81a282a6ed7653348028d4/api

[2018-01-23 10:22] chrisdunelm commented on #1143
Thanks @jskeet, I should have remembered that ;)

[2018-01-23 10:34] chuese commented on #983
@chrisdunelm Just checking in. On Nov 20 I posted that my OAuth2 workflow using the dotnet API libraries v1.31.0 beta 01 is working for my UWP C# app.  Any update on when the fix will find its way into your mainstream library?  Just asking because the same authorisation flow does not work in the v1.32 releases.  If I am not mistaken, I think you fixed it in the beta release by defaulting the datas

[2018-01-23 15:59] baal2000 opened #1150 "Feature request: Open up HttpClientFactory "Simple" HttpMessageHandler initialization"
Sometimes it is desirable to make `Google.Apis.Http` use other "simple" `HttpMessageHandler` than the  handler imposed by `Google.Apis.Http.HttpClientFactory`.

It is possible to do so by initializing `BaseClientService.Initializer.HttpClientFactory` with custom implementation of `IHttpClientFactory`. Unfortunately, this is a bit cumbersome way of  achieving the objective:
- implement a class that

[2018-01-23 19:07] jskeet commented on #1150
Unfortunately it ends up being quite tricky, particularly since recent changes - in some cases we end up with two `HttpClientHandler` instances based on decompression settings.

Can you provide more information about what you're trying to accomplish with your own handler? It may be more easily provided as a new feature out of the box - or by modifying the `HttpClient` after construction. If not, c

[2018-01-23 19:26] EatonZ commented on #1141
@jskeet @chrisdunelm Any chance of getting more information on the status of a fix? It doesn't seem like anything has been done yet. Usually when I start working for the day, I get full claims once and that's it.
I'm just concerned it won't get fixed and it seems like a bug in Google's auth servers would be worth looking into.

[2018-01-23 19:28] jskeet commented on #1141
I'll start asking internally tomorrow - will see where that leads.

[2018-01-23 19:42] baal2000 commented on #1150
@jskeet

Jon,
the use case stems from [System.Net.Http](https://github.com/dotnet/corefx/tree/release/2.0.0/src/System.Net.Http)  team working closely with us on fixing rare race condition issue in [winhttp stack](https://github.com/dotnet/corefx/issues/26278).  To simplify testing and finding the root cause we placed winhttp stack handling code (otherwise internal) into our source.

Google.Apis.B

[2018-01-23 19:48] jskeet commented on #1150
Well, for one thing we use properties on `HttpClientHandler` - `AllowAutoRedirect`, `AutomaticDecompression` etc. `WinHttpHandler` isn't an `HttpClientHandler`, so we couldn't use those properties. (It does have an `AutomaticDecompression` property, but we wouldn't want to take a dependency on `WinHttpHandler` and it has no type in common with `HttpClientHandler` with that property, as far as I ca

[2018-01-23 20:23] baal2000 commented on #1150
I see the issue. We would not want to see something like:
[code]
etc.

Creating own `IHttpMessageHandler` interface that supports everything that
[code]
requires from the handler instance is the way to go, probably. Not sure if the "niche" is wide and deep  enough to make it worthwhile. I may take a stab at that if agree.

I was also wondering about how "clean" `CreateHandler` interface method abo

[2018-01-23 20:30] jskeet commented on #1150
Well, if the `StreamInterceptionHandler` isn't present, for example, then anything expecting to use stream interception via request properties won't work.

Now very little code *does* use these extra features, but I'm wary of ending up with bugs filed because of using a mix of a custom handler and attempts to maintain the same features.

I'm very happy for you to create a PR and see what you can c

[2018-01-23 21:04] baal2000 commented on #1150
Going to PR if the change is beneficial. Closing the thread for now. Thanks.

[2018-01-23 21:04] #1150 closed

[2018-01-24 15:10] LindaLawton opened #1151 "Asp .net Core Authentication sample needed"
I think the closest thing we have currently is the [MVC sample](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#web-applications-aspnet-mvc)

We could use a sample for Asp .net core up on the main site as well.

Links back to [stack](https://stackoverflow.com/a/48421724/1841839)

Links to issue [933](https://github.com/google/google-api-dotnet-client/issues/933) and [1109](

[2018-01-24 19:04] LindaLawton commented on #1141
I just got a response back from the team

This is working as intended.
The user profile information is guaranteed to be included in the authorization code exchange response which is used by developer to sign in the user. Developers are expected to cache/persist the user profile information until the next time they get a response containing profile information during refresh token exchange.
The rea

[2018-01-24 19:24] LindaLawton commented on #1141
I think we need to consider Google's scale,  some developers myself included have been known to request a new access token every request.    Even small reduction in claim size would probably make a big difference on their end.

I don't think its documented but I can suggest to them that they do.   its worth noteing

[2018-01-24 19:28] EatonZ commented on #1141
@LindaLawton Makes sense, and yes they should document it.

I'm ready to close this issue now, just one more question - how often does profile information get returned during the refresh token exchange? Are there set times it is returned, or is it random?

[2018-01-25 05:14] jackson777 opened #1152 "Reset client secret does not invalidate the access token."
Let's assume the following scenario:

1. Sign in via OAuth 2, with the valid ClientId and the valid ClientSecret.
2. Attempt to use UrlShorternerService to generate a shortened link. (Successful)
3. Reset Client Secret.
4. Sign in using the old ClientSecret.
5. Still can generate link. (Successful)

So, even after I have reset the client secret, I am still able to generate shortened links for as l

[2018-01-25 14:47] LindaLawton commented on #1152
I think this is working as intended i dont think a client secret is used to validate the access token every time you user it.   I think its only used when you request a new access token from the server.

Which would mean the documentation is in correct.

[2018-01-25 14:48] jskeet commented on #1152
That sounds likely yes. I'll ask internally though.

[2018-01-25 14:50] LindaLawton commented on #1152
@jackson777  if you want to kick out everyone try deleting the client id that should do it.

[2018-01-25 15:30] jskeet commented on #1152
I've heard back, and yes - it effectively stops the access tokens from being refreshed, but doesn't prevent the use of existing access tokens:

Closing as all code is working as intended.

[2018-01-25 15:30] #1152 closed

[2018-01-25 22:03] chrisdunelm commented on #1148
Done. All non-GA packages without discovery docs are delisted.

[2018-01-25 22:03] #1148 closed

[2018-01-26 16:42] eluchsinger commented on #533
@cldons I get an exception: Client is unauthorized to retrieve access tokens using this method.
Did you have to work around that? Or do I have something configured wrong?
Can we somehow make an official example on how to do this?

[2018-01-26 16:50] eluchsinger opened #1154 "Examples Service Account using JSON"
I have found no complete documentation on how to use OAuth with Service Accounts and JSON "key" files. Can anyone make an example or link to one?

Do I need to implement an `AuthFlowMetadata` for this? If yes, how?

[2018-01-26 16:53] jskeet commented on #1154
No, you just use the `GoogleCredential.FromFile` method:

[code]

[2018-01-26 17:12] cldons commented on #533
I guess that is more of an auth problem directly with the APIs and the user you are trying to use. Make sure that you configure correctly your auth settings, as described here (for instance):
https://stackoverflow.com/questions/42784640/client-is-unauthorized-to-retrieve-access-tokens-using-this-method-gmail-api-c-s

My solution was more focussed on how to achieve impersonation / setting a private

[2018-01-26 17:36] eluchsinger commented on #1154
[code]

This should be enough? I am getting 0 files from the ```driveService.Files.List()```, even if my Scope is ```DriveService.Scope.Drive```. Do I have to provide a username or something?

[2018-01-26 17:48] jskeet commented on #1154
The Drive API is aimed at *users* - I doubt that the service account you're trying to use for the credentials has any files.

Typically you want to use UserCredential for user-oriented APIs - at which point yes, you need the authentication flows. The exact nature of that depends on the type of your application, but https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth has various

[2018-01-26 18:01] eluchsinger commented on #1154
Ok, thank you Jon. I thought I could access a user's data using the Service Account.

[2018-01-26 18:01] #1154 closed

[2018-01-26 18:32] jskeet commented on #1154
You may be able to access an impersonated user's data by providing the service account in some situations - that's the somewhat-unsupported scenario you saw in another issue. But that's only for particular situations where an entity has access to some aspects of a user's data.

In *general*, a service account can't get at user data - aside from anything else, you weren't specifying *which* user's

[2018-01-26 20:07] eluchsinger commented on #1154
That's what I am trying to achieve. It is a small web application that saves pictures in Google Drive for simplicity, but it asks for user authentication every time. The idea was to do something like server-to-server authentication instead.

[2018-01-26 20:14] jskeet commented on #1154
If the files belong to a user, you won't be able to access them without that user's permission. However, you could retain the refresh token for each user, to avoid having to reauthenticate every time.

[2018-01-27 12:23] eluchsinger commented on #1154
So I could change the permissions of the files (or even a folder?) to give the Service Account access.

[2018-01-27 12:57] jskeet commented on #1154
It's unclear at the moment what you're trying to achieve. You'd need to give a clearer description of the overall application before we could suggest anything. This sounds like it would be better as a question on Stack Overflow, to be honest.

[2018-01-28 01:17] vpsuser commented on #1149
Hello there,

We are trying to make REST API calls to the Google Cloud Storage endpoint (https://www.googleapis.com/storage/v1).  However we are not able to authorize using OAuth2.

Getting this error:
[code]

Could you please kindly provide a sample Google REST API endpoint Authentication code for us to refer. We are looking for additional header parameters to correctly authenticate and call the

[2018-01-28 07:29] jskeet commented on #1149
I can't provide sample C# code for the endpoint, because we encourage users to use the Google.Apis.Auth library wherever it's supported - and for unsupported platforms, we can't provide a sample because there are too many different options.

However, here are some links for further information that could bwe useful:

- [The general Google OAuth2 developer guide](https://developers.google.com/ident

[2018-01-29 09:53] chrisdunelm commented on #533
@eluchsinger Yes, this is more likely to be an problem with your auth configuration.
@cldons Just so you know, there is now a `CreateWithUser()` method to set the `user` on a service credential: https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/GoogleCredential.cs#L276

[2018-01-29 15:08] LindaLawton commented on #533
@eluchsinger  which api are you trying to access?   Not all APIs support service accounts.

[2018-01-29 19:20] ajfleming1 opened #1155 "Web request to 'https://accounts.google.com/o/oauth2/token' failed."
Received this error when calling API from a service account. Cannot seem to track down the root cause.

Error testing email server conn: DotNetOpenAuth.Messaging.ProtocolException: Web request to 'https://accounts.google.com/o/oauth2/token' failed. ---> System.Net.WebException: The underlying connection was closed: An unexpected error occurred on a send. ---> System.IO.IOException: Authentication

[2018-01-29 19:29] jskeet commented on #1155
I don't know what DotNetOpenAuth is - only a single frame in that stack trace is from the Google.Apis library. Is there any reason you're using DotNetOpenAuth instead of Google.Apis.auth?

[2018-01-30 14:37] LindaLawton commented on #1155
It looks like you are either using a proxy or are behind a firewall and having issues with  DotNetOpenAuth.   If you are using DotNetOpenAuth and not the Google.Apis.Auth IMO we cant help you here maybe you will have better luck on [stack overflow](https://stackoverflow.com/questions/48509066/openauth-google-api-donet-an-existing-connection-was-forcibly-closed-by-the-re)

[2018-01-31 18:01] ClarenceMG commented on #555
Remove all nugets AWSSDK
start by adding Microsoft.Net.Http nuget
Add AWSSDK.Core, S3 and then Cognito + everything you need

If you already had Microsoft.Net.Http added then delete it and add it again

[2018-02-01 20:13] ivmbusiness opened #1156 "ContactGroup.MemberResourceNames always null which makes impossible to determinate which contact to which Group"
[code]

//fullGroupInfo.MemberResourceNames is null though fullGroupInfo.MemberCount equal 7
//even tried
[code]
//same result  fullGroupInfo.MemberCount=7 and fullGroupInfo.MemberResourceNames

[2018-02-01 20:18] jskeet commented on #1156
It's not clear to me what the issue is here. If you issue the same request with the [API explorer]( https://developers.google.com/apis-explorer/#p/) do you see the same result? If so, it's unlikely we'll be able to help you - the Google engineers in this repo are familiar with the support libraries and the code generator, but not with each individual API. The [Google People API documentation](http

[2018-02-01 20:49] ivmbusiness commented on #1156
Thank you for prompt reply,
API explorer returns pretty much the same as .ExecuteAsStream(), and there no memberResourceNames.
Thought this is the place I supposed to write issue I faced with google API, didn't expect it should be Stack Overflow :)
Feel free to remove this issue, I would rather try to get necessary information through GData first, and maybe later will post it on stack overflow - d

[2018-02-01 20:56] jskeet commented on #1156
This is definitely the place to file any .NET-specific issues with the client libraries themselves, but with a huge number of APIs that Google provides, the .NET library team can't provide expert guidance on them all, I'm afraid. Good luck with your further attempts.

[2018-02-01 20:56] #1156 closed

[2018-02-01 21:29] ivmbusiness commented on #1156
Found an answer on stack overflow, apparently need to pass not null in .MaxMembers property, and google API responds with proper respond. Not sure if .net wrapper have to change anything regarding this.

[2018-02-02 11:27] chrisdunelm commented on #497
In case anyone ends up here, there is now a `GoogleCredential.FromAccessToken(string)` method to do exactly this.

[2018-02-03 17:08] dpjha commented on #984
Any progress on this issue?

[2018-02-03 17:51] chrisdunelm commented on #984
None yet.

@dpjha Would Xamarin support something you'd use, if it was available? Are you able to briefly describe what you'd use it for?

[2018-02-03 21:20] EatonZ commented on #1141
@LindaLawton Can we get some final info on that so we can close this? ^

[2018-02-03 21:24] jskeet commented on #1141
I would suggest that it wouldn't be random, but that the team is unlikely to want to make any guarantees about it.

[2018-02-04 10:53] DungP90 commented on #833
I got the same problem and solved it. Just by reading whole file into a MemoryStream... GLuck

[2018-02-04 15:32] starostin13 opened #1157 "DriveService haven't fields for work with folders"
DriveService haven't fields as Parents and Children

[2018-02-04 15:35] #1157 closed

[2018-02-05 09:09] LindaLawton commented on #1141
I agree with @jskeet things may change in the future so while they agree to document it i dont think they are going to give us any hard and fast info.

_I just wish i could use this excuse with my developers who insist on getting the in the ID token every time_

[2018-02-05 16:55] EatonZ commented on #1141
Very well, let me know if they ever document this behavior.

[2018-02-05 16:55] #1141 closed

[2018-02-07 15:29] RickCooke commented on #747
Hi, I'm using the VisionApi in the following manner (almost exact copy of the dotnet example in this repo)
[code]

and am getting this error. I've tried the above solutions but some don't seem as applicable since the api from nuget now installs with Newtonsoft.Json 10.0.0.2. What is unique about my case is that I'm running this exact code in two different projects: One is a test project that is an

[2018-02-07 15:34] jskeet commented on #747
@RickCooke: Please provide more context of which credentials you're trying to use, how they're configured, and how your code is running. (For example, if it's running as a service, that may well have a different set of environment variables available.)

[2018-02-07 15:59] RickCooke commented on #747
I'm using Service Account credentials via setting the environment variable GOOGLE_APPLICATION_CREDENTIALS a path containing the json file I get from the Google Cloud Platform Dashboard - Credentials Page. The output type of the project containing the error producing code is Class Library and the project containing the working code is a Console Application.

[2018-02-07 16:16] jskeet commented on #747
Right, but how are you running the code that's in the class library? If the path to the file is correct, I suspect that you're running the code as a Windows account that doesn't have access to the file.

[2018-02-07 16:54] RickCooke commented on #747
Both are being run from the same account and both run from Visual Studio as admin

[2018-02-07 16:59] jskeet commented on #747
Okay, if you're running from Visual Studio, can you run it in a debugger and set the debugger to break as soon as `InvalidOperationException` is thrown? That way you should be able to see what the original exception is.

@chrisdunelm What do you think to a change to pass the exception [here](https://github.com/google/google-api-dotnet-client/blob/b26fd3effa79808c229d5bf8814777ecc90a7193/Src/Suppor

[2018-02-07 17:08] chrisdunelm commented on #747
@jskeet Yes we should definitely pass the exception into the `InvalidOperationException`. It can go out in v1.32.2
I'll prepare a PR (unless you've already done it)

[2018-02-07 17:44] RickCooke commented on #747
So I did that and now whenever I step over the .Create() line it asks me to find ChannelPool.cs ...?
Original location: C:\Users\jon\Test\Projects\gax-dotnet\releasebuild\src\Google.Api.Gax.Grpc\ChannelPool.cs
![image](https://user-images.githubusercontent.com/8657303/35932027-681fdecc-0beb-11e8-8a01-caa4bcdb6f99.png)

Is this what you needed or am I missing a step where I can provide more helpful

[2018-02-07 17:46] jskeet commented on #747
You shouldn't need to step through anything - just let it break when the exception is thrown, and cancel anything that needs to load the symbols. You probably won't end up seeing any source code, but I'd still expect you to be able to see the original exception in the locals window.

[2018-02-07 18:01] RickCooke commented on #747
So I did as you suggested and the symbol loading prompt appears which results in a "Locating Source" box which crashes visual studio (5 out of 5 times). If I don't set VS to break upon throwing an InvalidOperationException I manage to grab the following stack trace from the service's logs:
2018-02-07 09:53:59.288 [18 ] ERROR - Error during GoogleVision Parsing: Error reading credential file from l

[2018-02-07 18:12] jskeet commented on #747
Hmm... unfortunately we can't do much about VS crashing :(

It does sound like it's a Json.NET exception underlying all of this though.

Next thing to try: in both the working and non-working app, try logging `typeof(JsonConverter).Assembly.FullName`. That way we'll find out which version of Json.NET is actually being used.

Alternatively, just run the code that's failing explicitly:

[code]

I'd

[2018-02-08 17:22] RickCooke commented on #747
Ah ha! Finally getting somewhere! This threw an exception of
"The type initializer for 'Google.Apis.Json.NewtonsoftJsonSerializer' threw an exception."
-Inner exception: "Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (

[2018-02-08 17:26] jskeet commented on #747
Right. I strongly suspect you've got a binding redirect problem somewhere. You may well have multiple packages that depend on different versions of Json.NET, and need a binding redirect to pin them to the most recent of all the required ones. Normally NuGet does that for you, but I've seen problems like this before.

[2018-02-08 17:34] RickCooke commented on #747
Fixed! I the Class Library that contained the Api code had Newtonsoft.Json 10.0.2 Installed (same as the working code) but the Service that utilized the library only had Newtonsoft.Json 8.0 installed. Once this was upgraded to 10 everything worked fine!
Thanks so much for your help and your responsiveness!

[2018-02-08 17:51] jskeet commented on #747
Hooray - glad it's sorted. Chris's recent change means that from 1.32.2 onwards, you won't need to go to all the extra effort to get at the original exception. It'll just be in the InnerException.

[2018-02-09 07:44] jhavikas84 commented on #508
We can throw timeout exception using thread when the thread meets the timeout value, below is the code and it serves my purpose. Here i have set the timeout value to 2 mins (120,000 milliseconds).

using (MemoryStream stream = new MemoryStream(Encoding.UTF8.GetBytes(SystemDataUtils.ConvertToJson<GDriveConfiguration>())))
            {
                UserCredential cred = null;

                va

[2018-02-09 13:06] tchelidze commented on #889
Any updates ?

[2018-02-09 13:08] jskeet commented on #889
No, Maps still doesn't expose their API in a form that we generate libraries from.

[2018-02-11 05:07] mikecg commented on #920
It appears according to the comments here and at #1026 that id_token validation has been implemented in dotnet. Is there any example or documentation on how to do it? It is not so clear to me how to make use fo the code checked in to fix #1026. Any help would be much appreciated.

[2018-02-11 07:22] LindaLawton commented on #920
Have you had a look at the tests 7n the pull request you linked?

[2018-02-12 13:29] chrisdunelm commented on #920
@mikecg Once you have a string containing the id_token (an id_token is a JWT), pass that string into [`GoogleJsonWebSignature.ValidateAsync`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/GoogleJsonWebSignature.cs#L70). `ValidateAsnyc` will throw an [`InvalidJwtException`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Googl

[2018-02-12 18:03] mikecg commented on #920
Thank you, I figured it all out. Appreciate the help!

[2018-02-13 10:03] LindaLawton commented on #984
Question on stack [get Google Credential throws Unhandled Exception
](https://stackoverflow.com/q/48763914/1841839)

[2018-02-14 20:19] banshee opened #1162 "StorageClient.Create() fails in Xamarin iOS"
(As far as I can tell, Xamarin isn't really supported, but I figured this a) might help someone else seeing the same issue, and b) might even get fixed :-])

Using Xamarin iOS, installed Google.Cloud.Storage.V1.2.1.0 nuget.

In Xamarin iOS, calling:

[code]
Gets an exception
[code]

[2018-02-14 20:19] banshee commented on #1162
Xamarin version information:

[2018-02-14 23:50] chrisdunelm commented on #1162
Thanks for this report.
I can confirm that Xamarin is not currently supported; and is known to not work - as you've discovered.
We are still considering supporting it, albeit more slowly than any of us would like.

[2018-02-20 19:28] batooo opened #1164 "Uploading larger then 2GB file"
I`m unable to upload 2.06 GB file, for smaller files it just works fine.

File size: 2215659520 bytes
Upload Status: Failed
Bytes send: 2139095040 bytes
Upload Exception Message: Invalid format.
Google.Apis.Storage.v1 1.20.0.734
.NET 4.5.2
Mono platform

Any suggestion or this is a bug?

Code:

[code]

[2018-02-20 19:33] jskeet commented on #1164
I would suggest using the media upload service - or more simply, the `Google.Cloud.Storage.V1` client library which makes things significantly simpler. I'm not in a position to try to reproduce the issue right now, but I can do so if necessary... although I'd definitely use the latest version instead of 1.20.

[2018-02-20 19:54] batooo commented on #1164
Exactly same error using latest version.
I`ll try Google.Cloud.Storage.V1 and let you know.

[2018-02-20 23:29] batooo commented on #1164
@jskeet I`m getting the same error using Google.Cloud.Storage.V1.
exception: Invalid format.

[code]

[2018-02-21 06:29] jskeet commented on #1164
Okay, thanks - will investigate when I get a chance. (I'm going to edit your comment to remove some of the blank lines too.)

[2018-02-21 09:44] sabeersulaiman opened #1165 "Subscription fetching request fails on production server fails with the same credentials"
The following code is running on a Windows 2012 Server.
dotnet core version: 2.1.4
[code]

The code is a replication of the actual program. The exception I am getting is
[code]

But the code is running on the development machine. I am confused as of why this could be an issue in just the production server.

[2018-02-21 09:46] jskeet commented on #1165
The error message talks about clock skew being a potential problem, and that would definitely fit with it only being a problem on a specific machine. Have you checked the clock on the production server?

[2018-02-21 09:52] sabeersulaiman commented on #1165
@jskeet the clock was set to 5 minutes ahead - Thanks for the heads up. Closing the issue.

[2018-02-21 09:52] #1165 closed

[2018-02-21 10:58] jskeet commented on #1164
Okay, I've managed to successfully upload a 3GB storage file which is randomly generated - but that's from a stream that doesn't support random access. That goes through a different path in the Google.Apis code. Will try to reproduce with an actual file now. (I have a suspicion about where the problem might be, but I need to check.)

[2018-02-21 10:59] jskeet commented on #1164
Actually no - the code I've got *does* create a real file. Will try with your exact code now... in the meantime, could you change your code to dump the full exception (including stack trace) rather than just the message? That would make it a lot easier to diagnose.

[2018-02-21 11:40] jskeet commented on #1164
Okay, I've now tried with both .NET Core and .NET 4.5.1, and both are fine. I've tried with Mono, but both 4.8.0 and 5.8.0 failed to even start the upload properly for different reasons. Rather than me fighting with Mono for ages, could you let me know which version of Mono you're using, and a full stack trace?

[2018-02-22 13:08] batooo commented on #1164
Here we go: Mono JIT compiler version 4.0.2 (Stable 4.0.2.5/c99aa0c Wed Jun 24 05:31:11 EDT 2015)
I`m not updating it since my code is working and I know for this "mono bug" things.
OS is Centos 7.

Coming back soon with a stack trace.

[2018-02-22 13:19] jskeet commented on #1164
I'm not sure what you mean by 'I know for this "mono bug" things' but it sounds like this may very well be a mono bug - especially for a release coming up to 3 years old. Hopefully the stack trace will make things clearer.

Could you give more details on exactly how you're installing the packages? I don't know which platform that version of Mono would pick up - and the dependencies for the Google.

[2018-02-22 14:37] batooo commented on #1164
My code works fine with latest mono version.
Shall we just ignore this since 4.0.2 is 3 years old version?

[2018-02-22 14:39] jskeet commented on #1164
I think that would be best - everything points towards this being a mono bug. Closing for now.

[2018-02-22 14:39] #1164 closed

[2018-02-22 14:55] LindaLawton commented on #1164
Great research though @jskeet  i have seen this before now i know where to point people to .

[2018-02-25 08:24] ravidixit opened #1167 "Xamarin forms GoogleWebAuthorizationBroker does not return token"
I am creating a .net standard library which can be used for both iOS and Android projects in my Xamarin forms application and then i can use the drive feature to create and read file data in Xamarin forms application.

[The code which I have done so far can be found here](https://www.dropbox.com/s/ri0b27eyejq03rr/DrivePOC.zip?dl=0) please let me know if I am doing something wrong or is there a bug

[2018-02-25 09:32] jskeet commented on #911
@Eckee: It's hard to be more specific without knowing your context. gowthamb4's example is pretty specific if you're using ASP.NET. To be honest though, if you're running into this it suggest you're probably on a very old platform, and you should really look into updating to a more recent version of .NET.

[2018-02-26 16:53] tazotodua opened #1168 "Load GOOGLE_APPLICATION_CREDENTIALS without physical file (c#)?"
To my surprise, I was unable to find a way to load the credentials file from content on the fly.

If i have that content (` "type": "service_account", "project_id"......`) in string variable (i.e. obtained from web-response) , then I want to load that content directly, without storing into ".json" file.

Is there any way to load that directly?

[2018-02-26 16:58] jskeet commented on #1168
There's `GoogleCredential.FromJson(string)`, or `GoogleCredential.FromStream(Stream)` if you don't want to  convert binary data into text. There's no way that I know of *setting* the application default credentials via this though.

[2018-02-26 17:11] tazotodua commented on #1168
Thanks John!

Just the problem I have is that I've already tried that command, but **Google Translate Api** (while executing `TranslationClient.Create();`)  still throws exception, asking that `GOOGLE_APPLICATION_CREDENTIALS` environment variable should be set.

[2018-02-26 17:33] #1168 closed

[2018-02-26 19:01] Eckee commented on #911
@jskeet I'm so sorry, I found the solution in another thread, I had to manually upgrade to 1.24, that was the case.

[2018-02-28 08:55] arroyop opened #1169 "[FR] Improve GCE ComputeCredential.IsRunningOnComputeEngine() check"
I would like to request an improvement on the ComputeCredential.IsRunningOnComputeEngine() [1] check on the C# Library [2] as it return false positives when the instance is running on Google Compute Engine but the check does not return true.

Right now the check relies on a metadata check that some times times out.

Reproduction steps:
Fails randomly. High CPU usage can help trigger the issue.

Ca

[2018-02-28 08:58] jskeet commented on #1169
Which version of the library are you using? 1.32.2 has added retries which should improve things. If you haven't tried that yet, please do. If you *are* using 1.32.2, please could you give more details of how often you're seeing this and in what context, so we can try to reproduce?

[2018-02-28 10:31] amanpreetSO opened #1170 "I am using google calendar API and sometime for some accounts ListRequest.Execute() takes lots of time. i.e response never come. Any solution for it ?"
I am using the latest version of the google calendar API(1.32.1.0). Please reply as soon as possible.

[2018-02-28 10:35] jskeet commented on #1170
Please try executing the same request in the [API explorer](https://developers.google.com/apis-explorer/#p/). It seems unlikely that this is a client library issue rather than the API just taking a long time. Have you set a timeout for the request? If so, what is it?

Are you sure there's no response rather than an exception being thrown? Could you provide a minimal console app that demonstrates t

[2018-02-28 10:51] amanpreetSO commented on #1170
Thanks for the response. I have not set the timeout. Where to set it?
It takes time around 2 to 5 minutes or more and then it throws the System.Threading.Tasks.TaskCanceledException.

[2018-02-28 10:54] amanpreetSO commented on #1170
And Its does not have any pattern, some time it takes time and sometimes it gives the result quickly.
It might be because I am calling it parallelly for many accounts? some throttling issue

[2018-02-28 11:06] jskeet commented on #1170
Okay, so it's timing out - not hanging permanently. That's an important distinction, and encouraging. Timeouts can be configured by modifying the HttpClient of the service. (There's a Timeout property.)

If you're making many requests in parallel, it's possible that HttpClient is throttling the calls via a connection pool. That would probably depend on the framework version you're using and potent

[2018-02-28 11:39] amanpreetSO commented on #1170
This problem is mainly for https://developers.google.com/google-apps/calendar/v3/sync this feature.
I am fetching the incremental changes based on sync token. I am using 4.5 frameworks.
@jskeet suppose its related to throttling then what changes we need to make in the web.config file?

[2018-02-28 11:42] jskeet commented on #1170
If it *is* connection throttling, then the [`<connectionElement>`](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/connectionmanagement-element-network-settings) part of the network settings is the relevant bit - or *try* setting [ServicePointManager.DefaultConnectionLimit](https://msdn.microsoft.com/en-us/library/system.net.servicepointmanager.defaultconnectio

[2018-02-28 11:49] amanpreetSO commented on #1170
How to confirm that throttling is the problem? by reducing the parallel requests?

[2018-02-28 11:53] jskeet commented on #1170
Yes: run a test where you deliberately do lots of work in parallel, then another test where you do the same amount of work, but one request at a time, or potentially two requests at a time instead (so a "safe" level of parallelization). Make sure that you log the time taken for each request, and compare them.

[2018-02-28 12:11] amanpreetSO commented on #1170
ok, thanks. I will check

[2018-02-28 17:48] mikemeinz opened #1171 "Link to samples"
Please put a link to [https://github.com/google/google-api-dotnet-client-samples](https://github.com/google/google-api-dotnet-client-samples) in the Sample area of page [https://developers.google.com/api-client-library/dotnet/apis/youtube/v3](https://developers.google.com/api-client-library/dotnet/apis/youtube/v3)

[2018-03-01 09:08] jskeet commented on #1171
I've asked one of our engineers in Developer Relations to have a look at this. Note that there's already a link to a YouTube-specific sample repo, which I'd *expect* to be more useful than the generic one, for YouTube users.

[2018-03-01 18:20] SurferJeffAtGoogle commented on #1171
Hi Mike.  I'm the the Developer Relations Engineer whom Jon mentioned.

Which sample or page in https://github.com/google/google-api-dotnet-client-samples did you find useful for developers who want to call the YouTube API?

[2018-03-01 19:27] mikemeinz commented on #1171
The two ResumeableUpload samples.

[2018-03-01 19:27] #1171 closed

[2018-03-05 08:37] aimz76dk commented on #908
FlowMetadata is not supported in NET Core 2?

[2018-03-08 15:31] ivmbusiness opened #1172 "Google.Apis.Core throw exception if you use Newtonsoft.Json 11.0.0.0"
Hi,
Google.Apis.Core Dependencies says Newtonsoft.Json (>= 10.0.2)
but if you use Newtonsoft.Json 11.0.0.0
NewtonsoftJsonSerializer.Instance.Deserialize<TokenResponse>(...) thows
FileLoadException: Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0,...
as a result you have deliver config files with mapping - which is n't that convenient

[2018-03-08 15:34] jskeet commented on #1172
It should be fine so long as you have a binding redirect, which should be created for you automatically when adding dependencies.

Please could you give more details about *exactly* what you're doing?

- Which version of .NET are you targeting?
- What kind of project are you creating?
- Which kind of MSBuild project file are you using? (The "old style" one, or the ".NET Core SDK" style one?)
- Whi

[2018-03-08 15:50] ivmbusiness commented on #1172
binding redirect was created automatically.
But my point was that if you can't distribute binding redirect config along with your application - it becomes a problem because it throws exception. If it is by design then sorry for wasting your time and just close this issue.

just in case if you still need it my enviroment is
• targeting .net Framework 4.5.2
• console application
• not core SDK -  so

[2018-03-08 16:02] jskeet commented on #1172
If you can't distribute binding redirects with your application, then you basically can't use packages properly. They're just part of life with .NET, although they're handled differently in .NET Core. Note that this isn't specific to *this* library... you'll find the exact same experience with *any* library X that has a dependency on *any* other strong-named library Y. Without assembly binding red

[2018-03-08 16:02] #1172 closed

[2018-03-09 03:20] MelbourneDeveloper opened #1173 "Please Add Xamarin Forms Support"
I would like to use the Google Calendar API from Xamarin Forms. I wasn't able to port the sample project to Xamarin Forms UWP, or Android. This is the code:

[code]

I just get a non descriptive error on Windows 10 and Android. My guess is that the .NET Standard library is trying to pop up a browser window which would work fine from a .NET console app, but is failing on UWP, or Android.

Here is t

[2018-03-12 23:52] MelbourneDeveloper commented on #1167
I also need to get integration working with Xamarin Forms. But, I doubt that the library supports Xamarin Forms at all. I logged this bug: https://github.com/google/google-api-dotnet-client/issues/1173

If you do get Xamarin Forms working at all, I'd really like to hear about it.

My guess is that the .NET Standard library assumes that it has access to pop up a browser for oAuth, but actually does

[2018-03-14 05:46] Oskang09 opened #1174 "Upload() work well but UploadAsync() not working."
Version => Google.Apis.Drive.v3 [ v1.32.2.1156 latest stable version ]
C# WPF Application

Upload() work to empty and non-empty file
UploadAsync() not working to non-empty file only ( json file )

**Code ( C# )**
![untitled](https://user-images.githubusercontent.com/15674107/37385215-0df43a24-278e-11e8-8079-4126105c804b.png)

**File ( .json )**
`{"Last_Backup":"2018-03-14T01:07:10.1203002+08:00","

[2018-03-14 06:24] Oskang09 commented on #1174
Fixed with await request.UploadAsync(token) but the
Progresschanged only work when Starting and Completed doesn't display uploading

[2018-03-14 07:21] jskeet commented on #1174
Yes, "uploading" is only reported when a chunk has been uploaded but there's more data to read. In this case, the upload finishes in a single request. (See [code here](https://github.com/google/google-api-dotnet-client/blob/0bca929d8474981a492959a3e041b57c67b54dd8/Src/Support/Google.Apis/Upload/ResumableUpload.cs#L576))

I believe everything's working as intended here. Admittedly the `FormatExcept

[2018-03-14 16:09] BazinC opened #1175 "Dialogflow.v2beta1 : Problem with session name patterns with DetectIntentRequest"
I'm having trouble sending detectIntentRequest to my Dialogflow agent with Google.Apis.Dialogflow.v2beta1 .NET package.

According to comments in Google.Apis.Dialogflow.v2beta1.cs, in order to make a DetectIntentRequest, the session string parameter should follow the pattern : `projects//agent/sessions/`, or `projects//agent/runtimes//sessions/`

Using the second pattern (projects//agent/runtimes/

[2018-03-14 16:14] jskeet commented on #1175
You're meant to include the project ID and the session ID in the name, so something like `projects/my_project/agent/sessions/my_session_id`. Were you using `projects/*/agent/sessions/*` with the asterisks in there?

[2018-03-14 16:20] BazinC commented on #1175
Yes I was. I removed them, sorry if it was less understandable.
The projects/my_project/agent/sessions/my_session_id syntax works fine in Google API Explorer or OAuth 2.0 Playground.

But the client rejects it.

[2018-03-14 16:26] jskeet commented on #1175
Okay, it looks like the [discovery doc](https://dialogflow.googleapis.com/$discovery/rest?version=v2beta1) (where the patterns are written) doesn't match the documentation.

@chrisdunelm I think you understand the discovery docs better than I do - could you check that my expectation here makes sense? I'd expect the pattern enforced by the client (which includes a "runtimes" segment) to come from t

[2018-03-14 16:52] chrisdunelm commented on #1175
Yes, definitely looks like something is wrong here. I also would expect the discovery-doc and the documentation to match.
I'll follow this up internally.

[2018-03-14 17:12] chrisdunelm commented on #1175
Hmm, the discovery doc contains two definitions of the `DetectIntent` method, one of which *does* match the documentation.
These match the two different bindings specified in the [session.proto service definition](https://github.com/googleapis/googleapis/blob/master/google/cloud/dialogflow/v2beta1/session.proto#L45) of `DetectIntent`.

[2018-03-15 08:55] BazinC commented on #1175
Thank you Chris, thank you Jon.
Have a good day

[2018-03-15 09:52] chrisdunelm commented on #1175
I've looked into this in a bit more detail.

There are two ways of calling `DetectIntent`, one with a `runtime`, one without.

Calling it without the `runtime` appears to work fine:

[code]

But calling it *with* the runtime:

[code]

causes the `Resource name 'projects/MYPROJECT/agent/runtimes/MYRUNTIME/sessions/MYSESSION' does not match 'projects/*/agent/sessions/*'.` exception you are seeing.

[2018-03-15 11:08] BazinC commented on #1175
Ok thank you

[2018-03-15 15:17] bykovme commented on #1167
I'm developing the app using Xamarin.Forms and I want to integrate it with google drive, have the same issue in Xamarin Forms for iOS & Adnroid (but it works as expected for Desktop Mac version).

[2018-03-15 15:21] chrisdunelm commented on #1167
This library does not currently support Xamarin.
There are a number of reasons for this, but one reason is indeed as @MelbourneDeveloper says, it doesn't have the correct code to launch a browser on mobile platforms.

[2018-03-15 15:21] graham-macdonald-citrix opened #1176 "Challenges creating a GoogleCredential from a ServiceAccountCredential"
I have code that generates a ServiceAccountCredential that I'd like to reuse to create a Datastore client.  However the Datastore client requires a GoogleCredential.  I would like to expose the GoogleCredential.FromCredential method publicly (perhaps renamed FromServiceAccountCredential to avoid any potential confusion).  My current workaround is to take my structured service account credential da

[2018-03-15 15:21] chrisdunelm commented on #1167
Closing this issue, as Xamarin is not a supported platform.

[2018-03-15 15:21] #1167 closed

[2018-03-15 15:32] jskeet commented on #1176
Could you show exactly what you're trying to do, and which package you're using? It's possible that you're trying to follow an *example* that uses GoogleCredential, but that any ICredential would work.

[2018-03-15 15:33] graham-macdonald-citrix commented on #1176
I've discovered that I can create a ChannelCredentials directly from the ServiceAccountCredential, bypassing the creation of a GoogleCredential.  It may still be of interest to others to be able to create a GoogleCredential directly from a ServiceAccountCredential, though.

[2018-03-15 15:34] graham-macdonald-citrix commented on #1176
@jskeet : you're correct.  I actually needed a ChannelCredentials, which I was able to create using the original ServiceAccountCredential.  I'm going to close the request.

[2018-03-15 15:34] #1176 closed

[2018-03-21 03:05] EmilAlipiev commented on #761
why does the GoogleAuthorizationCodeFlow requires ClientSecret ? If I have a token using Android application which doesnt have client secret, how can I provide it and why I cant use my existing Token?

var fakeflow = new GoogleAuthorizationCodeFlow(new GoogleAuthorizationCodeFlow.Initializer
            {
                ClientSecrets = new ClientSecrets
                {
                    Clien

[2018-03-21 06:59] chrisdunelm commented on #761
@EmilAlipiev `GoogleAuthorizationCodeFlow` is for when using oauth2 authentication. It requires a `ClientSecret` to identify the credentials to use.
If you already have an access-token, you can use `GoogleCredential.FromAccessToken(...)`.

If this isn't what you're looking for, please can you explain in more detail what you're trying to do. Thanks.

[2018-03-21 10:12] jt4000 opened #1177 "Insufficient authentication scopes in relation to Syntax “Update”"
Goal:
Use Google Sheet API by using the syntax code "spreadsheets.values.update" in order to update the current cell.

Problem:
I have used the code that is provded by Google Sheet's tutorial (https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets.values/update) and it doesn't work.

I retrieve a error message saying:

[code]
Info:
*I was enable to use Oath 2.0 authenfication in r

[2018-03-21 11:28] chrisdunelm commented on #1177
What `Scopes` are you providing in the call to `GoogleWebAuthorizationBroker.AuthorizeAsync`?

The most likely problem is that you're not using the correct scope for update.

[2018-03-21 11:29] jt4000 commented on #1177
Im using "SheetsService.Scope.Spreadsheets"

[2018-03-21 12:58] EmilAlipiev commented on #761
I created a [SO question](https://stackoverflow.com/questions/49397533/how-to-use-google-apis-using-existing-access-token-in-xamarin). please see the entire question there

[2018-03-21 13:28] chrisdunelm commented on #761
As already answered in the SO question, we don't support Xamarin.

[2018-03-21 13:36] LindaLawton commented on #1173
Putting this here as it may help.   There is someone who claims to have gotten this working.

https://stackoverflow.com/q/49397533/1841839
https://stackoverflow.com/a/44444388/1841839

https://github.com/dbelcher/TestXamAuthGoogleDrive/blob/master/TestXamAuthGoogleDrive/GoogleDriveAgent.cs#L169

My comment would be that it looks like he has a client id and client secret which would lead me to beli

[2018-03-26 14:13] LindaLawton opened #1178 "Discontinuing support for JSON-RPC and Global HTTP Batch Endpoints"
As I understand it the batching endpoint for Google APIs is being discontinued.     Lets log our plans here as we move forward to removing it from the library as started.

[Discontinuing support for JSON-RPC and Global HTTP Batch Endpoints](https://developers.googleblog.com/2018/03/discontinuing-support-for-json-rpc-and.html)

May I suggest that we dont do what is stated and that wait until the de

[2018-04-02 00:42] eltonmkw commented on #909
Hi @jskeet , may I know `request` belonged to which type/class?
I'm getting `The name 'request' does not exist in the current context.` error in IDE.

Thank you. :smile:

[2018-04-02 08:11] jskeet commented on #909
`request` is the result of calling `service.Users.Messages.Get(userId, messageId)`.

So for example:

[code]

[2018-04-04 15:02] MricMoho opened #1179 "Can't resolve metadata server in ComputeTokenUrl"
Hi,

I have actually some servers in compute engine and i wanted to the use ComputeCredential to create my client but I get an error because the host "metadata"  can't be resolved:
[code]
https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/GoogleAuthConsts.cs

It should not be "metadata.google.internal" instead?
Or directly the IP like you did in last

[2018-04-04 15:26] jskeet commented on #1179
Could you give me more background about how you're running into this?

- What platform within Compute Engine are you running on? (Is this plain GCE with a VM, and if so, what kind of VM? Or is it Kubernetes Engine etc?)
- What code are you using at the moment? Are you fetching the default credentials, or something else?

[2018-04-04 15:51] MricMoho commented on #1179
Yes, it's a plain GCE with a VM, running on Windows Server 2012 R2 Datacenter.

I am fetching them using GetApplicationDefault()
[code]

[2018-04-04 15:56] jskeet commented on #1179
As an aside, if you call `StorageClient.Create()`, that will use the application default credentials for you, so your code can be simplified further :)

However, for the moment, if you know you're running on GCE, you could try this workaround:

[code]

Then pass that to `StorageClient.Create`. That would give us a good idea of whether the URL is really the problem.

[2018-04-05 05:01] yguang004 opened #1180 "when google drive api can support .net core 2.0 website"
i am wondering when it is able to support .net core 2.0.
I user picker to get the file id, and go to server side to get the file content. but it cannot process in the get credential

[2018-04-05 05:38] jskeet commented on #1180
I'm afraid I don't know what you mean by "it cannot process in the get credential". The libraries already work in both .NET Core 1.0 and .NET Core 2.0.

If you're looking for a user-based authentication process in ASP.NET Core, you might want to look at [this pull request](https://github.com/google/google-api-dotnet-client/pull/1163) which isn't quite ready yet, but shows promise.

[2018-04-05 07:29] jskeet commented on #1180
`GoogleWebAuthorizationBroker` is meant to be used for *local* applications - it brings up a web browser on the machine it's running on.

The pull request I referred to is effectively trying to provide the equivalent of the MVC package, but for ASP.NET Core.

I'm going to close this issue now as it's effectively a duplicate of #933. Please follow that issue for further developments.

[2018-04-05 07:29] #1180 closed

[2018-04-05 07:38] yguang004 commented on #1180
So for my case, I should use the pull request for future development right?

[2018-04-05 07:40] jskeet commented on #1180
Well you can look at it now and see how close it is to what you need - but it's not completely ready yet, which is why it's not merged. I don't know the current state in detail.

[2018-04-05 07:41] yguang004 commented on #1180
Thank you

[2018-04-05 08:29] MricMoho commented on #1179
Thx for the workaround.
Works fine with that

[2018-04-05 10:01] jskeet commented on #1179
Great - in that case, I'll leave this issue open for now, and we can modify that constant.

[2018-04-06 22:45] cheresier opened #1181 "DriveService.Revisions.Update in v3 api generates invalid request body"
This error is new after upgrading to v3 API. Consider the following c# code:

[code]

It results in the following HTTP request (sensitive info removed):

[code]
Which generates the following response:

[code]

...which makes sense, since the body of the PATCH request should only really contain the last three fields.

Or am I doing something wrong?

[2018-04-09 03:27] yguang004 opened #1182 "Anyone follows the pull request #1163 (.net core 2.0) can successfully get Authenticated"
I have follow the pull request [#1163](https://github.com/google/google-api-dotnet-client/pull/1163) to implement my .net core 2.0 website.
i add implementation in startup.cs
[code]
by using this way, I can go through the the GoogleCredentialProvider, however i will get AuthenticateResult with succeeded equals false with message not authenticated.
Anyone gets it works can let me know what i am mis

[2018-04-09 09:10] yguang004 commented on #1151
i implemented with [#1163](https://github.com/google/google-api-dotnet-client/pull/1163) for .net core 2.0,
and i add authentication in startup.cs, maybe you can try this one, however mine will has issue when authentication.
[code]

[2018-04-09 11:42] LindaLawton commented on #1151
Good job but you might want to remove your client id and secret.

[2018-04-09 14:08] Mekimuraosu opened #1183 "Trouble with the format on the Message object when sending a mail from C#"
I am working on a Console app to test out the Gmail api for C# because I want to use them for a web app later and I was quite pleased with how nice and easy to was with the documentention it was to get access to the emails through the json OAuth Authentication

I am able to get message objects and get the information I want from them. However now I want to be able to forward an that I've sent to t

[2018-04-09 18:02] chrisdunelm commented on #1182
#1163 is unfinished, and not expected to work yet.

If you need to use Google auth, without calling into Google APIs, then you can use the [Microsoft-provided Google authentication](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins?tabs=aspnetcore2x).
If you also need to call into Google APIs using the users' oauth credentials, then this is currently more di

[2018-04-09 18:02] #1182 closed

[2018-04-09 18:03] chrisdunelm commented on #1177
Sorry for not getting back to you sooner. Is this resolved, or are you still seeing this problem?

[2018-04-09 18:03] chrisdunelm commented on #1174
Closing, as it looks like this is working as intended.

[2018-04-09 18:03] #1174 closed

[2018-04-09 18:05] chrisdunelm commented on #1173
Thanks @LindaLawton for the ideas.

@MelbourneDeveloper Xamarin is not currently supported, although we will take note of your request to support the platform. Closing this issue.

[2018-04-09 18:05] #1173 closed

[2018-04-09 18:06] chrisdunelm commented on #1169
Closing as stale. Please re-open if you still see this problem in v1.32.2 packages.

[2018-04-09 18:06] #1169 closed

[2018-04-09 18:07] chrisdunelm commented on #1162
Closing, whilst taking note of this request to support the Xamarin platform.

[2018-04-09 18:07] #1162 closed

[2018-04-09 18:28] chrisdunelm commented on #1183
We who maintain this repo don't have any specialist knowledge about individual APIs, so you are better off asking this type of question on StackOverflow.

However, I'm fairly certain that base64-URL-encoding 'currentMessage.ToString()' will not create a valid [RFC 2822](https://tools.ietf.org/html/rfc2822) message. So this is probably the immediate problem. Whether `.Raw` is required if `.Payload`

[2018-04-09 18:28] #1183 closed

[2018-04-09 18:31] chrisdunelm commented on #1145
Closing as stale. Please re-open with more details if this is still a problem.

[2018-04-09 18:43] chrisdunelm commented on #1181
I have no specific knowledge of this API, but I'm fairly sure that instead of PATCHing with the returned `Revision` object, you should create a new `Revision` object and then only set the properties that you wish to patch.

[code]

[2018-04-09 18:46] cheresier commented on #1181
Ahhh... I see. That may work. Didn't think to refactor the code that way after the v2 -> v3 upgrade.

[2018-04-10 01:27] yguang004 commented on #1182
my situation is:
A .net core 2.0 website
client use google api picker to select a file.
client submit form which include FileID.
In the controller, server use the FileID to get the content of the file. And server has no idea who is using the google drive. Since my web application is not using google account to login.

I think it is relate to #1163. may I know what should I do to make #1163 working

[2018-04-10 02:02] cbrian commented on #1177
No, I'm still having the same update problem with Google Sheets Api Request had insufficient authentication error.   I already tried removed " new FileDataStore(credPath, true)" param and the same problem remains.  Any suggestion to this problem?

[2018-04-10 04:46] rafik2k10 commented on #1145
Yes, still there is a problem.
I am using the latest google drive .net SDK.
The following is my code:
FilesResource.ListRequest list = service.Files.List();
list.Q = "'root' in parents";
FileList filesFeed = list.Execute();

My problem is in this line 'list.Q = "'root' in parents";'
When i use the 'root' keyword then it is not returning any files/folders from root element. If i use any valid id in

[2018-04-10 04:54] rafik2k10 opened #1184 "'root' in parents not working in .net SDK for the Q parameter of FilesResource.ListRequest"
I am using the latest google drive .net SDK.
The following is my code:
FilesResource.ListRequest list = service.Files.List();
list.Q = "'root' in parents";
FileList filesFeed = list.Execute();

My problem is in this line 'list.Q = "'root' in parents";'
When i use the 'root' keyword then it is not returning any files/folders from root element. If i use any valid id instead of 'root' then it success

[2018-04-10 07:46] chrisdunelm commented on #1145
Thanks for the details. I'll re-open this issue, and close the new issue.

[2018-04-10 07:46] chrisdunelm commented on #1184
Closing as dup of #1145

[2018-04-10 07:46] #1184 closed

[2018-04-10 08:11] rafik2k10 commented on #1145
OK, thanks
Let me know if you want any other details.

[2018-04-10 16:11] chrisdunelm commented on #1145
I'm not able to reproduce this problem.

[code]

This code successfully writes my root filenames to the console as desired.

Note that this does require a user to oauth login (as shown in the code). Using a service credential does not work, which is reasonable as drive contents are owned by a user.

Are you able to see anything your code is doing differently?

[2018-04-10 19:43] cheresier commented on #1181
Ahhh... I see. That may work. Didn't think to refactor the code that way after the v2 -> v3 upgrade.

[2018-04-11 05:51] rafik2k10 commented on #1145
I am using the "service credential" only as i need to get the list in unattended mode using windows service, i already gave a full rights on the folders to the service account email, if it is limitation then is there any workaround?

Following is my code to get the service:

        private DriveService GetServerDrive()
        {
            ServiceAccountCredential credential;
            string

[2018-04-11 05:52] rafik2k10 commented on #1145
Sorry it is closed by mistake.

[2018-04-11 05:54] rafik2k10 commented on #1145
I am using the "service credential" only as i need to get the list in unattended mode using windows service, i already gave a full rights on the folders to the service account email, if it is limitation then is there any workaround?

Following is my code to get the service:

[code]

[2018-04-12 22:01] mgkcortyw opened #1185 "GoogleAuthorizationCodeRequestUrl approval_prompt:force and prompt:consent"
After updating of nugets from **1.13.1** to **1.32.2** version Google OAuth not return refresh_token on request. **I.e. always refresh_token=null**

Our GoogleAuthorizationCodeRequestUrl properties in both versions (1.13.1 and 1.32.2):
AccessType=offline,
ApprovalPrompt=force.

Looks like approval_prompt no longer supported (replaced to prompt:consent): https://github.com/google/oauth2client/issue

[2018-04-13 03:59] jackson777 opened #1186 "Firebase Dynamic Links Service: The remote name could not be resolved: 'firebasedynamiclinks-ipv6.googleapis.com'"
Hi, I was using Firebase Dynamic Links API, but I encountered an issue.

Code:
[code]

Exception:
[code]

But I can successfully post and generate a shortened link manually by:
[code]

When I change the requestUri to "https://firebasedynamiclinks-ipv6.googleapis.com/", I get the same error.
[code]

[2018-04-13 06:27] jskeet commented on #1185
If it's about the nuget packages, this is the right project - but I know nothing about this particular area. Will assign to Chris to investigate :)

[2018-04-13 07:02] LindaLawton commented on #1185
In that case i would love to see some code for this. I am not aware of any way of passing ApprovalPrompt to this library.   I believe i have seen a few comments on stack overflow about it over the years.

I always thought ApprovalPrompt  was used internally to prompt when the client requested offline access.

[2018-04-13 09:08] mgkcortyw commented on #1185
@jskeet @LindaLawton yes, it’s about .net nuget package.

As I know ApprovalPrompt parameter in GoogleAuthorizationRequestUrl not changed, i.e. it still “approval_prompt” source https://github.com/google/google-api-dotnet-client/blob/b26fd3effa79808c229d5bf8814777ecc90a7193/Src/Support/Google.Apis.Auth/OAuth2/Requests/GoogleAuthorizationCodeRequestUrl.cs

I provide source example soon.

[2018-04-13 12:43] chrisdunelm commented on #1181
Closing as I assume this is resolved. If not, please leave another comment here and I will re-open.

[2018-04-13 12:43] #1181 closed

[2018-04-13 12:53] chrisdunelm commented on #1186
The rootURL for this service is configured as [https://firebasedynamiclinks-ipv6.googleapis.com/](https://github.com/google/google-api-dotnet-client/blob/master/DiscoveryJson/firebasedynamiclinks_v1.json#L905).
(Note that this `firebasedynamiclinks_v1.json` file is automatically copied from [https://www.googleapis.com/discovery/v1/apis/firebasedynamiclinks/v1/rest](https://www.googleapis.com/disco

[2018-04-13 13:31] mgkcortyw commented on #1185
@chrisdunelm @LindaLawton my sample, works fine in nuget 1.13.1 but not in 1.32.2, i.e. in 1.32.2 refreshToken always null.
[code]

looks like ApprovalPrompt = "force" should be renamed to Prompt = "consent".

[2018-04-13 15:55] marcosvcp opened #1187 ""Too many open files" when trying to send many parallel requests"
Hi,

I'm getting "Too many open files" trying to execute InventoryCustomBatch in a parallel requests (max 400).

The stacktrace ->

[code]

I'm running my code in a AWS-Lambda which means that is a UNIX-Like OS, and UNIX ~open a file~ for every request, so we need to dispose httpmessage to close the ~file~.

I'm not sure about that, but I think that this code

https://github.com/google/google-api-

[2018-04-13 16:14] chrisdunelm commented on #1187
Which API are you using, that has the `InventoryCustomBatch` RPC?
Please can you post some representative code, so we can see how your code is parallelizing and calling the RPC; and please can you post the full exception message?
Thanks.

[2018-04-13 16:15] chrisdunelm commented on #1187
And you mention cancellation - are you cancelling many of the RPC requests you make? Or expecting many of them to be cancelled for some reason?

[2018-04-13 20:34] marcosvcp commented on #1187
`ShoppingContentService.Inventory.Custombatch`

The full exception with message and trace
[code]

The pseudocode:

var tenants = products.groupBy(tenant)
...
await Task.WhenAll(each tenant ->
var singleInstanceByTenant = ShoppingContentServiceByTenant(tenant);
return singleInstanceByTenant.SendCustomBatch(entries);
)

[2018-04-14 01:46] jackson777 commented on #1186
Thank you for letting me know.

[2018-04-14 08:00] LindaLawton commented on #1185
Nice find!

[2018-04-16 06:56] RepeatSoftware opened #1188 "Nuget installation not working on VS2010 and VS2017"
Reported the following to nuget support and they sent me in your direction.  Thanks.

I tried to install on Visual Studio 2010 and couldn't get this working. Switched to Visual Studio 2017 and still getting on 404 not found messages:

Install-Package Google.Apis.YouTube.v3 -Version 1.32.2.1162 Install-Package : An error occurred while retrieving package metadata for 'Google.Apis.YouTube.v3.1.32.2.

[2018-04-16 07:00] jskeet commented on #1188
Could you tell us what kind of project you're doing this in, and which framework you're targeting?

I've just created a brand new project (in my case a .NET Core 2.0 console app, targeting netcoreapp2.0) and added a NuGet reference; it worked without a hitch.

Following the link that's in the error message gives me an error too, but it looks like your NuGet feed is misconfigured - look at the erro

[2018-04-16 07:04] mgkcortyw commented on #1185
@LindaLawton Thank you for a quick investigation. @chrisdunelm Any chance that this issue being investigated/fixed on this week?

[2018-04-16 07:06] RepeatSoftware commented on #1188
That was fast.   Was trying to put into an existing ASP.NET Framework 4.0 project on Visual Studio 2010 last week.  I couldn’t get it to install.  I tried again yesterday my installing Visual Studio 2017 Community.  I then tried with the same project.  I then tested with a new Winforms Framework 4.6 project and tried again, but getting the same messages each time.  I also tried going to the Depend

[2018-04-16 07:07] jskeet commented on #1188
And do other packages install? For example, what happens if you try to install [NodaTime](https://www.nuget.org/packages/NodaTime/2.2.5) into your project?

[2018-04-16 07:11] RepeatSoftware commented on #1188
Sorry, no luck with those.  Just trying now for the message:

Visual Studio 2017, WinForms Frameworkd4.6.1 project:

Each package is licensed to you by its owner. NuGet is not responsible for, nor does it grant any licenses to, third-party packages. Some packages may include dependencies which are governed by additional licenses. Follow the package source (feed) URL to determine any dependencies.

[2018-04-16 07:15] jskeet commented on #1185
@mgkcortyw: I'm still confused about why you're seeing different behavior between 1.13.1 and 1.32.2. That file hasn't changed for a very long time. Can you just confirm that you really do see a difference between those two versions?

Yes, we may well need to deprecate the `ApprovalPrompt` property and introduce a new `Prompt` one due to server-side changes, but 1.13.1 still had `ApprovalPrompt` se

[2018-04-16 07:17] jskeet commented on #1188
Okay, again, a v3 URL being used by a v2 client. This sounds like a machine misconfiguration rather than anything we can fix for you.

From a command prompt, I suggest you run nuget.exe to see which client version it's using - and run `nuget update -self` to update nuget.exe. (I've just done that myself, and it updated from 4.1.0 to 4.6.2)

[2018-04-16 07:26] mgkcortyw commented on #1185
@jskeet i think real problem in changed api urls https://github.com/google/google-api-dotnet-client/blame/364ef9d891996d36f49db3764486806a8981a41a/Src/Support/Google.Apis.Auth/OAuth2/GoogleAuthConsts.cs

[2018-04-16 07:34] jskeet commented on #1185
Well there are *new* constants, all to do with OpenID, but none of the *existing* constants have changed.

Constants in 1.13.1: https://raw.githubusercontent.com/google/google-api-dotnet-client/v1.13.1/Src/Support/GoogleApis.Auth/OAuth2/GoogleConsts.cs

Constants in 1.32.1: https://raw.githubusercontent.com/google/google-api-dotnet-client/v1.32.2/Src/Support/Google.Apis.Auth/OAuth2/GoogleAuthConst

[2018-04-16 07:55] chrisdunelm commented on #1185
I think [GoogleAuthorizationCodeFlow](https://github.com/google/google-api-dotnet-client/blob/b26fd3effa79808c229d5bf8814777ecc90a7193/Src/Support/Google.Apis.Auth/OAuth2/Flows/GoogleAuthorizationCodeFlow.cs#L119) changed from using `GoogleAuthConsts.AuthorizationUrl` to use `GoogleAuthConsts.OidcAuthorizationUrl` in PR[#1003](https://github.com/google/google-api-dotnet-client/pull/1003) back in M

[2018-04-16 08:14] RepeatSoftware commented on #1188
Hi Jon.  OK.  Will try that.  Thanks for your help.  Regards Mark.

From: Jon Skeet [mailto:notifications@github.com]
Sent: 16 April 2018 08:18
To: google/google-api-dotnet-client <google-api-dotnet-client@noreply.github.com>
Cc: Mark Adams <marka@RepeatSoftware.onmicrosoft.com>; Author <author@noreply.github.com>
Subject: Re: [google/google-api-dotnet-client] Nuget installation not working on VS2

[2018-04-16 08:14] jskeet commented on #1188
Closing as this appears to be a machine configuration issue.

[2018-04-16 08:14] #1188 closed

[2018-04-16 08:24] chrisdunelm commented on #1185
@LindaLawton That's probably #916. We updated to the latest URLs, but don't read from the openid-configuration.

[2018-04-16 10:24] mgkcortyw commented on #1185
@jskeet you are right, it’s not GoogleConsts.cs issue, but related to urls. @chrisdunelm hit the target! Thanks.
We are use GoogleAuthorizationCodeFlow.Initialize() method and pass it into CustomAuthorizationCodeFlow constructor in my code listing above.

[2018-04-16 13:30] rafik2k10 commented on #1145
At present my only issue is to get root folders, i want to create tree structure in my application, so first i get the root folders, then for each root folder i am taking the child files and then move to the next folder.
So without root folder i can't get the child.

Do you have any workaround for the same?

[2018-04-16 13:43] chrisdunelm commented on #1145
The maintainers of this repo have no special knowledge of the drive API, only what is available in the public docs such as the "[Search for Files and Team Drives](https://developers.google.com/drive/v3/web/search-parameters)" page.

You may be able to search using the "owners", rather than a user root.
Or, as I said above, using an offline oauth token for each users drive you wish to scan should w

[2018-04-16 13:43] #1145 closed

[2018-04-16 14:39] chrisdunelm commented on #1185
I'll create a PR to add a `Prompt` property to the [`GoogleAuthorizationCodeRequestUrl`](https://github.com/google/google-api-dotnet-client/blob/b26fd3effa79808c229d5bf8814777ecc90a7193/Src/Support/Google.Apis.Auth/OAuth2/Requests/GoogleAuthorizationCodeRequestUrl.cs) class; and to mark the existing `ApprovalPrompt` property as obsolete.
This will allow you to set `prompt=consent` as required to r

[2018-04-16 14:43] chrisdunelm commented on #1187
Thanks for the extra details.

Each `HttpRequestMessage` is disposed of at the end of a `using` statement in [ClientServiceRequest](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis/Requests/ClientServiceRequest.cs#L178).
It looks like all your requests are using the same client, so there's only `HttpClient` instance.

I suspect that you're trying to use too hi

[2018-04-16 15:47] mgkcortyw commented on #1185
@chrisdunelm Thank you! It’s great?

Could you release new version of nugets after that?

[2018-04-16 18:36] #1185 closed

[2018-04-16 19:05] jbtule commented on #1113
Can you unlist the Google.Apis.People.v1 package? https://www.nuget.org/packages/Google.Apis.People.v1/

[2018-04-16 22:05] marcosvcp commented on #1187
Yes, but not the responseMessage as I mentioned before ?

I decreased the maximum parallelism to 100, and Its works, weird, cause Unix-like OS has 8000 available _channels to open files_ by default.

maybe because the code is running in lambda this number is smaller,

I have the same level of parallelism making another requests fetching data (and disposing messages) but the exception only occurs i

[2018-04-17 12:45] chrisdunelm commented on #1187
OK, yes, I see that the response message may end up not being disposed of when cancelled.
There are two places this can happen. The line you pointed out before, and also [ConfigurableMessageHandler.cs line 535](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Core/Http/ConfigurableMessageHandler.cs#L535).
I'll create a PR to fix both.

[2018-04-17 13:10] chrisdunelm commented on #1170
@amanpreetSO Is this issue now resolved? Or are you still seeing this problem?

[2018-04-17 18:36] rlatigano commented on #911
@Eckee can you share the solution please.

[2018-04-18 03:59] amanpreetSO commented on #1170
@chrisdunelm I am still facing the problem. I think the issue is looking related to machine outbound connection limit. Can you help me in that?

[2018-04-18 06:40] chrisdunelm commented on #1170
@amanpreetSO If the problem is related to machine outbound connect limit, then you need to reduce the number of parallel requests, as @jskeet has suggested earlier.
Have you tested performing only one request at a time, sequentially; logging the time taken for each request?
How many requests are you performing concurrently when you see this problem?

[2018-04-18 06:57] amanpreetSO commented on #1170
I am processing 10 requests at a time. On sequential execution, it may improve the performance but I need to run in parallel because I have a lot of requests to process. If I go sequentially It will down the performance in peak hour. Can we improve machine outbound connect limit? is it at the hardware level?

[2018-04-18 07:02] jskeet commented on #1170
We don't know what environment you're running in. Different environments can have very different connection limits. Some may allow you to change them, others not.

[2018-04-18 08:12] Quppa opened #1192 "Some library await calls are missing ConfigureAwait(false)"
The following files have one or more `await`s missing `ConfigureAwait(false)` (see also https://github.com/google/google-api-dotnet-client/pull/612):
`Google.Apis.Auth/GoogleJsonWebSignature.cs`
`Google.Apis.Auth/OAuth2/ComputeCredential.cs`
`Google.Apis.Auth/OAuth2/Flows/GoogleAuthorizationCodeFlow.cs`
`Google.Apis.Core/Http/ConfigurableMessageHandler.cs`

I ran into a deadlock issue due to the m

[2018-04-18 08:14] jskeet commented on #1192
Thanks for spotting this - definitely something we should look at closely.

@chrisdunelm can you see any reason we shouldn't use the same Roslyn analyzer in this repo that we do in google-cloud-dotnet?

[2018-04-18 08:26] jskeet commented on #1170
I'd expect that to be documented for the environment you're using. But again, we have no information about where you're running this code. If you could provide that information, we could help you more.

[2018-04-18 08:35] #1192 closed

[2018-04-18 08:42] Quppa opened #1195 "HttpClient instance isn't reused in GoogleJsonWebSignature"
This means that a new `HttpClient` instance is created and disposed each time `ValidateAsync` is called. We might as well reuse the instance.

[2018-04-18 09:19] Jerome2606 opened #1196 "Google.Cloud.Dialogflow.V2 WebHook response card"
Hello,

I'm using the Nuget package (.NET): Google.Cloud.Dialogflow.V2 (1.0.0-beta01)
This code is a simple example of what I'm trying to do:

[code]

But this code is not working as FulfillmentMessages is read-only.
Only get is available from WebhookResponse:

[code]

So my question is: How can I send something else that just text from my WebHook ?

[2018-04-18 09:31] chrisdunelm opened #1197 "Use rosyln analyzer to check ConfigureAwait()"

[2018-04-18 09:35] jskeet commented on #1196
I'm afraid the owners here and on the https://github.com/GoogleCloudPlatform/google-cloud-dotnet repo (which is the one that this package belongs to) aren't experts on many of the APIs themselves. We're the people to talk to if the C# library has a problem, but when it comes to the details of the actual APIs, you're better off asking in an API-specific forum. In this case, it looks like the most a

[2018-04-18 10:30] chrisdunelm commented on #1195
As far as I can see, `HttpClient` is only used to [fetch the Google certs](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/GoogleJsonWebSignature.cs#L262). The certs are cached, so an `HttpClient` is only instantianted at most once per hour (the cache expiration is one hour).

I'm not sure keeping an `HttpClient` instance cached for this would be better?

[2018-04-18 10:33] Quppa commented on #1195
You're quite right - I missed the caching aspect.

[2018-04-18 10:33] #1195 closed

[2018-04-18 11:11] Jerome2606 commented on #1196
That's a C# question. Why the property FulfillmentMessages don't have a set. Why put it read only.

[2018-04-18 11:14] jskeet commented on #1196
Ah, I see. It's a read-only property, but you just add values to it. All you need to do is get rid of the "new ..." part and you can use the collection initializer:

[code]

Note that `RepeatedField<T>` has an overload accepting `IEnumerable<T>` as well, so it's easy to populate with a LINQ query.

[2018-04-18 12:57] Jerome2606 commented on #1196
oh ok thank you.

Now I'm facing to DialogFlow error :(

[code]

Any idea ?

[2018-04-19 14:42] #1197 closed

[2018-04-19 17:31] alexcvaz commented on #1186
The same situation in here, need a solution please!

[2018-04-19 17:44] yurik94 commented on #1186
@alexcvaz I'm using this without troubles

[code]

[2018-04-19 20:05] chrisdunelm commented on #1186
@yurik94, @jackson777 Thanks for showing a workaround.
This has now been internally acknowledged as a configuration error. The correct hostname should be (as you guessed) `firebasedynamiclinks.googleapis.com`.
Hopefully it'll be fixed soon.

[2018-04-20 08:25] mrv66 opened #1205 "DirectoryService.Users.Update do not clear Phones field"
Hi, im using DirectoryService for updating google user profile.
[code]
after that if i do new user info request
[code]
the phones field has old value

[2018-04-27 08:42] mrv66 commented on #1205
Thx

[2018-04-27 08:42] #1205 closed

[2018-04-30 13:26] chrisdunelm commented on #1186
This is fixed in the latest nuget release: https://www.nuget.org/packages/Google.Apis.FirebaseDynamicLinks.v1/1.33.0.1210
The correct hostname can be seen in [firebasedynamiclinks_v1.json](https://github.com/google/google-api-dotnet-client/blob/master/DiscoveryJson/firebasedynamiclinks_v1.json#L905) and [Google.Apis.FirebaseDynamicLinks.v1.cs](https://github.com/google/google-api-dotnet-client/blo

[2018-04-30 13:26] #1186 closed

[2018-04-30 13:29] chrisdunelm commented on #1187
@marcosvcp This code-change is in the 1.33.0 nuget releases; are you able to try this new release and see if this problem has been resolved for you?

[2018-04-30 13:30] chrisdunelm commented on #1170
Closing due to lack of information. Please leave another comment containing more details if you still see this issue.

[2018-04-30 13:30] #1170 closed

[2018-04-30 13:50] chrisdunelm commented on #1175
Just to let you know this hasn't been forgotten about; but the internal issue is not being hastily resolved :(

[2018-04-30 14:10] wilsonhut commented on #863
As a Google.Apis user, is there an accepted work-around? Making the Google.Apis.Pubsub.v1.PubsubService a singleton?

[2018-05-01 10:22] chrisdunelm opened #1210 "In NuGet description, when there is also a Cloud package, state that this package is not recommended."
To guide users to use Cloud packages, rather than these packages.

[2018-05-01 10:25] chrisdunelm commented on #1067
Fixed in #1206

[2018-05-01 10:25] #1067 closed

[2018-05-03 05:58] eladkhalo opened #1211 "Precondition Failed 412 Error when Updating a Report"
Starting last Saturday (April 28th) we get an exception when we try to update report dates using the DCM Reporting API. The error doesn’t happen all the time but it happens quite a lot on our process since it updates a lot of reports every day.
It is really unclear why we started to get this error suddenly without changing anything in our process.

I hope you could help us understand how to solve

[2018-05-03 15:01] davisford opened #1212 "ServiceAccountCredential with valid access token failing with 401 when passed as HttpClientInitializer"
I have created a service account client with domain wide delegation.  It has the role of `Project Owner`, and I have added the scopes:

* `https://www.googleapis.com/auth/admin.directory.orgunit `
* `https://www.googleapis.com/auth/admin.directory.user`

I have a very simple test program that is based off the example presented [here](https://developers.google.com/admin-sdk/directory/v1/quickstart/

[2018-05-03 16:57] davisford commented on #1212
I'm actually pretty certain that all I need to do is something like the following to make this demo orgunit service request succeed:

1. request.Headers.Add("Authorization", "Bearer " + credentials.Token.AccessToken);

OR

2. request.URL += "?access_token=" + credentials.Token.AccessToken

But I don't have access to the internals of the request that is built, so I cannot do it, and I see no other

[2018-05-04 15:01] chrisdunelm commented on #1212
How did you verify the Authorization header was not being added to the request? You definitely shouldn't need to do this yourself with a `ModifyRequest` action.

I don't know much about domain delegation, but looking at [the delegation guide here](https://developers.google.com/admin-sdk/directory/v1/guides/delegation#instantiate_an_admin_sdk_directory_service_object) you may need to set the servic

[2018-05-04 15:34] davisford commented on #1212
I just step-debug the code, and walk it right up to the point where it issues the System.Net.HttpRequest and looked at the Headers which were blank.

After more investigation, I'm still trying to resolve whether the issue is in the Client / my misuse of the API? / or on the backend services.

The version of the package I have is `Google.Apis.Admin.Directory.directory_v1 v1.33.0.1170`

One thing I'

[2018-05-04 15:39] Maarten88 opened #1213 "Actions-on-Google SDK V2 support?"
I see support for Dialogflow v2, but I can't find a dotnet client for the actions-on-google v2 api (https://actions-on-google.github.io/actions-on-google-nodejs/modules/actionssdk_api_v2.html). Is this available somewhere, or can it be added in this repository?

[2018-05-04 15:41] davisford commented on #1212
@chrisdunelm that link you posted is interesting https://developers.google.com/admin-sdk/directory/v1/guides/delegation#instantiate_an_admin_sdk_directory_service_object but do you know if there's a .NET example for it?  Trying to map the code from Java/Go/Python -- I'm fluent in all of those, but obviously the classes/types are totally different so I'm studying the API to try to port it.

[2018-05-04 16:28] davisford commented on #1212
Huh, I'm a little dense today.  That was it.  This was the missing piece of the puzzle.  Thank you @chrisdunelm

`GoogleCredential.FromFile(Secret).CreateScoped(Scopes).CreateWithUser(user)`

[2018-05-04 16:28] #1212 closed

[2018-05-04 16:33] chrisdunelm commented on #1212
Glad you've sorted it out :)

[2018-05-04 16:51] jskeet commented on #1213
I don't know of one at the moment - we're not experts in the various different APIs here, just on the client libraries. (If a new SDK were required, we'd probably add it to https://github.com/GoogleCloudPlatform/google-cloud-dotnet, but there's nothing there yet.)

It's probably worth considering the options at https://developers.google.com/actions/support/

[2018-05-04 16:59] chrisdunelm commented on #1187
Closing, assuming this is now fixes. Please leave a comment if this is still a problem, and we'll re-open.

[2018-05-04 16:59] #1187 closed

[2018-05-05 08:07] xspatil commented on #1196
yeah faced the same issue of parsing,it needs to be formatted to camelcase

 var json = JsonConvert.SerializeObject(res);

            var jsonSerializerSettings = new JsonSerializerSettings
            {
                ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
            };
            var interimObject = JsonConvert.DeserializeObject<WebhookR

[2018-05-05 08:41] jskeet commented on #1196
@xspatil: I'd strongly advise against using Json.NET for this at all. It's not just a matter of casing - things like Struct in protobuf encode JSON in a way that Json.NET just doesn't know about. If you call ToString on a protobuf it will convert the message to the right JSON - that's the best way to go.

[2018-05-08 08:40] chrisdunelm commented on #1175
The 'runtimes' path was renamed to 'environments', and also now includes a `user` in the path. The most recent [dialogflow v2beta1 nuget package v1.33.0.1218](https://www.nuget.org/packages/Google.Apis.Dialogflow.v2beta1/1.33.0.1218) contains the correct code.
The correct path is now: `projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}`.

Closing as I b

[2018-05-08 08:40] #1175 closed

[2018-05-08 08:41] jskeet commented on #1175
Although I'd suggest using [Dialogflow v2](https://www.nuget.org/packages/Google.Apis.Dialogflow.v2) now that that's out :)

[2018-05-08 22:08] sflanker opened #1214 "Attempting to download objects with square brackets ("[" or "]") in their name results in a 503 response."
Calling `GetRequest.DownloadAsync` where the `GetRequest.Object` is `"foo/bar/[baz] test.txt"` causes the URL of the resulting rest request to include `"foo%2Fbar%2F[baz]%20test.txt"` which results in a 503 response. If the URL is modified to be `"foo%2Fbar%2F%5Bbaz%5D%20test.txt"` the request succeeds. Unfortunately because `DownloadAsync` does escape some characters include `%` it is not possibl

[2018-05-08 22:13] chrisdunelm commented on #1214
Thanks for reporting this. It does indeed sound like it's not escaping some of the URI.
I'll see if I can fix this in the next day or two.

[2018-05-09 06:28] LindaLawton commented on #1214
Which api this on?    @chrisdunelm is this going to be in the api classes or the core code?

[2018-05-09 06:31] LindaLawton commented on #1213
@Maarten88 I have a friend who is an expert in actions.   He asked me to port his node library to c#.    I haven't started because I wasn't sure how much interest there would be in such a project.

@jskeet advice needed.  If I did it I would probably do it in .net core but do you think it should be done in normal .net and core?

[2018-05-09 06:34] LindaLawton commented on #1210
Ok i will bite whats a cloud package?

[2018-05-09 06:40] jskeet commented on #1213
@LindaLawton: The REST-based APIs all target net45 and netstandard1.3. That's what I'd at least attempt if possible.

[2018-05-09 06:58] jskeet commented on #1214
I suspect it's the Google Cloud Storage API, and I'd expect it would be in the core code that's escaping, but we'll see what Chris finds :)

[2018-05-09 07:03] jskeet commented on #1210
One of the packages in https://github.com/GoogleCloudPlatform/google-cloud-dotnet: the "Google Cloud Client Libraries for .NET"

[2018-05-09 07:05] LindaLawton commented on #1210
So we dont want people using these cloud libraries but rather the other ones?   Why not just stop building these?

[2018-05-09 07:12] jskeet commented on #1210
We may eventually stop creating these ones, but they cover a slightly wider set of platforms - and we'd definitely want to keep updating the versions of existing libraries, to avoid leaving existing users "stuck". We just want to recommend the gRPC-based libraries wherever they're feasible for the user.

[2018-05-09 11:49] LindaLawton commented on #1213
The reason this library isnt supporting actions is because actions isnt a [discovery services api](https://developers.google.com/discovery/).   This library and a lot of the other Google libraries are generated directly from the discovery services api.   As are my generated sample projects for .net and php.    Due to the fact that actions isnt part of this api the library will have to be built man

[2018-05-09 13:01] chrisdunelm commented on #1214
Looks like the cause of this problem is here: https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis/Requests/ClientServiceRequest.cs#L298
`.ToString()` on a `URI` is incorrect, as it does strange things to special characters. It should use `.AbsoluteUri` instead. I'm working on tests for this now.

[2018-05-09 14:47] #1214 closed

[2018-05-10 07:23] #1210 closed, assigned to chrisdunelm

[2018-05-10 08:06] jskeet commented on #1213
I'm still not sure of the relationship between Actions on Google and Dialogflow.

It sounds like:

- There isn't an Actions on Google service as such, but there *is* a Dialogflow service, which you can talk to via Google.Cloud.Dialogflow.V2
- The Dialogflow API also contains messages for webhook responses

I've envisaged an SDK you could install in ASP.NET Core (and maybe ASP.NET) which handles th

[2018-05-10 16:52] Maarten88 commented on #1213
When I create a project with Dialogflow, I can create a dotnet core mvc api endpoint and register that as the 'webhook' in Dialogflow. I get messages that can be mapped to objects in the Dialogflow nuget, and can build responses.

When I create a project with the actions sdk (using the `gactions` command with an "actions package" json file) I can also register a webhook, but the message format is

[2018-05-10 17:12] jskeet commented on #1213
Thanks for the extra detail, @Maarten88. Going by [this](https://developers.google.com/actions/dialogflow/), Dialogflow is one way of implementing Actions on Google, but not the only way. I'll see if I can get to the bottom of this...

[2018-05-11 04:29] codingyourlife opened #1219 ".NET Framwork 4.7.2 Exception: System.Net.Http (works with 4.6.2)"
It works with 4.6.2. I'm pretty certain about this issue

[2018-05-11 08:04] jskeet commented on #1219
I can't reproduce this. Here's a small test application I've written using Google.Apis.Storage.v1.

[code]

It builds and runs without an error. I've done this with both a "classic" project and a .NET Core SDK project, both targeting .NET 4.7.2. With the classic project, the References part of Visual Studio shows warnings for 7 assemblies (including System.Net.Http), but they don't prevent the cod

[2018-05-11 15:06] LindaLawton commented on #1213
It appears the team does not plan on doing anything with  .net.    I will look into it see what I can come up with.

[2018-05-11 19:53] wanderson-ra opened #1220 "Xamarin Forms Support"
Do I need to use TEXT_DETECTION is it possible with Xamarin Forms? Is there an example?

[2018-05-12 01:09] andyfmiller opened #1221 "Incremental authorization not working"
[ShouldRequestAuthorizationCode ](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/Web/AuthorizationCodeWebApp.cs#L128-L139) always thinks an authorization code is required if IncludeGrantedScopes = true.

[2018-05-13 22:26] bschaeublin opened #1223 "JWT is not yet valid"
Hi there

Im using asp.net core  2.0.3 with "Google.Apis.Auth" 1.33.0.
I'm validating the id token of google+ with `GoogleJsonWebSignature.ValidateAsync`

It does work fine on my local Windows development machine, but it doesn't work on my debian jessie server.

## situation
Time snapshot before i start signin with google+:
![image](https://user-images.githubusercontent.com/11610660/39972230-13b07

[2018-05-14 06:48] chrisdunelm commented on #1223
Fixing the server time is definitely the correct option. Configuring it to sync with an decent NTP server should be sufficient; e.g. https://developers.google.com/time/ or http://www.pool.ntp.org/en/

[2018-05-14 06:54] bschaeublin commented on #1223
@chrisdunelm, thx I'll try that then - looks like seconds matter :D

[2018-05-14 06:59] chrisdunelm commented on #1223
Hmm, yes, we might consider adding a clock tolerance setting, to allow for a few seconds of server/client clock difference.

[2018-05-14 15:35] rubenvfeliu commented on #1196
Could anybody advise me how I can start using Google.apis.DialogFlow.V2 in Visual Studio C# step by step?
I really need to and I want to learn who to use it, because I want like establish a real conversation with customers using this dialogflow and save some kind of information in my windows form application.

Thanks guys!!!

[2018-05-14 15:46] jskeet commented on #1196
@rubenvfeliu: I'm hoping there'll be a sample on the Dialogflow web site at some point, but I'm afraid I don't have experience with it - I wouldn't expect to see it in this repo any time soon.

[2018-05-14 15:47] jskeet commented on #1196
I'm closing this issue now as there certainly isn't anything to do in *this* repo, and I don't believe any changes are required in google-cloud-dotnet either - it's a matter of using the protobuf JSON parsing/formatting code.

[2018-05-14 15:47] rubenvfeliu commented on #1196
jskeet thank you so much for your fast respond !!!

[2018-05-14 16:05] #1196 closed

[2018-05-15 09:08] eladkhalo commented on #1211
Hello Chris,

Thank you for your response.
As you can see in the code above, I get the report from the API in the `GetReport()` method, then updates its date range and finally update the report using the API.
It is possible that the code update the same report twice but not concurrently. Each time it takes the report and update it.
I must say this has worked for a long time without any error and s

[2018-05-15 09:28] chrisdunelm commented on #1211
Are you definitely not running multiple instances of this code concurrently? Which might sometimes work on the same report at the same time?

Are you using the [Google.Apis.Dfareporting.v3_0](https://www.nuget.org/packages/Google.Apis.Dfareporting.v3_0/) package?
Which version are you using?
And did you update it to a new version around the 28th April?

[2018-05-15 09:39] eladkhalo commented on #1211
Yes, definitely. I'm running one thread and use the method above to update each report.

I'm using the Google.Apis.Dfareporting.v3_0 package version 1.32.2.1043 and I've last updated it at the end of March.

[2018-05-15 10:04] chrisdunelm commented on #1211
If nothing has changed on your side, and you're only working on a single report at a time, then this doesn't sound like a client library issue; so there's probably nothing we in this repo can do to help.

I suggest you contact DCM support, as there may have been a service change that is affecting you.

[2018-05-15 11:14] chrisdunelm commented on #1211
OK. Please can you show the code in `GetReports()`, or at least the code that prepares and performs the API call; and any code that modifies the fetched `report` instance in any way.
How many errors are you seeing? Out of how many updates?

Please log the request and response headers for the fetch, and for the failing `Update`; so we can check that all is as expected.
Logging of these can be enabl

[2018-05-15 13:32] ansydor opened #1224 "Insufficient Permission [403] on PlusDomainsService activity insert"
Getting an exeption on activity insert method
`{"Google.Apis.Requests.RequestError\r\nInsufficient Permission [403]\r\nErrors [\r\n\tMessage[Insufficient Permission] Location[ - ] Reason[insufficientPermissions] Domain[global]\r\n]\r\n"}`
The original code is:

[code]

client_secrets.json is a downloaded file from https://console.developers.google.com/apis/credentials OAuth 2.0

UPD: replaced _cre

[2018-05-15 13:44] chrisdunelm commented on #1224
The code shows using `_credential`, not `credential`, as the HttpClientInitializer. Is this a typo? Presumably HttpClientInitializer is actually initialized with `credential` ?

[2018-05-15 13:48] ansydor commented on #1224
@chrisdunelm Yes, sorry `_credential` and `credential` are the same one

[2018-05-15 14:04] ansydor commented on #1224
https://myaccount.google.com/b/xxxUserIDxxx/permissions
Does not show that application has an access to google+ or google+ domain

[2018-05-16 01:47] andyfmiller commented on #1223
I occasionally see the same issue. My local machine time drifts slightly ahead of the Google auth server and I see "JWT is not yet valid." Yesterday my local time was less than 1 second ahead of payload.IssuedAtTimeSeconds.Value. To get around that during dev, I've added 5 seconds of tolerance,

[code]

[2018-05-16 05:47] eladkhalo commented on #1211
Ok, I've run the process fully twice and it seems that the problem is gone as of now.
I'll write here again in case it happens again.

[2018-05-16 07:16] chrisdunelm commented on #1211
Thanks for the update. Closing this issue. If you experience the problem again, please leave a comment with more details and we can re-open if necessary.

[2018-05-16 11:59] bschaeublin commented on #1223
Just a thought: Does Google actually provide tokens, which are only meant to be valid after some time?
What would be the max value (not valid before) that google supports? Just asking, because it seems this check hurts more than it actually contributes to security?

If there would be added some tolerance, the question would be: "how much".

[2018-05-18 05:56] SeakyLuo commented on #1041
Mine is already  https://api.nuget.org/v3/index.json but still can't get installed.

[2018-05-18 20:37] dstarosta commented on #1219
Try adding the following section into the .csproj file.

[code]

[2018-05-23 04:57] andyfmiller commented on #1221
I was able to use the workaround described by @chrisdunelm to replicate the behavior of incremental authorization. See [GoogleIncrementalMvcSample](https://github.com/andyfmiller/google-incremental-auth-sample/tree/master/src/GoogleIncrementalMvcSample), especially [HomeController](https://github.com/andyfmiller/google-incremental-auth-sample/blob/master/src/GoogleIncrementalMvcSample/Controllers/

[2018-05-23 04:58] #1221 closed

[2018-05-23 07:48] chrisdunelm commented on #1221
@andyfmiller Thanks for the link to the sample; that'll definitely be useful for anyone wanting to do incremental auth.

[2018-05-24 13:53] Worthy7 commented on #1223
Just ran into this issue too, the amount of problems I've had with google's dot net API, I may aswell have just written it all myself.

[2018-05-24 14:07] chrisdunelm commented on #1223
@bschaeublin I don't know if Google ever provide "future" tokens, but I don't think we'd just want to ignore the issue time.
To implement this we'd probably add an `IssuedAtClockTolerence` property to [ValidationSettings](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/GoogleJsonWebSignature.cs#L76), and default it to something like 30 seconds; but this

[2018-05-24 22:39] AdelinaTudor opened #1226 "testiq"
[questions.txt](https://github.com/google/google-api-dotnet-client/files/2037403/questions.txt)

[2018-05-24 23:07] #1226 closed

[2018-05-24 23:07] AdelinaTudor commented on #1226
[questions.txt](https://github.com/google/google-api-dotnet-client/files/2037421/questions.txt)

[2018-05-24 23:13] AdelinaTudor commented on #1226
[questions.txt](https://github.com/google/google-api-dotnet-client/files/2037434/questions.txt)

[2018-05-24 23:14] AdelinaTudor commented on #1226
[questions.txt](https://github.com/google/google-api-dotnet-client/files/2037436/questions.txt)

[2018-05-25 00:12] marcosvcp commented on #1187
@chrisdunelm Sorry for the late reply,

I'm using the latest version(1.33) and the error eventually happens

[2018-05-25 01:57] mcphersonwhite commented on #1219
So we are experiencing similar issues and would like to ask that the Nuget reference for System.Net.Http not be pulled in when the target framework is the full .NET Framework.

Can we get a change to the appropriate projects for the full frameworks to use the system reference and not the package reference?

Here is an example of another library doing the same. [https://github.com/serilog/serilog-s

[2018-05-25 08:35] #1223 closed

[2018-05-25 13:05] chrisdunelm commented on #1187
@marcosvcp Thanks for the update.
When you say "eventually", do you mean that it now takes significantly longer for the error to occur than it used to?
Has anything changed about the run-time environment you're using? Is this still running on AWS-Lambda?
Please can you post another full exception and stack-trace, so we can confirm it's the same?

[2018-05-25 15:33] Worthy7 commented on #1223
Could we try to get this released ASAP please? I cannot do any work at home. I even synced my clock with `time.google.com` lol

[2018-05-29 12:34] LindaLawton commented on #1224
Its not the application that needs access to Google+ domain its the user you are logging in with.  If that user does not have access to write to your Google+ domains account then you are going to get the error message.

    Insufficient Permission

The user does not have permissions not the application.  Trying increasing that users permissions on the domain or login with a user that does have acc

[2018-05-29 19:41] ansydor commented on #1224
The issue was a misunderstand between Google+ domain and Google+

[2018-05-29 19:41] #1224 closed

[2018-05-30 15:26] AlexandreOuellet opened #1230 "Google.Apis.Bigquery.v2 hard crash on dotnet core and linux docker"
I am not quite sure why yet, but it seems that we get a hard crash when executing this piece of code within a linux docker container :
[code]

We are building our solution off of microsoft/aspnetcore-build:2.0 and deploying using microsoft/aspnetcore:2.0 images.

The SQL is valid SQL and can be executed within the BigQuery query editor, and we are certain that the DatasetId and ProjectId are valid

[2018-05-30 15:41] jskeet commented on #1230
I'd be astonished if using Google.Cloud.BigQuery.V2 helped, as that just wraps Google.Apis.Bigquery.v2 - although I don't think it uses that specific method.

Are you able to see anything about the timing, such as whether it fails immediately or only after a time? Are you able to mount a shared volume so you could write logs out?

[2018-05-30 15:47] AlexandreOuellet commented on #1230
I'm able to actually debug up to that point.  When I try to step over/step into, just a hard crash, and I can't seem to see anything outputed on the console or log files.

I'll see if I can reproduce and debug it on some linux machine that might be able to stay alive instead of docker.

[2018-05-30 15:58] AlexandreOuellet commented on #1230
It seems to be something specific to docker.  After testing it out with Version="1.29.1.967" on a linux VM, everything just worked.

[2018-05-30 16:04] jskeet commented on #1230
That's really odd. If you can attach any kind of network logging to the container, that could be useful.

Is this the only BigQuery operation you're performing within the container, or are you doing other things that work?

(As an aside, while I mentioned that using Google.Cloud.BigQuery.V2 probably wouldn't help with this issue, it's definitely simpler to use - I'd recommend using that anyway :)

[2018-05-30 16:20] AlexandreOuellet commented on #1230
(Agreed that it's much easier to use, but did not exist at the time this code was written)

And we've found the bug : Turns out it's a weird interaction/conflict with LibSSL and LibCrypto.  We have an in-house dll that is using different versions (not statically linked) as the one used in google api, and when we load it first, it somehow interfere with the one for bigquery (likely just the authent

[2018-05-30 16:25] jskeet commented on #1230
Aha - yes, I've seen that problem in a completely different scenario.
Note that this isn't part of the .NET library; it would be part of one of the base docker images.

I'll close this issue now as I don't think it's related to code in this repo, but let me know if you think I should reopen it.

Thanks so much for reporting the result, and well done for finding it!

[2018-05-30 16:25] #1230 closed

[2018-05-31 07:45] SapanModi commented on #776
Please remove FileDataStore .

credential = GoogleWebAuthorizationBroker.AuthorizeAsync(
                GoogleClientSecrets.Load(stream).Secrets,
                Scopes,
                "user",
                CancellationToken.None //,
                                       //new FileDataStore(credPath, true)
                ).Result;

just do and then its working .

[2018-05-31 13:37] chrisdunelm commented on #1223
This has been released in v1.34.0, available on nuget.org

[2018-05-31 15:33] ma499 opened #1231 "Interface for ComputeService object to support testability"
Testing with this API client is difficult because we can't easily mock the ComputeService object. We end up having to write a wrapper class and mock that.

Are the maintainers willing to expose an IComputeService interface so that we can easily mock?

[2018-05-31 15:47] jskeet commented on #1231
Everything API-specific is autogenerated - we wouldn't create an API-specific interface.

While we could potentially generate such an interface, it wouldn't be able to follow semantic versioning, as new operations can be added at any time.

When I've wanted to fake out API calls, I've faked at the HttpClient level instead. It can be fiddly sometimes, but other times it's really not too bad. See th

[2018-05-31 16:07] chrisdunelm commented on #1231
As @jskeet says, we won't be adding such an interface; closing.

[2018-05-31 16:07] #1231 closed

[2018-06-03 17:08] tipa commented on #983
Any updates on this?

[2018-06-03 18:26] LindaLawton commented on #983
@tipa The library is in maintenance mode I wouldn't
  expect new features like this one too be added.

Feel free to fork the library and add it yourself.

[2018-06-04 07:44] jskeet commented on #1178
(Apologies for not replying to this before.)

What's being discontinued is sending requests to multiple different APIs in a single batch. Batching requests to a *single* API still works, and I haven't seen any plans to remove that.

The change isn't in the support library - it's in the discovery doc, which specifies the batch endpoint for each API. It looks like this was changed across APIs [in th

[2018-06-04 07:44] #1178 closed

[2018-06-04 07:47] jskeet commented on #1219
Assigned as a bug for now, although I'm still confused as I can't reproduce the issue - and it's still unclear to me what the impact of removing this reference would be. (I believe Chris is investigating.)

[2018-06-04 07:57] LindaLawton commented on #1178
I have not see anyone complaining yet.

[2018-06-04 08:18] chrisdunelm commented on #1219
I'm fairly sure this change is the right thing to do; I need to check backward compatibility.

[2018-06-05 18:48] codingyourlife commented on #1219
Sorry I wanted to be more active in this thread but put the project aside because I had little time :/
Do you still need anything like a demo project to reproduce the issue? Will take me some time especially because so much time has passed

[2018-06-06 09:10] rolfwessels opened #2036 "Alternative authorisation using code or dotnet app settings."
Hi,

I would like to know if there is any alternative method for authentication rather than using separate deployed file and environment variables.

The current defacto for dotnet standard for setting is to use the appsettings.json. Is there an opportunity to use appsettings.json `ConfigurationSection` to define google authentication?

Ideally to do something like.

`SessionsClient.Create(new Goog

[2018-06-06 23:13] aruswati opened #1232 "Diffferent Result/Numbers from Dashboard UI vs API"
**I'm seeing different result/numbers from Google Analytics UI and API by passing the same SegmentId.**

The query itself pretty straightforward with the following parameters:
1. StartDate = 2018-05-01
2. EndDate  = 2018-05-31
4. Metric = "ga:users"
5. SegmentId =  "gaid::xxx"

The Segment itself contains more complex query like filtering with multiple conditions. (But I assume the regardless of S

[2018-06-07 05:40] jskeet commented on #1232
I'm afraid the engineers who work in this repo don't know much about individual APIs - we just make sure that the C# code calls the API in the right way. If you're getting the same result from API explorer and from the C# code, that suggests the library is fine, and this is really an Analytics-specific question. I don't think we're going to be able to help you, but the Analytics [Get Help](https:/

[2018-06-07 05:40] #1232 closed

[2018-06-09 20:38] icarpis opened #1233 "FCM Access Token Via Client Java Script"
Is there any option to get the FCM access token key via Java Script on the client side?
I'm using Firebase for a simple android app' and I want to let some users the option to send a push notification messages.

[code]

[2018-06-10 06:10] jskeet commented on #1233
I'm not sure you're in the right repo here - this repo is for questions about C# client libraries. It sounds like you're asking about JavaScript instead. Is that right, or is there a C# aspect I'm missing at the moment?

[2018-06-10 06:42] icarpis commented on #1233
You're right.
Do you know maybe what is the right place to put this question on?

[2018-06-10 06:42] #1233 closed

[2018-06-10 06:43] jskeet commented on #1233
I'd probably ask on Stack Overflow or on the [Firebase Google Group](https://groups.google.com/forum/#!forum/firebase-talk) - I'm sorry that I don't have any more specific suggestions than that :(

[2018-06-14 03:16] mgressman opened #1234 "Failed to parse webhook JSON response"
I am building a C# rest service as the fulfillment target of a DialogFlow agent. When I use the Google.Apis.Dialogflow.v2 NuGet package in my service and build a JSON response for the webhook, the error **"Webhook call failed. Error: Failed to parse webhook JSON response: Cannot find field: ETag in message google.cloud.dialogflow.v2.Intent.Message.Text."** is reported.

If I build a custom library

[2018-06-14 09:51] lbrevity opened #1235 "Add Event to Other User google Calendar using Oauth (ClientSecrets) in mvc"
Hello,
I'm implementing calendar api to my mvc web application. I want flow like, When User performs any action in my web application, automatically add event to user's google calendar. First time it should prompt for permission then directly it should be added.

Can any one help me out ?

[2018-06-14 12:57] mgressman commented on #1234
The NuGet package I am using is https://www.nuget.org/packages/Google.Apis.Dialogflow.v2/ which leads me to this repository if I click on the **Project Site** link.

Here is the code I am using to build the response and return it:

[code]
That code causes the error noted. Everything works fine when I use the following code:

[code]
As you can see, the code is almost identical between working and n

[2018-06-14 14:19] jskeet commented on #1234
Right - again, I'd suggest *not* using that library, but using Google.Cloud.Dialogflow.V2 instead. While it would be nice to understand why Google.Apis.Dialogflow.v2 doesn't work here (I suspect you could fix it by telling Json.NET not to serialize null values), the simplest way of getting things working for you is just to use the other library - but make sure you get the protobuf messages to do t

[2018-06-14 14:22] jskeet commented on #1235
Okay, have you tried reading the guide at https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#web-applications-aspnet-mvc? If so, could you give details about where you're stuck?

[2018-06-14 14:40] mgressman commented on #1234
Got it.

Was confused and took me a minute to find because Google.Cloud is still pre-release.

I will try out that package instead and report back. Thanks so much for the guidance.

[2018-06-14 18:37] hiranya911 opened #1236 "FR: New Interface for Signing-enabled Credentials"
Google API clients available in some other languages provide a separate interface for signing, and credentials that support signing implement it.

* Java: http://google.github.io/google-auth-library-java/releases/0.6.0/apidocs/com/google/auth/ServiceAccountSigner.html
* Python: https://google-auth.readthedocs.io/en/latest/reference/google.auth.credentials.html#google.auth.credentials.Signing

Are

[2018-06-14 21:28] chrisdunelm commented on #1236
@hiranya911 `ServiceAccountCredential` does allow you to get the signing key via [the `.Key`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/ServiceAccountCredential.cs#L143) property.
Can you then use this key for the signing you need to do?

To get the `ServiceAccountCredential` from a `GoogleCredential` (or an `ICredential`) the following (unt

[2018-06-15 00:11] hiranya911 opened #1237 "FR: Expose Project ID from ServiceAccountCredential"
Similar to http://google.github.io/google-auth-library-java/releases/0.8.0/apidocs/com/google/auth/oauth2/ServiceAccountCredentials.html#getProjectId--

This is available in the service account JSON files issued by Google IAM.

[2018-06-15 04:32] hiranya911 commented on #1236
Since the service account credential gets wrapped in a `ServiceAccountGoogleCredential` we might need 2 levels of indirection to get to the `ServiceAccountCredential`:

[code]

Looks kind of hacky. But if there was an `ISigner` interface the above can be reduced to:

[code]

Much more reasonable. `ISigner` can contain the `CreateSignature()` method and `Id` property. WDYT?

[2018-06-18 19:32] AbilashSekharan opened #1238 "Impersonation using Service account not working in dot net"
I have looked into the [Service account sample to access public post in google plus account.](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth)
Similarly I am trying to use the service account which is having domain wide delegation to impersonate a user and scan through the email id in a G-Suite account.
When I try to call the Gmail API I am getting unauthorized_client excep

[2018-06-19 10:40] chrisdunelm commented on #859
Closing as this library is in maintenance mode, so this is unlikely to be done.

[2018-06-19 10:40] #859 closed

[2018-06-19 10:44] chrisdunelm commented on #973
Closing as this library is in maintenance mode, so this is unlikely to be done.

[2018-06-19 10:44] #973 closed

[2018-06-19 10:52] chrisdunelm commented on #1120
Closing as UWP is an unsupported platform. Will re-open and investigate if we add support for UWP.

[2018-06-19 10:52] #1120 closed

[2018-06-19 11:07] LindaLawton commented on #1238
Not all Google APIs support service accounts.   Google+ is one of the ones that does not.

When I try to call the Gmail API I am getting unauthorized_client exception. Could you please help me to understand what I am missing here?

This will only work if its a GSuite gmail address if its a standard gmail account you cant delegate to it.  [this might help](https://developers.google.com/identity/pro

[2018-06-19 11:10] #1151 closed

[2018-06-19 11:52] chrisdunelm commented on #573
Closing for now having added this to the [backlog](https://github.com/google/google-api-dotnet-client/blob/master/BACKLOG.md)

[2018-06-19 11:52] #573 closed

[2018-06-19 11:52] chrisdunelm commented on #663
Closing for now having added this to the [backlog](https://github.com/google/google-api-dotnet-client/blob/master/BACKLOG.md)

[2018-06-19 11:52] #663 closed

[2018-06-19 11:52] chrisdunelm commented on #903
Closing for now having added this to the [backlog](https://github.com/google/google-api-dotnet-client/blob/master/BACKLOG.md)

[2018-06-19 11:52] #903 closed

[2018-06-19 11:52] chrisdunelm commented on #1059
Closing for now having added this to the [backlog](https://github.com/google/google-api-dotnet-client/blob/master/BACKLOG.md)

[2018-06-19 11:52] #1059 closed

[2018-06-19 11:53] chrisdunelm commented on #1076
Closing for now having added this to the [backlog](https://github.com/google/google-api-dotnet-client/blob/master/BACKLOG.md)

[2018-06-19 11:53] #1076 closed

[2018-06-19 11:53] chrisdunelm commented on #1087
Closing for now having added this to the [backlog](https://github.com/google/google-api-dotnet-client/blob/master/BACKLOG.md)

[2018-06-19 11:53] #1087 closed

[2018-06-19 13:46] chrisdunelm commented on #1237
@hiranya911 I'm not sure of the context you're using this in. You've asked about ServiceCredentials here; might this also be required for OAuth and/or compute credentials?

[2018-06-19 14:30] chrisdunelm commented on #1219
@onovotny suggests that this is a reasonable thing to do, especially as we don't have any other net-standard deps in these projects. See https://github.com/IdentityModel/IdentityModel2/issues/76#issuecomment-346842349
Although [this post in the same issue](https://github.com/IdentityModel/IdentityModel2/issues/76#issuecomment-346834370) seems to imply that if we updated our `System.Net.Http` to th

[2018-06-19 14:35] jskeet commented on #1219
Yes, that all sounds fine, I think...

[2018-06-19 14:58] chrisdunelm commented on #1219
Fixed in #1227

[2018-06-19 14:58] #1219 closed

[2018-06-19 15:01] chrisdunelm commented on #577
Re-opening at the request of @igorbernstein2 on the BigTable team. We'll see if we can get this into the next release.

[2018-06-19 19:52] AbilashSekharan commented on #1238
Can you provide me a reference of what are the API's a Service account can access.

As per the document you [refereed ](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) Service account can access Calendar and create an event.

![event in service account](https://user-images.githubusercontent.com/5886366/41620433-56836a2a-73cf-11e8-9101-2654502e454e.PNG)

I

[2018-06-19 20:14] hiranya911 commented on #1237
I think it's only available on ServiceAccountCredentials in other languages, which is good enough for our purposes.

[2018-06-20 06:08] LindaLawton commented on #1238
There is no list that i am aware of that states which accounts dont work with service accounts.  To my knowledge,   blogger, youtube, youtube analytics, google+   basically any api that requires that the person who data is shared with respond to an email when the data has been shared and those that dont allow sharing data with other users.  Gmail is the latter because you can create email address

[2018-06-20 07:40] chrisdunelm commented on #1238
@AbilashSekharan I don't know much about delegation, but have noticed a couple of things that might help:

* T[his SO question/answer](https://stackoverflow.com/questions/42784640) does suggest that your domain-wide delegation is mis-configured somehow. [This github issue](https://github.com/google/google-auth-library-ruby/issues/123) may also help; it's about Ruby, rather than C#, but appears to

[2018-06-20 15:04] DenSmoke opened #1242 "Access token refreshing with ServiceAccountCredential"
I get access token with code:
[code]

What I have to do to get access token refresh when it is expired?
Accordingly to https://developers.google.com/identity/protocols/OpenIDConnect#refresh-tokens I have to add access_type=offline to the authentication request, but I don't understand how

[2018-06-20 15:50] Mexahoid commented on #776
@SapanModi It's not a solution.

[2018-06-20 16:20] chrisdunelm commented on #1236
@hiranya911 Now that #1237 is fixed, the ProjectID is available from `ServiceAccountCredential`.
This means that the Key and ProjectId are now both available; so I think you now have access to everything you require.

In your previous comment in this issue you show a double-indirection to get at the service-account.
Is this code that you will write, which the end user will not see and not have to

[2018-06-20 16:43] chrisdunelm commented on #1242
`access_type=offline` only applies to oauth credentials/tokens, not service credentials.
For a `ServiceAccountCredential` calling `GetAccessTokenForRequestAsync()` will return a cached or fresh token as required.
If you don't cache the result of `GetAccessTokenForRequestAsync()`, but call that function every time you need the token, then everything should just work.

[2018-06-20 17:36] DenSmoke commented on #1242
Thanks for explanation

[2018-06-20 17:36] #1242 closed

[2018-06-20 23:28] hiranya911 commented on #1236
Thanks @chrisdunelm. I think we can design our library in a way so that enduser doesn't have to bother with it. Feel free to close this or treat it as low priority for the time being.

[2018-06-21 06:08] koryoesz commented on #1177
yes i am.

[2018-06-21 08:06] altinokdarici opened #1243 "FeatureInstances property in Admin.Directory.directory_v1 is not strongly typed."
**FeatureInstances** property in **Google.Apis.Admin.Directory.directory_v1** is object and it loads JObject/JToken into it in runtime. Instead, It would be great to see strongly typed property.

**Current implementation is as below;**
https://github.com/google/google-api-dotnet-client/blob/12b62068b7950e71dbfc8c5a5ceb61eb21443fac/Src/Generated/Google.Apis.Admin.Directory.directory_v1/Google.Apis.

[2018-06-21 08:10] jskeet commented on #1243
This is because the code is generated from this discovery document: https://www.googleapis.com/discovery/v1/apis/admin/directory_v1/rest

That describes featureInstances as:

[code]

The "any" type basically means "not statically typed" here.

Additionally, changing this now would be a breaking change.

I completely understand why this is frustrating, but I don't think we can change it now.

[2018-06-21 08:31] #577 closed

[2018-06-22 07:06] chrisdunelm commented on #1236
Thanks, closing.

[2018-06-22 07:06] #1236 closed

[2018-06-22 07:07] chrisdunelm commented on #1235
Closing. Please leave another comment if you'd like to follow-up.

[2018-06-22 07:07] #1235 closed

[2018-06-22 07:08] chrisdunelm commented on #1237
This is fixed in #1240, and will go out in the next release. Closing.

[2018-06-22 07:08] #1237 closed

[2018-06-22 07:10] chrisdunelm commented on #1234
Looks like this has been resolved, so closing. If not, please leave another comment here so we can re-open.

[2018-06-22 07:10] #1234 closed

[2018-06-22 21:07] AbilashSekharan commented on #1238
Hi Chrisdunelm,
Thanks for your reply with the [issue references](https://github.com/google/google-auth-library-ruby/issues/123). The reply of [osfa](https://github.com/google/google-auth-library-ruby/issues/123#issuecomment-344224661) in the form helped me. As he said I created a google project with just one Service Account in it with domain-wide delegation and it worked like a charm.

Now I am a

[2018-06-22 21:16] chrisdunelm commented on #1238
@AbilashSekharan Glad it's working.Unfortunately I have no idea about why this works, and I'm not aware of any docs on this.
@LindaLawton do you know anything about this?

[2018-06-22 21:22] chrisdunelm commented on #1243
Closing as there's nothing for us to do here.

[2018-06-22 21:22] #1243 closed

[2018-06-23 09:47] LindaLawton commented on #1238
I don't have access to gsuite any more so can't test it.

Are you saying that if you create a project on dev console and only add service account credentials it works.   But if you add another credential type say native the service account stops working?

[2018-06-24 14:17] rick-love commented on #912
@jamierytlewski Thank you for this post. I was running into the same issue when deploying to AWS. adding the extra x509StorageFlags solved the issue.

[2018-06-25 09:41] koreanilkumar commented on #1115
How can we we get the account_id?

[2018-06-25 09:47] jskeet commented on #1115
@koreanilkumar: Please see the comment from November 17th - it looks like it's a matter of retrieving it from the resourceName field.

[2018-06-25 10:20] koreanilkumar commented on #1115
Yes, but for mention in resourceName people/me or people/{my account_id or profile_id}, If I want to get the details of particular person I need to get their account_id, looking for this id, Didnt find any api to get this.

[2018-06-25 10:22] jskeet commented on #1115
"If I want to get the details of particular person I need to get their account_id, looking for this id,"

It's not clear what you're asking, to be honest - but this isn't likely to be the right place to ask, given the start of the November 17th comment:

We don't know the details of the API you're asking about, and you haven't made it clear what you're asking - we don't know what you *do* know abo

[2018-06-27 12:01] chrisdunelm opened #1245 "Target netstandard2.0 in all packages"
This is now recommended practice; to target netstandard2.0 alongside netstandard1.x

[2018-06-27 16:24] #1245 closed

[2018-07-02 13:15] LindaLawton opened #1249 "Indexing api not being built."
I am not seeing a NuGet package for [Indexing api](https://developers.google.com/search/apis/indexing-api/)  there is a [Discovery doc](https://www.googleapis.com/discovery/v1/apis/indexing/v3/rest)

Any idea where it is?

[2018-07-02 13:19] chrisdunelm commented on #1249
@LindaLawton There's currently a problem with the build automation; we're not currently automatically producing nuget packages.
We hope to have this fixed in a week or two.
If this particular library is a required, I may be able to get a manual build of it done. Please let me know.

[2018-07-02 13:23] LindaLawton commented on #1249
I had a request for it though my website.  I pointed the person to this issue.   I will let him decide if he needs it now or can wait until the build if fixed.

[2018-07-03 05:46] pblachut commented on #1245
When are you planning the nearest release with it?

[2018-07-03 06:38] chrisdunelm commented on #1245
@pblachut We currently have a problem with our build/push infrastructure. As soon as this is sorted out the new packages will be released to nuget. We expect this to be within a week or two. Sorry for the delay.

[2018-07-03 15:44] LindaLawton commented on #1213
All future development on this can be found here [Actions on Google .net](https://github.com/LindaLawton/actions-on-google-dotnet) .

_Dont get to excited its currently just an empty solution.   Setting it up first._

[2018-07-04 06:51] LindaLawton opened #1250 "Force get access token with service account."
# background info

In response to [Index api dll not being built](https://github.com/google/google-api-dotnet-client/issues/1249) there is also a question on stack here.   [How to get OAuth AccessToken (google) for posting a job to Google Hire in C#?
](https://stackoverflow.com/q/51156370/1841839)

# Service account hack

As far as i can see there is no public method on google GoogleCredential whi

[2018-07-04 07:12] chrisdunelm commented on #1250
@LindaLawton I'm surprised that the dummy call is required, I would expect just the call to `GetAccessTokenForRequestAsync()` would be sufficient.

Looking at the code, `GetAccessTokenForRequestAsync()` for both a [`ServiceAccountCredential`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/ServiceCredential.cs#L193) and a [`UserCredential`](https:

[2018-07-04 07:16] chrisdunelm commented on #1238
Closing for now, as this seems to be resolved (albeit in a way we don't fully understand) and we don't have any specific knowledge of this problem in this repo.

If you need any further questions on this, please leave a comment and we can re-open if necessary.

[2018-07-04 07:16] #1238 closed

[2018-07-04 07:17] LindaLawton commented on #1250
Ok never mind seams something was up with my async.   It was just skipping over the call so not filling it in.

[2018-07-04 07:19] chrisdunelm commented on #1250
:) Glad it's working!

[2018-07-04 07:19] #1250 closed

[2018-07-04 07:21] LindaLawton commented on #1250
var requiest = Task.Run(() => RunSomeAsyncMethodAsyncFTW());
    requiest.Wait();

Helps loads.

[2018-07-12 14:21] chrisdunelm commented on #1249
It's now looking as if this will be fixed by end of July or beginning of August. As soon as it's resolved we'll start doing regular releases again.

[2018-07-12 20:31] LindaLawton commented on #1249
I will be on vacation at that time I will see if I can build the samples before I leave then they will work when the new API package is released

[2018-07-17 03:46] Worthy7 opened #1256 "Token is not showing expired"
I am using the standard clock, but I am in Japan (which means different time zone).
The permission has NOT been revoked and I can still see it on the permissions page : https://myaccount.google.com/u/1/permissions

`cred.Issued` is `{7/17/2018 11:53:49 AM}` about 30 minutes ago, `expiredTimeInSeconds` is `3600`

![image](https://user-images.githubusercontent.com/4762399/42795505-aa09069a-89bf-11e8

[2018-07-17 05:34] Worthy7 commented on #1256
I think it might be expired because another access token request was made (the login) and that invalidated the stored access token.  But shouldn't `LoadTokenAsync` be automatically refreshing an invalid `access_token` anyway by using the `refresh_token`?

[2018-07-18 13:01] LindaLawton commented on #1256
Comment on 1: If a user revokes permission to the app the refresh token will not work anymore.   Any access token that you have that has not expired will still continue to work.

Access tokens continue to work for their lifetime 1 hour.  Even refreshing it will not prevent the first access token from continuing to work you will just have two valid access tokens.

[2018-07-18 13:18] chrisdunelm commented on #1068
Workaround posted in the FAQ. Not perfect, but closing for now.

[2018-07-18 13:18] #1068 closed

[2018-07-18 13:55] chrisdunelm commented on #1256
@Worthy7 Thanks for adding some clarification.

A call to `flow.RevokeTokenAsync()` deletes the users token from the local DataStore ([code](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/Flows/GoogleAuthorizationCodeFlow.cs#L106)).
A call to `flow.LoadTokenAsync()` *only* loads the token from the local DataStore ([code](https://github.com/google

[2018-07-19 10:19] chrisdunelm commented on #1256
@Worthy7 Just noticed that you're wanting to remove the app permission when the user deletes their account.
The way to do this is to call [`userCredential.RevokeTokenAsync(...)`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/UserCredential.cs#L153), which programmatically revokes the app permission.
Note that as [stated in the docs](https://deve

[2018-07-19 10:42] Worthy7 commented on #1256
I know, it takes 5 seconds. It's very annoying.

On Thu, 19 Jul 2018, 19:19 Chris Bacon, <notifications@github.com> wrote:

[2018-07-19 10:56] chrisdunelm commented on #1001
I can't quite reproduce this.
When I authorize a user, then manually revoke the user using the Google web UI, then attempt to use the revoked access-token, I get a `TokenResponseException`, with the following data:
[code]

So this can be detected by checking if the `.Error.Error` field equals `invalid_grant`.

I agree this would be nicer as an enum, but this seems acceptable as it is.

[2018-07-19 10:57] chrisdunelm commented on #1001
Ah, I think you were using an old (obsolete) GData API. These are entirely unsupported, so we won't be fixing anything there.

[2018-07-19 10:58] chrisdunelm commented on #1001
Closing, please leave a comment if there is anything else to consider, and we may re-open.

[2018-07-19 10:58] #1001 closed

[2018-07-19 10:58] chrisdunelm commented on #1000
OK, fairly sure the correct behaviour here is that `ReauthorizeAsync(...)` should always perform a full user-interactive authorization.
Which means the code in [`GoogleWebAuthorizationBroker.ReauthorizeAsync(...)`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/GoogleWebAuthorizationBroker.cs#L114) should remove the local token before starting th

[2018-07-19 11:00] LindaLawton commented on #1256
as @Worthy7  stated in my experience its seconds and is probably related to the REST HTTP calls themselves taking some time.

[2018-07-19 12:09] chrisdunelm commented on #1256
Yes, Google servers can take a while to propagate the revocation, beyond the time taken to actual perform the RPC. There is nothing we can do to change this.

@Worthy7 Is there still something that you think is wrong with the client library? Or has this conversation allowed you to achieve what you need to do?

[2018-07-19 23:56] hiranya911 opened #1260 "ServiceAccountGoogleCredential.CreateScoped() Does Not Preserve ProjectId"
Consider the following code:

[code]

This is because CreateScoped() method does not preserve ProjectId field:

https://github.com/google/google-api-dotnet-client/blob/a610e6f36d994fd8e81cd6ed9e61d9c603fd154e/Src/Support/Google.Apis.Auth/OAuth2/GoogleCredential.cs#L264-L274

[2018-07-20 00:20] Worthy7 commented on #1256
I can't reproduce this now, and I'd rather not backtrack to work it out. The error happened when my app was in an erroneous state with people who had no account, but did have their google credentials stored.
This code was running when a user tries to log in with google, we detect they have no account with us, then try to clear their credentials "just in case".

Difficult to explain but, FIN for no

[2018-07-20 06:34] chrisdunelm commented on #1256
Thanks for the explanation. If the error does re-occur, please feel free to comment here so we can re-open.

[2018-07-20 06:49] chrisdunelm commented on #1260
There are various other properties that are also not preserved. I'm surprised this hasn't been reported before.
I'll prepare a PR to fix.

[2018-07-27 11:24] sebastianbk opened #1263 "Client SDK for Google Cloud ML Engine is missing on NuGet"
Hi,

On [this page](https://developers.google.com/api-client-library/dotnet/apis/ml/v1) there is a link to NuGet, supposedly locating the .NET client SDK for Google Cloud ML Engine. However, the link (https://www.nuget.org/packages?q=Google.Apis.ml&prerelease=true) returns not results on NuGet.

Where can I find it? I would very much like to avoid having to generate the SDK myself based on the dis

[2018-07-27 11:27] #1263 closed, assigned to jskeet

[2018-07-31 02:51] Acinity commented on #983
UWP always get screwed over. I've been waiting about 2 years for a proper fix to this.

[2018-07-31 12:37] Ducatel opened #1264 "Exception 401 when try to execute example"
Hi,

I'm trying to execute a sample from [documentation](https://developers.google.com/youtube/v3/code_samples/dotnet#retrieve_my_uploads). Just update 2 points:

* Use an `ApiKey`
* Call Execute synchronous

The exception:

[code]

The code :

[code]

Do you know where I did a mistake ?

Thanks in advance for your help

[2018-07-31 13:33] laped opened #1265 "copyRequiresWriterPermission not supported"
Both of these related properties seems to be missing from the generated code for Drive V2 and V3 on the File-resource.

- capabilities.canChangeCopyRequiresWriterPermission
- copyRequiresWriterPermission

https://developers.google.com/drive/api/v3/reference/files#resource

[2018-07-31 14:06] jskeet commented on #1265
If this was added very recently, it'll be missing because there's been an issue with library generation, which should be fixed sorted. @chrisdunelm is likely to know more, but he's away until early next week.

[2018-07-31 15:13] Ducatel commented on #1264
I'm not authorized when I use an ApiKey ??? 😨
How I can get my private video from my server ? (I cannot use oauth for that, didn't have any web browser on my server)

[2018-08-01 07:02] Ducatel commented on #1264
OK, I will check that. Thanks ;)

[2018-08-02 02:45] Worthy7 commented on #1256
Hi there, just had this error again.
At what point does flow take care of auto-refreshing access tokens?

[2018-08-02 02:50] Worthy7 commented on #1256
Switching to use the refresh token instead worked:

[code]

[2018-08-02 05:39] jskeet commented on #1256
Reopened, but Chris is away this week so it'll be Monday before he's able to look again.

[2018-08-02 18:49] LindaLawton commented on #1256
iir we refresh the token four minutes before it is due to expire

[2018-08-03 00:06] Worthy7 commented on #1256
Where's the trigger to check and refresh?

On Fri, 3 Aug 2018 at 03:49, Linda Lawton <notifications@github.com> wrote:

[2018-08-06 08:39] okarpov opened #1267 "Stops and hangs"
Hello,

for the last few weeks we could not submit more than 100k-200k requests.
It stopped and hang - no errors, no exceptions, nothing.

Any information or thoughts would be very helpful.

Thank you

![image](https://user-images.githubusercontent.com/2629775/43706323-b1f61970-996d-11e8-8248-9da9bb7bad65.png)

[2018-08-06 12:03] chrisdunelm commented on #1265
These were added to the documentation about a month ago (July 10th 2018), so @jskeet is correct that this problem is caused by the current problem with library generation. See also #1249.
We expect this problem to be fixed soon, after which we can regenerate all libraries.

[2018-08-06 12:08] chrisdunelm commented on #1267
@okarpov Please can you give us some more details.
Which API(s) are you calling?
Where exactly does it hang? Is it hanging within this library code, or within your code?
In what environment are you seeing this problem? Is it running locally or on something like Kubernetes? On Windows/Linux/Mac? Is it ASP.NET [Core], or a console app, or something else? Is it .NET Core? If so, which target are you

[2018-08-06 12:15] TVerduijn commented on #1249
@chrisdunelm , any news on when the Google.Apis.Indexing Nuget package will be available?

[2018-08-06 12:25] chrisdunelm commented on #1249
@TVerduijn We're still waiting for a Google-internal bug-fix to be deployed, after which we will build/release the package.
I *hope* this will be done this week, but this isn't guaranteed.

[2018-08-06 12:26] okarpov commented on #1267
just in case the token info:
{"access_token":".....","token_type":"Bearer","expires_in":3600,"scope":"https://www.googleapis.com/auth/content","Issued":"2018-08-06T13:25:13.226+01:00","IssuedUtc":"2018-08-06T12:25:13.226Z"}

[2018-08-06 15:00] okarpov commented on #1267
hmm, may it relate to the token expiration? and how to request a new token under asp.net mvc?

[2018-08-06 15:48] chrisdunelm commented on #1267
@okarpov Yes it is 3,600 seconds, which is one hour. Your graph does seem to show approximately one hour of use before it fails.
So it sounds like you're seeing the problem when using ASP.NET? Is this ASP.NET classic, or ASP.NET Core?
If it's classic then you can follow the [guide here](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#web-applications-aspnet-mvc).
If it's .N

[2018-08-06 15:49] okarpov commented on #1267
its classic ASP.NET MVC - will the a look into the guide.
Thank you!

[2018-08-06 15:51] okarpov commented on #1267
btw, how would I know it is about to expire? should we calculate it ourselves?

[2018-08-06 15:58] chrisdunelm commented on #1267
The library code handles that for you. When you call `await new AuthorizationCodeMvcApp(this, new AppFlowMetadata()).AuthorizeAsync(cancellationToken)` (see the guide) it calls through to code in [AuthorizationCodeWebApp.cs](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/Web/AuthorizationCodeWebApp.cs#L105) that checks for token expiration.

[2018-08-06 16:19] chrisdunelm commented on #1256
The access-token is now refreshed at 6 minutes before it expires. See [`TokenResponse.cs`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/Responses/TokenResponse.cs#L35).
The refreshing itself is managed by [`TokenRefreshManager.cs`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/TokenRefreshMan

[2018-08-07 00:07] Worthy7 commented on #1256
So what is the trigger to check? Just initialization of flow?

[2018-08-07 00:27] Worthy7 commented on #1256
I'm looking at the code and I can see that the only place `ShouldRequestAuthorizationCode` is called from is in `AuthorizeAsync`, but I can't see anywhere where `AuthorizeAsync` is called. When is it supposed to be called? (I just used Visual Studio to find references and it says just one in `AutorizationCodeMvcApp` but it's just an override.)

So am I supposed to be calling AuthorizeAsync myself

[2018-08-07 00:41] Worthy7 commented on #1256
I think I am understanding it better now, I was not using the `AuthorizationCodeWebApp` class. I was just using flow directly instead.
I think this still means I need to manually call `AuthorizeAsync` on this class though to get the check to happen.
Anyway, I see the MVC example and it seems that is the case, so the checking of token is not automatic when requests are made, just during authorizati

[2018-08-07 00:41] #1256 closed

[2018-08-07 05:24] ratneshkumarcs opened #1268 "Calling Google.Cloud.Dialogflow.V2.beta02 methods using C#"
Hi,
Anyone have sample C# application to call Google.Cloud.Dialogflow.V2.beta02.. I am new to this . I have downloaded application from git but i am not able to figure out where ans how to start.

Please help.

[2018-08-07 07:23] #1268 closed, assigned to chrisdunelm

[2018-08-07 07:39] chrisdunelm opened #1269 "Use new urls for authentication"
[Parent issue](https://github.com/GoogleCloudPlatform/google-cloud-common/issues/260)

The following specific library changes are required:

### OAuth 2.0 Authorization Grant Flow (aka 3LO)

For clients using this flow, change (and test):
- https://accounts.google.com/o/oauth2/token -> https://oauth2.googleapis.com/token
- https://accounts.google.com/o/oauth2/revoke -> https://oauth2.googleapis.co

[2018-08-07 08:00] okarpov commented on #1267
@chrisdunelm as I understood it checks at the beginning only.
But our logic takes hours to push all data in to Google Content API and during this flow
the token may expire after 1 hour so we need to handle it somehow and check it before every next
request if token has expired and if so then request a new one and reauthorize.

[2018-08-07 09:14] chrisdunelm commented on #1267
The `UserCredential` will refresh the access-token as required, so even if your logic takes more than one hour this should work fine.

When an RPC is executed, [`UserCredential.InterceptAsync(...)`](https://github.com/google/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/UserCredential.cs#L73) is called to add the auth header to the HTTP request.
This calls [`UserCredenti

[2018-08-07 09:50] okarpov commented on #1267
we use completely the same code as in example, but
as you could see - we were having a gap after about an hour - why was that causing by if you say it should be handled automatically?

`
public static async Task<AuthResult> ConnectAsync(Controller controller)
{
            _controller = (IBaseController)controller;

            var authcode = new AuthorizationCodeMvcApp(controller, new AppFlowMeta

[2018-08-07 10:12] okarpov commented on #1267
workflow is the following:
- user navigates to a page
- authorize google account if needed (usually first time navigation)
- clicks a button to start sending data into google client api
- leaves page until done (during this period javascript send ajax requests to controller to get progress)

from that I see that it goes through the await new AuthorizationCodeMvcApp(this, new AppFlowMetadata()).Aut

[2018-08-07 14:39] Asadlerpwcom opened #1270 "Where is the google.apis.jobs.v3 NuGet package?"
Hi,

I am trying to install the package google.apis.jobs.v3 into my project, however this is not findable on NuGet as per the documentation?

https://www.nuget.org/packages?q=google.apis.jobs

https://cloud.google.com/talent-solution/job-search/docs/libraries

[2018-08-07 22:05] german95n opened #1271 "Google.Cloud.Dialogflow.V2 Could not load file or assembly Google.Protobuf"
I have created a new Azure functions projects using .net core 2.0

And when I try to reference this package it says the following:

The function that is giving me the problem:

[code]

I have tried installing the Nuget package manually but that didn't work. Should I go back to .Net framework meanwhile this gets fixed or is a solution for this?

[2018-08-07 22:32] german95n commented on #1271
Ok! Thanks for the fast response and very easy to understand!

[2018-08-07 23:00] jskeet commented on #1271
I'm just sorry I couldn't give better news :(

I'm hopeful that Azure Functions will get past this over time - it really needs to in order to work for modern NuGet realities.

[2018-08-07 23:00] #1271 closed

[2018-08-09 12:36] jskeet commented on #1270
Hi @Asadlerpwcom,

Sorry we didn't reply to this before. Normally the library would have been created automatically, but there's been a problem with the build recently. @chrisdunelm is keeping track of the situation, and can probably comment further.

(I note that the previous version was actually called Google.Apis.JobService.v2 - it's possible that the v3 will be Google.Apis.JobService.v3 rather

[2018-08-09 15:59] chrisdunelm commented on #1270
@Asadlerpwcom jobs v3 has been renamed [Google.Apis.CloudTalentSolution.v3](https://www.nuget.org/packages/Google.Apis.CloudTalentSolution.v3) and is now available on nuget.

[2018-08-09 16:07] chrisdunelm commented on #1265
@laped [Drive v2](https://www.nuget.org/packages/Google.Apis.Drive.v2) and [Drive v3](https://www.nuget.org/packages/Google.Apis.Drive.v3) have now been regenerated and these new versions published on nuget. These will contain the new properties.

[2018-08-09 16:14] chrisdunelm commented on #1249
@LindaLawton @TVerduijn [Google.Apis.Indexing.v3](https://www.nuget.org/packages/Google.Apis.Indexing.v3/) is now available on nuget. Apologies for the delay.

[2018-08-09 16:50] chrisdunelm commented on #1270
And I've submitted an internal change request for the incorrect documentation. Not sure how quickly that'll get updated though!

[2018-08-09 16:51] #1249 closed

[2018-08-09 16:52] #1265 closed

[2018-08-09 16:53] chrisdunelm commented on #1269
Cannot yet make progress on this; waiting for an answer about URL discrepancies on the [parent issue](https://github.com/GoogleCloudPlatform/google-cloud-common/issues/260).

[2018-08-10 08:13] Asadlerpwcom commented on #1270
Brilliant!

Thanks guys :)

[2018-08-14 21:33] paulbatum commented on #1271
Hi @german95n and @jskeet - I work on Azure Functions and we've been doing a bunch of work to try to make it so that functions behaves correctly in cases like this.

I just tried this scenario out on our latest published V2 bits and I was not able to repro, but perhaps I am not following the right steps.

I made a V2 app with a http trigger, and then I referenced the DialogFlow NuGet and used it f

[2018-08-14 21:38] jskeet commented on #1271
@paulbatum: Could you try the JSON parsing code from the first code snippet, just with some arbitrary value? It's possible that you're running into the Auth issue before the versioning collision comes into play.

[2018-08-14 23:29] paulbatum commented on #1271
OK, this does not throw an error for me:

[code]
[code]

[2018-08-15 05:38] jskeet commented on #1271
That's interesting. @german95n could you let us know which version of Google.Cloud.Dialogflow.V2 you were using? We released a new version with new dependencies a couple of weeks ago... I wonder whether that's why @paulbatum can't reproduce the problem. (This would only be "coincidentally correct" rather than due to any changes on our part around how dependencies are managed.)

[2018-08-15 13:33] greenorigin commented on #1041
to Resolve this issue you need to Update Nuget Package Manger.
To update Nuget Package Manager Please Go to **Tools => Updates** and **update Nuget Package Mange**r.

[2018-08-15 16:26] german95n commented on #1271
@paulbatum I had a previous version of the Azure Host. Updating the Azure Host to your version had solved the problem. I'm very pleased to know that I can use .Net Core now with the Azure Functions without setting the bindings explicitly.

@jskeet I was using the beta 02.

[2018-08-15 18:16] paulbatum commented on #1271
@german95n thats great!

@jskeet Please reach out if you see any other users reporting problems loading these libraries in Azure Functions V2 so that we can investigate (unfortunately we do not have a good solution for users on V1)

[2018-08-20 12:36] chrisdunelm commented on #1270
https://cloud.google.com/talent-solution/job-search/docs/libraries was updated a while ago. Closing.

[2018-08-20 12:36] #1270 closed

[2018-08-20 12:50] LindaLawton commented on #1269
The age old question why are we not reading from the [discovery doc](https://accounts.google.com/.well-known/openid-configuration)

[2018-08-20 17:14] theacodes commented on #1269
@LindaLawton

Because many times the Auth libraries are used separately and independently of the Apiary client.

From my response on https://github.com/GoogleCloudPlatform/google-cloud-common/issues/260#issuecomment-414392920:

By "the file" I mean the client secrets or private key JSON file.

[2018-08-21 05:43] Trycoder commented on #933
Hi,
Can i Use the flow as mentioned in https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#web-applications-aspnet-mvc for Web API 2 also?

[2018-08-27 16:48] JustinBeckwith commented on #1269
*gentle ping*

[2018-08-30 11:42] okarpov commented on #1267
@chrisdunelm
so can you confirm this "When an RPC is executed, UserCredential.InterceptAsync(...) is called to add the auth header to the HTTP request." and why then we got expirations and gaps?

Thank you

[2018-08-31 04:04] kasamachenkaow opened #1275 "Getting 403 for service account for some urlSite"
Hi,

let's say I have code like this

`var result = await service.Searchanalytics.Query(query, url).ExecuteAsync();`

when url is `https://www.test.com/` everything works just fine

but when I change to `https://www.test.com/th-th/` for example I always got 403

anyone here knows something about this problem

(my user is both owner of `https://www.test.com/` and `https://www.test.com/th-th/`)

Tha

[2018-08-31 06:27] jskeet commented on #1275
Could you try the same query in the [Search Analytics page](https://developers.google.com/webmaster-tools/search-console-api-original/v3/searchanalytics/query)? The developers maintaining this repository don't know the details of each API to give support on that front - we can help if it's the .NET client library itself that's causing the problem though. (So if you can get it to work through that

[2018-09-05 02:46] Primtek opened #1276 "newbie, how to render to chat canvas?"
Hi..
I am newbie to this ..
I am trying to return a text using codes below, works properly on Dialogflow's console, but I don't know how to render it to chat canvas?
could any body here ..please share the code?
thanks a lot in advance

Regards
Wil

public async Task<object> Post([FromBody]GoogleCloudDialogflowV2WebhookRequest _request)
        {
            try
            {
                var _r

[2018-09-05 06:14] jskeet commented on #1276
I haven't tried using that library for Dialogflow. I'd suggest using Google.Cloud.Dialogflow.V2 instead - we have an example for how to use it to implement a web hook at https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Dialogflow.V2/index.html

For Dialogflow general documentation about webhook fulfillment, see https://dialogflow.com/docs/fulfillment

[2018-09-05 07:16] Primtek commented on #1276
@jskeet
noted with thanks .. I will try to use Google.Cloud.Dialogflow.V2 ..

could you please share how to use Protobuf to format the JSON to return?
and how to render the messages at web chat client?

thanks a lot in advance
Win

[2018-09-05 16:29] SiarheiSurnin opened #1277 ".Net Client Google.Cloud.Storage.V1.StorageClient UploadObjectAsync 503 periodically error, during upload"
Code snippet:

var _client = StorageClient.Create();
await _client.UploadObjectAsync(_bucketName, input.Key, input.ContentType, file);

Problem desription:

Periodically(< 5%) I receive error Google.GoogleApiException ex with ex.Error.Code == 503.
More interesting, if user will reupload same file(perform same operation over same file, there is great chances that reupload will be without error)

Er

[2018-09-05 16:59] jskeet commented on #1277
Just as a heads-up, for future requests for Google.Cloud.Storage.V1, please file them in https://github.com/GoogleCloudPlatform/google-cloud-dotnet which is the home for that code. I apologise that our internal structures make things awkward.

It sounds like this was basically a backend outage that has now gone away.
Indeed, it looks like it's probably [this](https://status.cloud.google.com/incide

[2018-09-05 18:18] yuri-martynov opened #1278 "Google.Apis.PhotosLibrary.v1.Data.Album has no coverPhotoMediaItemId property"
As described here https://developers.google.com/photos/library/reference/rest/v1/albums
Resource: Album has coverPhotoMediaItemId but .NET API hasn't

[2018-09-05 20:58] JustinBeckwith commented on #1269
👋 @chrisdunelm @jskeet anything we can do to help with this one?

[2018-09-07 15:17] bartdkmediahuis commented on #1234
@chrisdunelm : Can you give a little more information about when to use Google.Apis.Dialogflow and when to use Google.Cloud.Dialogflow ?
We created an entire application on top of the Apis.Dialogflow and don't want to switch, but receiving the ETag exception as well. Thanks in advance,

[2018-09-10 15:41] chrisdunelm commented on #1278
I've heard back from the photos team.
Unfortunately the C# package was released in error, and is not supported in any way, and no new versions will be released.
The only currently supported languages are Java and PHP, as shown here: https://developers.google.com/photos/library/guides/client-libraries

Closing this issue, as this is an unsupported package.

[2018-09-10 15:41] #1278 closed

[2018-09-10 16:29] chrisdunelm commented on #1234
@bartdkmediahuis [Google.Cloud.Dialogflow.V2](https://www.nuget.org/packages/Google.Cloud.Dialogflow.V2) is where all current and future developments happen. It's currently in beta, but will definitely make its way to GA; although I'm not sure of the timeline.
[Google.Apis.Dialogflow.v2](https://www.nuget.org/packages/Google.Apis.Dialogflow.v2/) is an older style library that will see little or no

[2018-09-11 10:27] chrisdunelm commented on #1277
Closing. This was caused by a transient server outage.

[2018-09-11 10:27] #1277 closed

[2018-09-11 10:29] chrisdunelm commented on #1276
Closing. If the documentation doesn't answer the question please leave another comment and we can re-open.

[2018-09-11 10:29] #1276 closed

[2018-09-11 10:52] #1269 closed

[2018-09-12 15:08] Primtek commented on #1276
I did not find in documentation on how to render messages from json response to web chat canvas..
for example: .. web hook send quick reply json response and then the web chat canvas should display quick reply options according to the json response...
please let me know .. if this is covered or not in this api.

thanks

[2018-09-12 15:14] jskeet commented on #1276
I'm afraid that's not something we'd document *here* - it's not specific to the .NET client library, so you'd find it in the general Dialogflow documentation.

[2018-09-12 15:30] Primtek commented on #1276
yeah I think so.. hope any one here can share what they knew or what they got from other resource..
googled but got nothing :(

[2018-09-18 09:26] kasamachenkaow commented on #1275
We do have "https://www.test.com/th-th/" in Search Console, now problem got fixed

it's because of the bug about order of create service account and assign ownership of property to it

anyway thank you :)

[2018-09-18 09:26] #1275 closed

[2018-09-18 09:30] kasamachenkaow opened #1282 "Cannot specify Proxy inside of GoogleCredential object"
Now I have a problem about setting proxy to the `GoogleCredential` object

from what I see now it support `GoogleCredential.FromJson()`

but after I called this static method I got the `ICredential object` with` HttpClient object` inside automatically

unfortunately that HttpClient have `null` as a Proxy

is there any ways to get through this one?

[2018-09-18 10:41] jskeet commented on #1282
Assigned to Chris, but he may not be able to get to this quickly.

For the moment, I'd rely on setting a global proxy that the `HttpClient` will pick up automatically. I don't think we have any way of setting a custom `HttpClient` for credentials, although we could *potentially* look into that.

[2018-09-18 11:01] kasamachenkaow commented on #1282
Thank you

but now I have a work around by changing `GoogleCredential.FromCredential` modifier from `internal` to `public`

and then I can construct my `serviceCredential` myself, which free to add things to HttpClient including Proxy wrapper

now it's working

[2018-09-18 21:32] vladimirolefir opened #1283 "Load Data Inline in Google.Apis.SQLAdmin.v1beta4"
Hello,

During import data to MySQL I'd like to specify TERMINATED BY parameters. now we are forced to use "|" character and import doesn't doesn't recognize this parameter.
Is there any plans to add support in the future? somewhere here:
requestBody.ImportContext.CsvImportOptions.TerminatedBy = "|"; for instance

Thank you,
Vladimir

[2018-09-19 06:53] jskeet commented on #1283
Unfortunately the maintainers of this repo don't know details of most of the APIs or the plans for future enhancements. We're happy to look into questions and issues that are specific to the .NET libraries (such as requests not being sent properly) but for API-specific questions you'll need to ask in an API-specific forum.

I suggest you review the options on the [Cloud SQL for MySQL support page]

[2018-09-19 06:53] #1283 closed

[2018-09-19 14:09] dannystommen opened #1284 "Google.Apis.DoubleClickBidManager.v1 missing enum value for reporting Filter enum"
According the DBM documentation (https://developers.google.com/bid-manager/v1/filters-metrics) filter FILTER_ACTIVITY_ID is deprecated in 1-2 weeks, and should be replaced by FILTER_FLOODLIGHT_ACTIVITY_ID (or FILTER_DV360_ACTIVITY_ID). However, both these enums (and probably more) are not yet available in  the enum Google.DoubleClickBidManager.API.Enums.Filter.

Any plans on adding this soon?

Tha

[2018-09-19 14:31] chrisdunelm commented on #1284
As far as I can see, these enums are entirely missing from the generated code. Not sure why at the moment.

[2018-09-19 14:42] chrisdunelm commented on #1284
@dannystommen It looks as though these have never been generated as enums; and the C# property that needs to be set with this value is a string - e.g. [`FilterPair`](https://github.com/googleapis/google-api-dotnet-client/blob/master/Src/Generated/Google.Apis.DoubleClickBidManager.v1/Google.Apis.DoubleClickBidManager.v1.cs#L943)`.Type` - so it looks as if you need to copy/paste the enum string as a

[2018-09-20 06:49] dannystommen commented on #1284
feel really dumb right now.. I see that we made a small wrapper around this library, we're we have this enum created ourselfs (for easier use). So yes, adding this is no problem at all.

[2018-09-20 06:49] #1284 closed

[2018-09-20 19:14] gcadmes commented on #1167
At the very least, an abstraction/workaround might have been using a Func<> so the developer could have opened the browser.  Like [this ](https://github.com/xamarin/Essentials/blob/master/Xamarin.Essentials/Browser/Browser.android.cs)for android or [this ](https://github.com/xamarin/Essentials/blob/master/Xamarin.Essentials/Browser/Browser.ios.cs)for iOS.

[2018-09-23 09:57] towfiles commented on #968
I'm currently experiencing this issue, is there any known work round or a fix for this?

[2018-09-23 12:31] tuwrraphael opened #1285 "Revoking a token results in 404"
When trying to revoke an access token using the `GoogleAuthorizationCodeFlow.RevokeTokenAsync` method, I discovered a 404 response.

I believe the reason is that the `Google.Apis.Auth.OAuth2.GoogleAuthConsts.RevokeTokenUrl` is wrong, which is pointing to `"https://oauth2.googleapis.com/revoke"`, while the documentation [here](https://developers.google.com/identity/protocols/OAuth2WebServer#tokenre

[2018-09-24 07:49] chrisdunelm commented on #1285
This is because the current revoke code [uses a GET request](https://github.com/googleapis/google-api-dotnet-client/blob/6c935cf0ada56d423dc0db0e108f285d9d5dc4d2/Src/Support/Google.Apis.Auth/OAuth2/Flows/GoogleAuthorizationCodeFlow.cs#L96), but the new URL requires a POST request. See https://github.com/googleapis/google-cloud-common/issues/260#issuecomment-413231697
This is a bug for which we sho

[2018-09-24 10:50] chrisdunelm commented on #1213
Closing as there's nothing for us to do in the client libraries for this. Please leave a comment if follow-up is required.

[2018-09-24 10:50] #1213 closed

[2018-09-25 15:03] allerallegro opened #1286 "Redundant parameter to upload file to team drive"
When uploading, informing TeamDriveId, you need to set Google.Apis.Drive.v3.FilesResource.CreateMediaUpload.SupportsTeamDrives = true. If it does not say the file is loaded in the root folder of the logged in user.
![issue_drive](https://user-images.githubusercontent.com/31351604/46023419-fadc6d00-c0ba-11e8-981e-db5069339151.png)

[2018-09-25 15:15] jskeet commented on #1286
I understand it's quite odd to have to specify both, but I believe that's just the way the Drive API is designed.

Please note that the users of this repository aren't experts on the specific APIs in question - we ensure that the .NET client libraries work correctly with the APIs, but we usually don't know details about individual API requirements.

I suggest that to file an issue with the Drive A

[2018-09-27 17:45] saadmr opened #1287 "Google.Apis.Requests.RequestError 'valueInputOption' is required but not specified [400]"
i still have this message even i try to change scope Google.Apis.Requests.RequestError
'valueInputOption' is required but not specified [400] can some one help please !

[2018-09-27 17:51] jskeet commented on #1287
Could you give us a bit more information about what API you're trying to call, and what this has to do with scopes? It sounds like you should be specifying a `ValueInputOption` property somewhere, but without knowing anything about what you're trying to achieve, it's very hard to help.

[2018-09-27 17:56] saadmr commented on #1287
i m using a google api  :
using Google.Apis.Auth.OAuth2;
using Google.Apis.Sheets.v4;
using Google.Apis.Sheets.v4.Data;
using Google.Apis.Services;
using Google.Apis.Util.Store;
using Newtonsoft.Json;
using System.IO;
using System.Threading;
using Data = Google.Apis.Sheets.v4.Data;

 and this is my full code :

 private void button3_Click(object sender, EventArgs e)
        {
            string[]

[2018-09-27 18:13] jskeet commented on #1287
Right, so this is the problem:

[code]

The value 0 isn't value for `ValueInputOption`. See https://developers.google.com/sheets/api/reference/rest/v4/ValueInputOption

I'm going to close this issue as it looks like it's not an issue with the .NET libraries.

[2018-09-27 18:13] #1287 closed

[2018-09-28 17:53] jskeet commented on #1287
Set it to one of the values in the enum - read the documentation I linked to before to work out which you want.

[2018-09-29 17:41] saadmr opened #1288 "How to: Change Cell Font and Background Color"
hey , my problem is  that i want to change some cell with changing background color  can i do that with c# ?

[2018-09-29 18:03] jskeet commented on #1288
I'm afraid you haven't given us enough information to help you. Which API are you using, and what have you tried? Are you facing a problem in terms of not knowing what to do with the API, or is it a problem with the C# class library? The maintainers here don't tend to have much experience with individual APIs, but we help diagnose problems with the libraries themselves.

[2018-09-30 12:50] saadmr commented on #1288
thanks for your answer ! i m really lost in google api

using Google.Apis.Auth.OAuth2;
using Google.Apis.Sheets.v4;
using Google.Apis.Sheets.v4.Data;
using Google.Apis.Services;
using Google.Apis.Util.Store;
using Newtonsoft.Json;
using System.IO;
using System.Threading;
using Data = Google.Apis.Sheets.v4.Data;

know i cant write in a  spreadsheet but i want to change color of rows or culmn when i

[2018-09-30 13:12] jskeet commented on #1288
I'm not sure what you mean by "i cant write in a spreadsheet" - you can absolutely modify a spreadsheet through the Sheets API.

I suspect you want to use the [`spreadsheets.batchUpdate`](https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets/batchUpdate) call to update the [`CellFormat`](https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets#CellFormat). However,

[2018-09-30 13:12] #1288 closed

[2018-09-30 13:54] saadmr commented on #1288
sorry that my fault i mean i can write in a spreadsheet but what i want is to change color of row with c#

[2018-09-30 14:02] jskeet commented on #1288
Okay, well see the documentation links in the previous comment, but I'm afraid beyond that Stack Overflow would be your best option.

[2018-09-30 14:04] saadmr commented on #1288
thanks for help ;)

[2018-10-02 15:34] benempson opened #1289 ""The given key was not present in the dictionary" thrown on callback"
Hi there, I have been implementing Google OAuth2 in my MVC site as per the instructions at:
https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#web-applications-aspnet-mvc

I have been able to get to the point where I am redirected to Google, I give the appropriate authorisation and the callback Url is called. At this point an "The given key was not present in the dictionary" e

[2018-10-02 15:41] jskeet commented on #1289
Looks like [this line](https://github.com/googleapis/google-api-dotnet-client/blob/4f52deeda2e2fb034a919f48de3cb77e18e6f3e8/Src/Support/Google.Apis.Auth.Mvc/OAuth2/Mvc/Filters/AuthActionFilter.cs#L35)

Presumably `authorizationCode` isn't in the dictionary. Chris, do you know more about this?

[2018-10-05 11:12] benempson commented on #1289
Hi all, what do you think is a likely timescale to get a response on this?

[2018-10-05 14:46] your0mind commented on #968
It works for me
https://github.com/googleapis/google-api-dotnet-client/issues/508#issuecomment-364359363

[2018-10-05 15:01] towfiles commented on #968
thanks, i used the thread method as well to avoid the hanging then added a time out

[2018-10-05 16:51] eduxavier opened #1290 "Contact is created but I can't see it anywhere"
I'm using PeopleService in order to create contacts straight into my G Suit Account. I followed the security steps about getting the key for a type of Service Account. My Application will create contacts so that there's no need to request a specific user permission. It has its own key and credentials.
My code seems  to work except because the CreateContactRequest provides me ResourceName with valu