[2021-01-18 15:16] #1736 closed

[2021-01-19 23:10] nyhack56 opened #1747 "Google Drive API V3 Out Of memory downloading large files"
I am having issues downloading large files over 1.5 GB from Google Drive using the .NET V3 nuGet package.

Using the code below:

       public void DownloadFile(string fileId, string saveTo)
        {
            var request = service.Files.Get(fileId);
            var stream = new System.IO.MemoryStream();
            // Add a handler which will be notified on progress changes.
            // It

[2021-01-20 03:47] jskeet commented on #1747
I would suggest downloading to disk if at all possible in this case. If you absolutely need to download just into memory, then yes, you should be able to set the `Range` value, but you'll need to cast to the `MediaDownloader` class, as it's not specified in `IMediaDownloader`:

[code]

[2021-01-20 16:13] #1632 closed

[2021-01-20 16:14] amanda-tarafa commented on #1632
I'll flag here when we have released this change.
Thanks for the request.

[2021-01-20 16:14] JPL0908 opened #1750 "GoogleWebAuthorizationBroker.AuthorizeAsync Return URI Not Working"
I am having an issue returning from the GoogleWebAuthorizationBroker.AuthorizeAsync call in C# using:

UserCredential userCredential;
using (FileStream stream = new FileStream(AppContext.BaseDirectory + "client_secret.json", FileMode.Open, FileAccess.Read))
{
    userCredential = await GoogleWebAuthorizationBroker.AuthorizeAsync(
        GoogleClientSecrets.Load(stream).Secrets,
        new[] { Yo

[2021-01-20 16:22] JPL0908 opened #1751 "GoogleAuthorizationCodeFlow.Initializer Always Returns a ReadOnly Token"
Trying to use the following code to upload a video to YouTube:

UserCredential userCredential;
TokenResponse tokenResponse = new TokenResponse { RefreshToken = REFRESH_TOKEN };
using (FileStream stream = new FileStream(AppContext.BaseDirectory + "client_secret.json", FileMode.Open, FileAccess.Read))
{
    userCredential = new UserCredential(new GoogleAuthorizationCodeFlow(
        new GoogleAuthor

[2021-01-20 16:22] amanda-tarafa commented on #1750
`Google.Apis.Auth.OAuth2.GoogleWebAuthorizationBroker` is for use in instanlled apps, not in web apps.
You can find information about how to use Google.Apis.Auth in web apps in our docs [here](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#web-applications-asp.net-core-3).

[2021-01-20 16:47] amanda-tarafa commented on #1751
Can I ask where are you getting `YouTubeService.Scope.YoutubeUpdate` from? I'm using the latest release of [Google.Apis.YouTube.v3](https://www.nuget.org/packages/Google.Apis.YouTube.v3/) and there's not a `YouTubeService.Scope.YoutubeUpdate`. Are you looking at using `YouTubeService.Scope.YoutubeUpload` instead?
The code you've pasted doesn't even build when I try to run it.

[2021-01-20 17:03] JPL0908 commented on #1750
Is there a github example that shows end to end how to set this up for a web app?  Google docs appears to be pieces and parts, with lots of missing pieces on how to do this.  Thanks.

[2021-01-20 17:03] JPL0908 commented on #1751
Sorry, should have been YoutubeUpload.

[2021-01-20 17:05] amanda-tarafa commented on #1750
There's a link to the full code on the docs I sent earlier. Here it is again: [Google.Apis.Auth.AspNetCore3.IntegrationTests](https://github.com/googleapis/google-api-dotnet-client/tree/master/Src/Support/Google.Apis.Auth.AspNetCore3.IntegrationTests)

[2021-01-20 17:26] amanda-tarafa commented on #1751
Does it work with `YouTubeService.Scope.YoutubeUpload`? If it does not work, please include a full sample that shows how you ar setting the credential on the service and how you are making the service call. Also, please be explicit about the error are you getting.

[2021-01-20 18:34] JPL0908 commented on #1751
It does not work.  Always returns a readonly token and the error message "Google.Apis.Requests.RequestError\r\nRequest had insufficient authentication scopes. [403]\r\nErrors [\r\n\tMessage[Insufficient Permission] Location[ - ] Reason[insufficientPermissions] Domain[global]\r\n]\r\n".

                TokenResponse tokenResponse = new TokenResponse { RefreshToken = ConfigurationManager.AppSetting

[2021-01-20 18:36] jskeet commented on #1751
When you go through the flow with it asking you to approve access, does that display the scope that you've just set in the code? I wonder whether it's picking up an old read-only user from the `FileDataStore`... could you try using a new location for the `FileDataStore` just to rule that out?

[2021-01-20 18:38] JPL0908 commented on #1751
In testing, I delete all of the tokens located in the folder for the FileDataStore.

[2021-01-20 18:39] jskeet commented on #1751
Okay... and what access was requested in the browser?

Additionally, it's not clear to me why you're specifying an existing token response... perhaps that's the real issue? I can't see why you'd have a refresh token configured for the application...

[2021-01-20 18:55] amanda-tarafa commented on #1751
With what scopes did you obtained the refresh token? The access token will have the same scopes as the refresh token, i.e. refreshing an access token does not also do incremental authorization.
If you need a refresh token for uploading the videos offline, you need to obtain the refresh token itself with sufficient scopes.

[2021-01-21 06:07] jskeet commented on #1747
You shouldn't need to flush, and it would be simpler to just use a using statement to dispose the stream when the method call finishes. But I'm glad it's working for you - I'll close the issue now.

[2021-01-21 06:07] #1747 closed

[2021-01-21 13:39] JPL0908 commented on #1751
Got it to work.  Went into the Google OAuth Playground, and retrieve a Refresh Token...one for ReadOnly and one for Update. Plugged those into my code, and the youTubeService.Videos.Insert now works using the GoogleAuthorizationCodeFlow.  Thanks for helping out.

[2021-01-21 13:39] #1751 closed

[2021-01-21 13:40] JPL0908 commented on #1750
Thanks for the info...this headed me in the right direction.

[2021-01-21 13:40] #1750 closed

[2021-01-21 13:50] JPL0908 opened #1754 "youTubeService.Videos Disable Comments"
Is there a way through the YouTube api to set comments and Ratings? Specifically set to Disable Comments and Uncheck Show how many viewers like and dislike this video. Thanks.

[2021-01-21 14:24] amanda-tarafa commented on #1754
You might want to take a look at the YouTube API [documentation](https://developers.google.com/youtube/v3/docs) itself or ask on their specified [support channels](https://developers.google.com/youtube/v3/support). On the client libraries side (this repo) we make sure that the libraries offer the same capabilities as the APIs but we are certainly not experts on each of the individual APIs or their

[2021-01-22 11:53] amanda-tarafa opened #1756 "Allow injecting System.Net.Http.HttpMessageHandler to an implementation of Google.Apis.Http.IHttpClientFactory"
Feature request stemming from #1755. This issue if for discussion purposes.

FYI @trejjam

[2021-01-22 13:10] amanda-tarafa commented on #1756
As the feature request stands is unlikely that we implement it or accept #1755. But let's discuss options to make sure that use cases are covered.

Note: It's very possible that this could have been designed different from the start, it's possible that we wouldn't desing these libraries as they are if we were to start from scratch right now. But this is the code base that we have, and most importa

[2021-01-22 15:15] amanda-tarafa commented on #1756
Replying here to https://github.com/googleapis/google-api-dotnet-client/pull/1755#issuecomment-765254690

Yes, but all of this is only available from .NET Core 2.1, and we still support earlier .NET versions. Now that I know why you want to use `IHttpMessageHandlerFactory` let me think a little bit more about it.

[2021-01-22 15:22] amanda-tarafa commented on #1756
OK, I've got a clean solution. I'm working on a PR that I will try to have ready for today. Else Monday.

[2021-01-22 15:40] trejjam commented on #1756
Oh, that is great to hear. Thanks a lot.

[2021-01-22 16:28] trejjam commented on #1756
I tried this, and it is not possible since `System.Net.Http.HttpMessageHandler.SendAsync` has modifiers `protected internal abstract`. So it is not callable from a "user" code.

This is not a valid code (the `SendAsync` part):
[code]

[2021-01-22 17:24] JPL0908 commented on #1754
Will do.  Thanks.

[2021-01-22 17:24] #1754 closed

[2021-01-23 20:08] amanda-tarafa commented on #1756
I've created #1757 as a draft, which I think achieves similar results to #1755, but, it is not breaking and the library is not making a decision on how to obtain the underlying HtppClientHandler. @trejjam can you check if this would work for you?

@jskeet (for Monday of course) take a look, happy to hear yout thoughts.

For context, this will allow users on .NET Core 2.1 and above to create messag

[2021-01-26 13:44] GrecoRom1 opened #1760 "Wrong default BaseURI Google.Apis.Playcustomapp.v1.cs"
Since today, we cannot deploy any apk through the Playcutomapp API. We are getting an error 404.

After investigating, it seems that the default baseURI change from https://playcustomapp.googleapis.com to https://www.googleapis.com. (https://developers.google.com/android/work/play/custom-app-api/v1)

It's easily fixable by overwritting the baseURI while creating the PlaycustomappService object.

[

[2021-01-26 13:50] jskeet commented on #1760
Yes, this was reported in #1744. (Nothing has changed *today* - my guess is that you've updated to a later version of the library with a different default base URI. That changed a few months ago.)

I made the team aware of it just over a week ago, and we're just waiting for a fix to roll out. (These things take a while.)

There's no change required in the client libraries - they should soon start

[2021-01-26 14:02] GrecoRom1 commented on #1760
OK, good to know.
We'll wait for the fix, thank you.

[2021-01-28 09:49] PlayerBerny12 opened #1762 "Google.Apis.Auth.AspNetCore3 in .NET 5"
I port my small web application from .NET Core 3.1 to .NET 5 and everything seems okay. I was able to build and even run the application at my local computer. But when I pushed the application to Azure Repo where I am having set up automatic pipelines, that pipelines failed at Nuget restore.

[code]

Should I use Google.Apis.Auth.AspNetCore instead or is it a bug of this package?

[2021-01-28 09:57] jskeet commented on #1762
Google.Apis.Auth.AspNetCore is for ASP.NET Core 2.0, so you definitely shouldn't use that for .NET 5.

This sounds like a bug in the pipeline build to be honest - I'd expect a .NET 5.0 build to be able to consume a netcoreapp3.0 target. (And the fact that it works on your local computer is as I'd expect.)

I would suggest looking carefully to find out the difference between your local configuratio

[2021-01-28 10:17] PlayerBerny12 commented on #1762
I was able to spot the difference. At my PC version of Nuget is 5.8.1 but at Azure Pipelines it was set up to use version 4.4.1. Apparently old version of Nuget is not able to handle this.

[2021-01-28 10:18] #1762 closed

[2021-01-28 12:02] TheSwerik opened #1763 "[Request] Set Game for Video"
As far as I know and found out, you can set the Category for a video, but if the category is "Gaming" then you cannot set the game/game title.

I am writing a Program that manages Templates for my Livestreams so that I can load up a title, description, thumbnail, category, etc while I'm streaming.
The only thing that I cannot do with this API is set the game I'm playing. For that, I still need to

[2021-01-28 12:06] jskeet commented on #1763
Please could you clarify whether you believe this to be a missing feature in the API itself, or in the client library? (I'm assuming this is the YouTube v3 API? It's always helpful to say explicitly - this repository is the home of many, many packages.)

I'm afraid the maintainers of this repository don't know details of all the APIs that are covered by the client libraries - we're just responsibl

[2021-01-28 12:24] TheSwerik commented on #1763
Yes, this is about YouTube v3.

And I now realized that this is better suited as a feature request for the API itself.
Unless this is already in the API but I don't think that's the case.

Thank you for your help and sorry for bothering you.

[2021-01-28 12:28] #1763 closed

[2021-01-28 23:30] mjgabriel opened #1764 "Question: `SubscriberClient.CreateAsync()` That Accepts Google Credentials (like Cloud Storage Client)"
I've setup a GCP PubSub processor for our service and it creates a SubscriberClient like so

[code]

And I have the `GOOGLE_APPLICATION_CREDENTIALS` environment variable set and pointing at a valid SA key. Everything works as expected.

The Cloud Storage Client libraries allow you to create a storage client like so `StorageClient.Create(GoogleCredentials gcpCredentials);` and I was looking for som

[2021-01-28 23:40] mjgabriel commented on #1764
A colleague of mine pointed me to
https://github.com/googleapis/google-cloud-dotnet/blob/master/apis/Google.Cloud.PubSub.V1/Google.Cloud.PubSub.V1/PublisherClient.cs#L228

Looks like I could do this in my code and use the result as the `ChannelCredentials` for `ClientCreationSettings` to the `SubscriberClient.CreateAsync()` call.

[2021-01-29 06:50] jskeet commented on #1764
Yes, you can definitely create the `ChannelCredentials` directly.

At the moment we don't expose anything requiring/accepting `GoogleCredential` in our public APIs, so that we can change to a newer auth library without it being a breaking change. That was the hope a few years ago - we're now getting to the stage where it looks sufficiently far away that we might just add methods accepting a `GoogC

[2021-01-29 19:41] mjgabriel commented on #1764
Thank you for confirming that creating the `ChannelCredentials` manually is alright to do. Also appreciate the insight into why the PubSub API differs with respect to accepting `GoogleCredential` directly.

Updated our code to create `SubscriberClient` and `PublisherClient` using manually created `ChannelCredetials` from `GoogleCredential` and it looks good so far (running locally and talking to P

[2021-01-29 19:45] jskeet commented on #1764
Great! Glad it's helped. I'll close this issue now, but do add another comment if something comes up and you'd like us to reopen it.

[2021-01-29 19:45] #1764 closed

[2021-02-01 07:25] jskeet commented on #1760
This looks like it's at least *partly* been fixed - I now get a different error that suggests the new URI should work. I *expect* to get an error given that I don't have an APK to upload.

If you're able to test this with an actual app, it would be great to hear that it's working for you. Don't worry if that's infeasible though.

[2021-02-01 07:55] GrecoRom1 commented on #1760
I just got the confirmation from one of our user that he was able to perform the action.

So it looks like the problem has been fixed.

Thank you again for your help!

[2021-02-01 08:08] jskeet commented on #1760
Excellent - thanks for the speedy confirmation. Will close this now.

[2021-02-01 08:08] #1760 closed

[2021-02-01 18:00] peleyal commented on #6
I haven't been working on this project for more than 5 years now. Any reason why this one is assigned to me?

[2021-02-01 18:01] peleyal commented on #535
I hadn't been working on this project for more than 5 years now. Any reason why this one is assigned to me?

[2021-02-01 18:05] jskeet commented on #535
(I'm asking Justin what the cause is... I suspect it's some automated process that isn't ideal for old issues. I think it's safe to just ignore all these for now.)

[2021-02-01 18:21] mmdriley commented on #636
@JustinBeckwith going to assume this was just a stray click?

[2021-02-01 18:58] amanda-tarafa commented on #6
This was probably a bot going through old closed issues. I'll ask automation maintainers but not to worry if it happens again.

[2021-02-01 19:11] amanda-tarafa commented on #636
This was probably a bot going through old closed issues. I'll ask automation maintainers but not to worry if it happens again.

[2021-02-01 19:39] JustinBeckwith commented on #636
Apologies, robot run amok 🤖

[2021-02-01 21:45] mikemeinz commented on #1171
What's does "JustinBeckwith assigned mikemeinz 14 minutes ago" mean?

[2021-02-01 21:48] jskeet commented on #1171
@mikemeinz: Please ignore it. It's a bot assigning a lot of closed issues. I'm not sure what the algorithm is, but it's not always ideal...

[2021-02-01 23:15] xXBuilderBXx commented on #1111
What the heck why am i being assigned this from 3 years ago

[2021-02-02 00:33] amanda-tarafa commented on #1111
Please ignore it, is a bot that has apparently been modified to reassign closed issues. We are checking internally, but really just ignore.

[2021-02-02 02:13] Faith1sGay commented on #1111
based

[2021-02-02 12:02] LindaLawton commented on #531
@JustinBeckwith  you know i don't work for google right?  (Not for lack of trying.)  That being said I am not sure assigning it to me is your best option.

[2021-02-02 12:03] LindaLawton commented on #516
@JustinBeckwith  you know i don't work for google right?  (Not for lack of trying.)  That being said I am not sure assigning it to me is your best option.

[2021-02-02 12:08] amanda-tarafa commented on #516
@LindaLawton this was an automated task that was modified to assigned old closed issues, and have ended up erronously assigning to some users. The automation team and @JustinBeckwith are aware of the surprise this is causing. Sorry for any inconvenience, but please just ignore.

[2021-02-02 12:11] chrisdunelm commented on #531
@LindaLawton Sorry about this - it's been done by a bot, which was perhaps a little too  eager to assign ***all the bugs*** to someone. I'll reassign it to myself

[2021-02-02 23:42] simonmurdock opened #1766 "Is it possible to use Google.Apis.SmartDeviceManagement.v1 with a service account?"
I previously set this up with an OAuth 2.0 Web Application and following this tutorial https://developers.google.com/nest/device-access/authorize

However I have encountered auth issues after a few days. So I wanted to try and use this API with a service account but I am lost in the google .NET API, and not even sure if this is possible with a service account.

Do you know if its possible and if t

[2021-02-03 06:37] jskeet commented on #1766
I'm afraid the maintainers of this repository don't know the details of all the specific APIs, so we don't know whether this API supports service accounts, but I *expect* it would.

Assuming you've created the service account and have downloaded the JSON file, you can just use:

[code]

[2021-02-03 09:26] simonmurdock commented on #1766
ah, That is identical to what I have, so I must be on the right track then, thanks!

[2021-02-03 09:26] #1766 closed

[2021-02-08 03:54] felinepc opened #1768 "Possible to use HttpClient from .NET Core's IHttpClientFactory via DI to create a Google API client?"
I'm trying to use the Google API in my ASP.NET Core project. It seems that the Google API has its own ```IHttpClientFactory``` interface, which the ```BaseClientService``` can accept during initialization.

But .NET Core already has its own ```IHttpClientFactory```, which allows us to easily inject any typed or named ```HttpClient```.

Is there an easy way to simply create the ```BaseClientService

[2021-02-08 07:26] jskeet commented on #1768
Assigning to Amanda as she has been working on this sort of thing. (It's not quite as simple as you might expect it to be, unfortunately.)

[2021-02-08 09:39] amanda-tarafa commented on #1768
@felinepc take a look a #1756 and accompanying PR #1757. It won't allow you to inject an `HttpClient` itself, but it will allow you to inject the underlying `HttpMessageHandler`s whose lifetimes are also managed by `System.Net.Http.IHtppClientFactory`.
On the PR, take a look at the integration tests setup to see how you would use it.

For the sake of keeping related discussion in one place, I'll c

[2021-02-08 09:39] #1768 closed

[2021-02-08 15:46] amanda-tarafa commented on #1756
I've merged #1757, we'll do a release tomorrow. Leaving this open until we have released.

[2021-02-08 18:12] felinepc commented on #1756
@amanda-tarafa Thanks for merging my duplicate post #1768 here. It seems like I stumbled upon this issue just at the right time, as a new release is ready just I needed it! :)

Looking through your collaborations, now I understand why @jskeet said this is not as "simple" as I naively expected it to be.

I'm a fairly new .NET developer, so these lower level implementations here are a bit hard for m

[2021-02-08 18:44] amanda-tarafa commented on #1756
@felinepc We are trying to figure out where best to document this change. For the time being take a look at the [tests setup code here](https://github.com/googleapis/google-api-dotnet-client/blob/bfc9090dc2fae5b06a654328c4da7bc6b05b66f1/Src/Support/IntegrationTests/HttpClientFromMessageHandlerFactoryTests.cs#L38). You'll have to write something very similar to that in your `Startup.ConfigureServic

[2021-02-09 11:29] amanda-tarafa commented on #1756
This has now been released in Google.Apis.Core v1.50.0. Closing.
@felinepc feel free to create a new issue if you have specific usage questions.

[2021-02-09 11:29] #1756 closed

[2021-02-09 11:30] amanda-tarafa commented on #1632
This has now been released in v1.50.0.

[2021-02-09 11:31] amanda-tarafa commented on #1632
Also, #1753 has been released as well and might be of interest since it's related to this FR.

[2021-02-09 11:33] amanda-tarafa commented on #1729
#1741 has been released in v1.50.0

[2021-02-09 16:58] washamdev opened #1774 "New DoubleClickBidManager Query with DAILY Schedule Frequency: Active schedules can't have a past expiration date"
Target framework: **.NET Core 3.1**

Nuget package installed: **Google.Apis.DoubleClickBidManager.v1_1 (1.49.0.2162)**

I am able to create a `Query` with a schedule frequency of `ONE_TIME` just fine, but when I change the frequency, to like `DAILY` or `MONTHLY`, it fails every time with the following error:

Here is an easily runnable code example that fails for me every time. I have ensured the

[2021-02-09 17:04] jskeet commented on #1774
Your EndTimeMs and StartTimeMs appear to be Unix timestamps in *seconds*, not in *milliseconds*. Try multiplying each of them by 1000...

[2021-02-09 17:09] washamdev commented on #1774
@jskeet, that did it. My mistake! Thank you very much!

[2021-02-09 17:09] #1774 closed

[2021-02-09 23:31] felinepc opened #1775 "Some clarifications on new DI-friendly feature #1757 HttpMessageHandler injection"
@amanda-tarafa Thanks to your link to the [sample code](https://github.com/googleapis/google-api-dotnet-client/blob/bfc9090dc2fae5b06a654328c4da7bc6b05b66f1/Src/Support/IntegrationTests/HttpClientFromMessageHandlerFactoryTests.cs#L38) you provided in the other thread, I got the new feature to work.

So my understanding is that instead of injecting our own `HttpClient`, the new code registers a cou

[2021-02-10 10:24] amanda-tarafa commented on #1775
Yes, that's correct. But (and this will probably answer your question later)
- Strictly speaking, you only need to register for DI the named HttpClients (because that's how `System.Net.Http.IHttpClientFactory` works).
- You don't need to register `Google.Apis.Http.IHttpClientFactory` for DI, or if you register it, it doesn't have to a be as a singleton (there's just no reason not to). This is just

[2021-02-10 10:42] shertu opened #1776 "Google.Apis.Auth.AspNetCore3 results in "System.Exception: Correlation failed.""
I followed [the instructions on the google developer's page.](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth)

My code which implements these instructions can be found [here.](https://github.com/shertu/zukte/blob/main/aspnetapp/Startup.cs)

When I run my application and follow the OAuth2 flow then I get the following error:

![image](https://user-images.githubusercontent.c

[2021-02-10 12:10] amanda-tarafa commented on #1776
I don't believe this is a problem with the `Google.Apis.AuthAspNetCore3` emmitted cookie. I'm able to run [`Google.Apis.AuthAspNetCore3.IntegrationTests`](https://github.com/googleapis/google-api-dotnet-client/tree/master/Src/Support/Google.Apis.Auth.AspNetCore3.IntegrationTests) (the guide code is from there) as is with both involved flags enabled (see attached image). Also, if I inspect the cook

[2021-02-10 15:31] #1775 closed

[2021-02-10 22:43] shertu commented on #1776
Thanks for your quick reply Amanda,

[Here](https://github.com/shertu/correlation-error) is the slimmed down version of the codebase which still gives me the error.

To sign in using this code you need to type http://localhost:5000​/api​/Account​/Login into the browser.

I removed the cookie configuration code and the CORS code and the error still occurs.

Please let me know if you need anything e

[2021-02-11 00:40] padenj commented on #1776
I recently ran into this same issue when running the application locally.  I was able to get around it by setting the following options in `services.AddGoogleOpenIdConnect`:

                    options.NonceCookie.SameSite = SameSiteMode.Unspecified;
                    options.CorrelationCookie.SameSite = SameSiteMode.Unspecified;

[2021-02-11 01:52] shertu commented on #1776
This worked for me also.

[2021-02-11 16:06] amanda-tarafa commented on #1776
This is all related to SameSite cookie changes that were [introduced in ASP.NET Core 3.1](https://docs.microsoft.com/en-us/aspnet/core/migration/30-to-31?view=aspnetcore-5.0&tabs=visual-studio#react-to-samesite-cookie-changes) because browsers, including Chrome, were shortly going to start enforcing an [updated SameSite standard](https://tools.ietf.org/html/draft-west-cookie-incrementalism-00).

B

[2021-02-11 21:46] shertu commented on #1776
Thanks for the info Amana,

Will you update the documentation to explain this?

[2021-02-12 12:03] amanda-tarafa commented on #1776
Yes I will add a note and come back here when the public docs have been updated.

[2021-02-12 17:10] amanda-tarafa commented on #1776
I've added a note on the [relevant section](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#configure-your-application-to-use-google.apis.auth.aspnetcore3) of the documentation.
Will close this issue now, I believe I've addressed all your concerns. Do please leave a comment if you believe otherwise.

[2021-02-13 01:16] shertu commented on #1776
Awesome!

However, I think the documentation is misleading. The problem is not that you need to use the HTTPS redirection middleware but rather than you need use the HTTPS protocol in general.

[2021-02-13 06:29] felinepc opened #1778 "Doc says ListRequest.TimeZone is for response formatting, but setting it actually affects the range of returned data"
My original request:

[code]
With this setting, without specifying `request.TimeZone`, I noticed that the various `DateTimeRaw` values in returned events are using offsets based on calendar's time zone.

I wanted data back in UTC instead. So the documentation says `ListRequest.TimeZone` is:

So I added `request.TimeZone = "UTC"` to the query above. Now the `DateTimeRaw` values returned do show UTC

[2021-02-13 06:52] jskeet commented on #1778
I'm assuming you're using Google.Apis.Calendar.v3? (This repository is the home to [a *lot* of API libraries](https://github.com/googleapis/google-api-dotnet-client/tree/master/Src/Generated).)

It looks like this question is really about the behavior of the API rather than the client library - which means it's beyond the scope of the maintainers of this library. If this were about the "unfortunat

[2021-02-13 07:07] felinepc commented on #1778
@jskeet Thanks Jon. Yes I'm using the Calendar v3 and I see what you mean now. I just took Matt Johnson's "Date time Fundementals" course, and studied your Noda Time library, so I'm now looking at everything related to time with extra scrutiny.

It's a bit unfortunate that Google's API and .NET SDK docs just feels more difficult to use and learn compared to MS Graph. I guess that's natural with th

[2021-02-13 07:12] #1778 closed

[2021-02-13 09:21] amanda-tarafa commented on #1776
Yes you are right, I will modify the note slightly to indicate that using HTPPS redirections is a way to achieve what's needed but not the only one. In reality you don't even need to use HTTPS  in all your app, just for the back and forth with the identity server.
I'll try to make that clear.

[2021-02-15 14:34] amanda-tarafa commented on #1776
I've expanded [the note](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#configure-your-application-to-use-google.apis.auth.aspnetcore3) and hopefully its clearer now (we still recommend just supporting HTTPS and configuring HTTPS redirection). Note that we won't go into a full explanation either of OpenId, OpenId cookies, SameSite changes implications, etc. because we cons

[2021-02-15 22:52] shertu commented on #1776
Looks good enough to me. Thanks for the change Amanda.

[2021-02-15 22:52] #1776 closed

[2021-02-24 14:52] smourier opened #1784 "Current implementation of FilesResource.GetRequest's DownloadAsync with range parameter doesn't expose a way to modify used MediaDownloader."
Hi,

The current implementation of `Google.Apis.Drive.v3.FilesResource.GetRequest`'s `DownloadAsync `with a range parameter is the following:

            public virtual Google.Apis.Download.IDownloadProgress DownloadRange(System.IO.Stream stream, System.Net.Http.Headers.RangeHeaderValue range)
            {
                var mediaDownloader = new Google.Apis.Download.MediaDownloader(Service);

[2021-02-24 15:17] jskeet commented on #1784
You don't need to override anything - just create the MediaDownloader yourself directly instead of calling the `DownloadRange` method. There's nothing in that method that you can't do from your own code.

[2021-02-24 15:24] smourier commented on #1784
Thanks for your answer.

My concern was the GenerateRequestUri() method which is protected. I thought it was easier with an override (or a new method for that matter)

[2021-02-24 15:27] jskeet commented on #1784
Ah - apologies, I missed that part. Will have a look.

[2021-02-24 16:39] jskeet commented on #1784
Okay, I can see a few options here. It might be simplest to generate new overloads:

[code]

That allows more freedom in general. Will discuss with other team members.

[2021-02-25 07:55] jskeet commented on #1784
Alternative, somewhat simpler approach you can use right now: just cast the `GetRequest.MediaDownloader` property to `MediaDownloader` so that you can specify the `Range` property and other aspects, then call `DownloadWithStatus` or `DownloadAsync`.

We can update the generated comments to indicate that the execution-time type will always actually be `MediaDownloader` rather than some other implem

[2021-02-25 08:13] smourier commented on #1784
From an OO-perspective, it seemed more adequate to me to override the class and behavior and code something that matches my need using published members, instead of wild casting an interface and code something that may break in the future when you introduce another implementation of `MediaDownloader `(or what's the point of having interfaces in the first place  :-) )

Or introduce an `IRangeMediaD

[2021-02-25 08:31] jskeet commented on #1784
At this point I think we'd be happy to guarantee that it always *will* be an instance of `MediaDownloader`. (The use of an interface for this predates my time on the project - there are *lots* of API design choices we'd do differently if we were starting from scratch.)

If you want to create your own subclass, that's fine of course - but I'd personally go for the simpler casting approach.

One alt

[2021-02-25 08:33] smourier commented on #1784
Thanks again 👍

[2021-03-01 20:50] AnUl1 opened #1787 "How to get the members of a contact group with Google.Apis.PeopleService.v1"
I'm using the PeopleService.v1 to get the contacts of an google user. Now I want to get all members of a contact group. I didn't find any sample in the documentation. Please give me an hint how to get the members of a contact group.

Thank you.
Andreas

[2021-03-01 21:35] jskeet commented on #1787
We'll have a look at this tomorrow, but in general the maintainers of this repository don't know details of individual APIs - we're more about making sure that the libraries accurately represent the APIs themselves. So you might want to look into one of the paths listed on the [People API support page](https://developers.google.com/people/support).

(Looking *very* briefly at the documentation, it

[2021-03-02 14:07] jskeet commented on #1787
Right, I've now done this. Basically once you've got the contact group ID, you need something like:

[code]

That will give you an `IList<string>` for member resource names. For each of those members, you'd need to fetch the details, e.g. with

[code]

You may well be able to use request batching to fetch details of multiple people at the same time - I haven't tried that. (If you don't particularl

[2021-03-02 14:07] #1787 closed

[2021-03-03 08:35] jpassing opened #1788 "Extend ServiceAccountCredential to support CryptoNG keys on .NET Framework"
On .NET Framework, `ServiceAccountCredential` [is hardcoded](https://github.com/googleapis/google-api-dotnet-client/blob/89bee343393ecde1868ee25a304f62d4aa30e2cb/Src/Support/Google.Apis.Auth/OAuth2/ServiceAccountCredential.cs#L33) to use `RSACryptoServiceProvider` instead of `RSA`. As a result, you can only use (more-or-less deprecated) CryptoAPI-based keys and cannot use CryptoNG-based keys. This

[2021-03-03 08:57] jskeet commented on #1788
We'll consider it - but that would also require having a .NET 4.7 target, which we don't currently do. We'll need to carefully consider any compatibility implications of doing that. This isn't a "no" - it's just a "we'll need to think about it".

[2021-03-06 07:53] fabiofacal opened #1790 "CalendarService List() : the service returns an incomplete list of calendars"
The code:
          `CalendarService service = Google_Calendar_Service();
            service.CalendarList.List().MaxResults = 200;
            var calendars = service.CalendarList.List().Execute().Items;`

Although the list contains 111 calendars, the List () returns only 75
Please note that the missing calendars are not deleted or hidden.
In fact, adding alse the "true" value to ShowDeleted and

[2021-03-06 08:00] jskeet commented on #1790
Well I wouldn't expect you to get all 111 results anyway. From the documentation for `maxResults`:

It sounds like the default may actually be 100 rather than 75, but other than that, everything is behaving as expected. I can follow up on that default internally, so we can get the documentation updated.

Note that even when not all results are returned in a single page, that doesn't stop you from

[2021-03-06 08:00] #1790 closed

[2021-03-06 08:56] fabiofacal commented on #1790
Jon, 111 is lower than 250 (with maxResults=200) and 75 is lower than 100 (as default).
In any case the calls should be return 100, or not?
The problem was pagination that returns less results of expected as firstpage (75 instead of 100)

**Solved** using your hint:

            string pageToken = null;
            List<CalendarListEntry> items = new List<CalendarListEntry>();
            do

[2021-03-06 09:01] jskeet commented on #1790
That part I've already talked about - I believe the documentation is incorrect, and it should say 75 rather than 100.

But the formatting in your first comment confused me a bit. You've got a significant bug there. You're making several calls to `List()`, each of which returns a new request - so by the time you call `Execute()`, all of your previous settings are irrelevant. Your code should be:

[

[2021-03-06 09:08] fabiofacal commented on #1790
I confirm that this code works:

CalendarService service = Google_Calendar_Service();
var request = service.CalendarList.List();
request.MaxResults = 200;
request.ShowDeleted = true;
request.ShowHidden = true;
var calendars = request.Execute();

Thanks :-)

[2021-03-07 18:30] JKamsker opened #1791 "RequestError.ToString() missing Space"
When getting hit by a RequestError, one is also hit by the missing space between 'RequestError' and 'File'

![image](https://user-images.githubusercontent.com/11245306/110250318-fc443c00-7f7a-11eb-9f11-ac8073625e95.png)

I guess changing
`` sb.AppendLine(GetType().FullName).Append(Message).AppendFormat(" [{0}]", Code).AppendLine();``
 to
``sb.AppendLine(GetType().FullName).Append(' ').Append(Messa

[2021-03-07 18:31] jskeet commented on #1791
Thanks, we'll try to fix that this coming week, although we probably won't do a release just for this change.

[2021-03-08 10:07] amanda-tarafa commented on #1791
Actually I'm not sure this is our bug, but the code editor's bug. The type of the exception is being appended on it's own line. The next line contains the exception message and the error code. The screenshot you are showing seems not to be respecting the end of line.
You can see in #1792 tests faling and why.

[2021-03-08 10:11] jskeet commented on #1791
Ah yes - I hadn't spotted that it was AppendLine rather than Append...

[2021-03-10 15:07] smourier commented on #1784
I would work fine for me 👍

[2021-03-12 07:01] alex4998 commented on #983
Year 2021. Nothing changed. UWP is still not supported. Nice...

I just tried to reference the latest version and then tried version 1.37.0. They didn't work. I added the two files that we mentioned to my project and called

            UserCredential objCredential = await GoogleWebAuthorizationBroker.AuthorizeAsync(
               objSecrets,
               GOOGLE_SCOPE,
               strUser,

[2021-03-12 07:03] jskeet commented on #983
@alex4998: No, We haven't had any time to put into UWP (or Xamarin, or Unity) I'm afraid.

[2021-03-12 07:06] alex4998 commented on #983
But now I wonder if that trick with those two files really worked and why it doesn't work now.

[2021-03-12 07:53] jskeet commented on #983
@alex4998: It's certainly curious, but unfortunately we don't have time to investigate that aspect either.

[2021-03-14 03:05] alex4998 commented on #983
If anybody cares UserCancel was happening because WebAuthenticationBroker.AuthenticateAsync was called on a non-UI thread. Completely misleading error/status. I wrapped it into this and it started working:

         Task<WebAuthenticationResult> authenticationTask = null;
         await CoreApplication.MainView.Dispatcher.RunAsync(
            CoreDispatcherPriority.Normal,
            () => authe

[2021-03-15 09:23] amanda-tarafa commented on #1791
I'm closing this issue since we believe the bug is not on the libraries but on the code editor that is nor respecting the end of line.
Leave a note with more information if you feel otherwise.

[2021-03-15 09:23] #1791 closed

[2021-03-15 16:56] jskeet commented on #1790
It turns out the 75 vs 100 part is actually an implementation detail, where there really is a hard *maximum* limit of 100, but it's possible for fewer results to be returned even when more may be available in the next page.

In general, it's worth thinking of this like `Stream.Read`: you may not get as many bytes as you asked for, even if there are more coming. Use the presence of a next page toke

[2021-03-15 20:37] derekantrican opened #1795 "Deprecated properties/methods should use ObsoleteAttribute"
Deprecated properties/methods (eg: [Google.Apis.Calendar.v3.EventsResource.DeleteRequest.SendNotifications](https://github.com/googleapis/google-api-dotnet-client/blob/16995ba11e1adc839f8d25e9342ec2a1a9aa375f/Src/Generated/Google.Apis.Calendar.v3/Google.Apis.Calendar.v3.cs#L1978)) should use `[ObsoleteAttribute]` to notify users a property will be removed soon. See https://docs.microsoft.com/en-us

[2021-03-15 20:40] derekantrican opened #1796 "Some property types should be changed from string to enum"
Some property types (eg Google.Apis.Calendar.v3.Data.CalendarListEntry.AccessRole, Google.Apis.Calendar.v3.Data.Event.Visibility, etc) should use an enum type rather than a string

[2021-03-15 20:52] jskeet commented on #1796
The class library is generated from Discovery documents - such as [this one for Calendar](https://calendar-json.googleapis.com/$discovery/rest?version=v3). If the Discovery document says a property is an enum, then an enum is generated (e.g. for request parameters like `SendUpdatesEnum`) - but when it just says it's a string (as it does for `CalendarListEntry.AccessRole`) then we generate a string

[2021-03-15 20:52] #1796 closed

[2021-03-15 20:55] jskeet commented on #1795
There is no indication of deprecation within the Discovery document, unfortunately - so we can't generate obsolete attributes. (We definitely wouldn't want to start basing generation off descriptions - that would be much too brittle.)

Closing as this is basically infeasible without changing the Discovery document format - which is effectively in maintenance mode now.

[2021-03-15 20:55] #1795 closed

[2021-03-18 04:27] felinepc opened #1798 "Safe to use Polly with injected System.Net.Http.HttpMessageHandler?"
With #1757 , I wonder if it's safe to add Polly for transient error handling/retry like this:

[code]
Or does the Google API SDK already implement some kind of retry handler?

[2021-03-18 07:01] jskeet commented on #1798
There *is* already retry handling in [ConfigurableMessageHandler](https://github.com/googleapis/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Core/Http/ConfigurableMessageHandler.cs), but it's fairly primitive.

I expect it would be *okay* to use Polly as well, but you'd probably want to be careful not to use both retry strategies at the same time (as otherwise you could end up with

[2021-03-18 09:47] amanda-tarafa commented on #1798
There shouldn't be any problem with handling retry yourself, via Polly or any other mechanism. But I agree with @jskeet that you should deactivate our default retry strategy, else, we'll retry first, and they you'll get to retry, with the multiplicative effect that Jon mentioned. You can do that as follows (example with `TranslateService`, but the same applies for all other Google.Apis service cli

[2021-03-18 09:57] amanda-tarafa commented on #1798
@jskeet pointed out something from my reply, and it's that with the Polly configuration set on the `HttpClient` you'll get to retry first and then us, and not the other way around as I said.

[2021-03-18 10:00] jskeet opened #1800 "Project file warnings when packing"
When packing, we get this warning:

We just need a copy of the icon in the repo, and then a PackageIcon element.

[2021-03-18 12:31] #1800 closed

[2021-03-18 14:28] felinepc commented on #1798
@amanda-tarafa @jskeet Thank you for the detailed responses!

[2021-03-18 14:28] #1798 closed

[2021-03-18 17:33] jskeet commented on #1784
We've now implemented that plan in the 1.51.0 clients.

[2021-03-18 17:33] #1784 closed

[2021-03-18 17:35] jskeet commented on #1729
I'll close this issue now, as the workaround is publicly available.

[2021-03-18 17:35] #1729 closed

[2021-03-19 08:48] flagbug opened #1803 "Generating an id_token from a UserCredential"
I'd like to generate an `id_token` that I can use to call an authenticated Google Cloud Run service with this library. I'd like to use the Application Default Credentials for this, so developers can run the exact same code locally on their machine, as well as on Compute engine.

The code I came up with is the following:

[code]

Unfortunately this breaks down with `System.InvalidOperationException

[2021-03-19 11:01] amanda-tarafa commented on #1803
`UserCredential` does not support OIDC token emission, currently the only way to access [IAP secured resources](https://cloud.google.com/iap/docs/authentication-howto#obtaining_an_oidc_token_for_the_default_service_account) using the .NET libraries (and all other language libraries if I remember correctly) is with a service account or with the Compute default credentials (which includes App Engine

[2021-03-22 15:15] flagbug commented on #1803
Thank you for the super fast answer @amanda-tarafa! That's a bit unfortunate to hear and it would be awesome if it would just work™, but I guess the simple workaround is to use a separate service account per developer for now. I'l close this issue as my question has been answered 🙌

[2021-03-22 15:15] #1803 closed

[2021-03-23 17:40] melenaos opened #1806 "Server side authorization with stored token for later use"
I am trying to implement a new feature for my app. I want to update a Google Sheet automatically from a  cron type job.

I want to allow the user to authenticate with my app so I can store a Token to use at a later time in the worker process.

I have only seen how to authenticate a user with GoogleWebAuthorizationBroker (only for local apps) and with AddGoogleOpenIdConnect for MVC Core. The latter

[2021-03-23 22:03] flagbug opened #1807 "Application Default Credentials not available even if running on Google Compute Engine"
So this is a weird one. Our application is running in a managed instance group inside a Docker container on Google Compute Engine, on multiple machines, running in the region `us-east4`.

Sometimes when we are deploying and the managed instance group starts replacing our instances, we're receiving the following `InvalidOperationException` from the new instances.

[code]

**Now the thing is that fo

[2021-03-24 08:46] jskeet commented on #1807
A few *minutes* is definitely longer than I'd expect... and no, you're not doing anything wrong in your initialization of the `GoogleCredential` as far as I can see.

We're aware that sometimes it can take a *bit* of time for the metadata server to become available. We were at one point [looking at making the timeout configurable](https://github.com/googleapis/google-api-dotnet-client/pull/1721) -

[2021-03-24 09:38] flagbug commented on #1807
I had a deeper look into our tracing and what happens is that while the call to `GoogleCredential.GetApplicationDefault` internally retries it can take ~half a minute until it's done and throws the exception, e.g see this trace:

<img width="530" alt="Screen Shot 2021-03-24 at 10 28 25" src="https://user-images.githubusercontent.com/964691/112286943-23458200-8c8c-11eb-901a-78a2abe6c6bd.png">

When

[2021-03-24 09:38] amanda-tarafa commented on #1806
What you want to do is doable, but:

You will definetely need the user's Google OAuth tokens for updating a sheet on their behalf. So you either change your app's auth to be Google OAuth (not clear what it is now, something custom?) or have another way (another app) to obtain such tokens.
The only exception to this is if your users are members of a Google Workspace Domain, then you can do [Domain

[2021-03-24 09:43] jskeet commented on #1807
Right - half a minute is more in line with what I've heard internally before, I think. (Still longer than I'd like, but...)

I don't understand how this *is* fixing itself, so I think I'll need to dig in a bit further... it's unlikely that I'll be able to do so until at least late next week I'm afraid, so I'd definitely suggest using your proposed workaround until I can get back to you. (If we nee

[2021-03-24 10:06] willbryant commented on #1807
Quite possibly just a heck of a coincidence on timing, but our .NET application in `australia-southeast1` suffered this today on roughly one third of our VMs, 10.5 hours ago - not too far off when @flagbug opened this ticket.

Our production system only migrated to GCE very very recently and so we don't have any data about whether this is an ongoing issue for us. We haven't noticed it in our equiv

[2021-03-24 10:22] willbryant commented on #1807
I should have said, ours *didn't* seem to auto-resolve, but we'll check that again too. TBH that would seem easier to understand, given:
[code]
calling this:
[code]

[2021-03-24 14:45] melenaos commented on #1806
Thanks!
I will try your suggestion on writing my own auth code.

[2021-03-24 14:45] #1806 closed

[2021-03-25 09:05] amanda-tarafa opened #1810 "Configure HttpMessageHandler to allow for custom server certificate validation."
This issue is created to address the change proposed in #1808. We won't be accepting that PR since the change basically means that we'd accept any SSL server certificate and that of course is a security vulnerability.

[2021-03-25 09:31] amanda-tarafa commented on #1810
If you need to configure the underlying `HttpMessageHandler` then there's a way in which you can do that yourself, in your own code.
You need to use  [`Google.Apis.Http.HttpClientFromMessageHandlerFactory`](https://github.com/googleapis/google-api-dotnet-client/blob/bef5c75f0097d2ba96e9374d47bd4c95ba8a76a3/Src/Support/Google.Apis.Core/Http/HttpClientFromMessageHandlerFactory.cs#L25) to initialize

[2021-03-25 09:33] amanda-tarafa commented on #1810
@hiranya911 just an FYI, since #1808 and this resulting issue seem to stem from firebase/firebase-admin-dotnet#283

[2021-03-25 12:41] LindaLawton opened #1811 "Why do we have two nuget packages for the People api?"
The Method [people.get](https://developers.google.com/people/api/rest/v1/people/get?apix_params=%7B%22resourceName%22%3A%22people%2Fme%22%2C%22personFields%22%3A%22names%22%7D) has a required parameter called personFields the old parameter was requestMask.includeField  Which has now been deprecated.

![image](https://user-images.githubusercontent.com/6592543/112473271-6d069900-8d6e-11eb-9b03-22214

[2021-03-25 13:35] jskeet commented on #1811
The service was renamed a long time ago, unfortunately (2017 by the looks of it). We can look into delisting Google.Apis.People.v1 to avoid the confusion.

Other than that, is there still anything to check?

[2021-03-25 13:46] LindaLawton commented on #1811
I bet it was linked to the murder of Google plus and the Google plus api,  that was merged / morphed into the People api somehow.

Sounds like a great plan to me this ate about an hour of my time today.

[2021-03-25 14:11] jskeet commented on #1811
Have now delisted all versions of Google.Apis.People.v1.

[2021-03-25 14:11] #1811 closed

[2021-03-25 14:24] LindaLawton commented on #1811
My hero

[2021-03-28 12:49] LindaLawton opened #1812 "Support for limited input device"
Do we support this? or do we have the intention of supporting this?

[OAuth 2.0 for TV and Limited-Input Device Applications](https://developers.google.com/identity/protocols/oauth2/limited-input-device)

Im thinking for server installations where X windows isn't installed so won't have a web browser.  or even Raspberry pi

[2021-03-28 12:54] jskeet commented on #1812
We don't currently have any support for it that I'm aware of (although it sounds like it probably wouldn't be *too* hard to do without library support).

I think it's unlikely that we'll build it out just for C#, but if it gets to the top of the priority list for our auth libraries across languages, we could do it then.

[2021-03-29 09:31] LindaLawton opened #1814 "Request for extension of GoogleOpenIdConnectExtensions.cs"
Any chance we can get another extension in  [GoogleOpenIdConnectExtensions.cs](https://github.com/googleapis/google-api-dotnet-client/blob/99505fbdcd33d898242fa1bb573162589710ae9e/Src/Support/Google.Apis.Auth.AspNetCore/GoogleOpenIdConnectExtensions.cs)

One where I can just pass it the path to the credentials json file, and it can just grab the client id and secret out of that file itself?  Might

[2021-03-29 10:03] amanda-tarafa commented on #1814
Thanks for the request! I think this is doable, although I'd have to take a closer look to confirm 100%.

Still, I'm not sure we'd want to take a dependency on the client secret file format like that. I'll discuss with the team and update here.

[2021-03-29 10:15] LindaLawton commented on #1814
I was just going to add it, seems simple enough.   Thought i would swing it by you first.

I have a couple of YouTube videos going up on this soon I will email them to you when there done if you like.

[2021-03-29 10:27] amanda-tarafa commented on #1814
You can take a look at the code we already have for that on the [sample application](https://github.com/googleapis/google-api-dotnet-client/blob/96e3e1ddf9a3f211e0cefa10a37d7cda8792ea21/Src/Support/Google.Apis.Auth.AspNetCore3.IntegrationTests/ClientInfo.cs#L31) as well. And of course, the more resources around that, the better.

I'll chat with the rest of the team about whether we should take a d

[2021-03-29 17:00] failure-checker[bot] opened #1815 "Warning: a recent release failed"
The following release PRs may have failed:

* #1813
* #1813
* #1813

[2021-03-29 17:11] jskeet commented on #1815
Amanda, any idea what's going on here? My *guess* is that this is a new bot that isn't quite configured right for our repo, but I figure you may have more info...

[2021-03-29 18:35] amanda-tarafa commented on #1815
Yep, I'll take a look tomorrow. Definitely not something I've activated or modified.  I've checked several of the nuget packages and they are all fine.

[2021-03-30 09:40] amanda-tarafa commented on #1810
@bingtianyiyan do you have questions about the code I proposed earlier? If not, I'll be closing this issue in a couple of days. Thanks.

[2021-03-30 13:23] LindaLawton opened #1816 "Asp .net core does not prompt for access when user has removed access."
I have a simple asp .net core application which was built based upon our[ sample code](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#web-applications-asp.net-core-3).

I authorized the user and accessed the users profile data.   Then i went to  [my account permissions](https://myaccount.google.com/permissions) and removed the applciations access.

At this point if i had b

[2021-03-30 13:36] LindaLawton commented on #1814
BTW if you decided you don't want a "dependency on the client secret file" let me know. What i could do is release a side project with Helper extensions for this library and people can chose to use them or not and then it won't interfere with what we have here.

I'm sure we can come up with a handful of nice to have helper methods that we really don't want dependencies in the actual project.

[2021-03-30 13:52] amanda-tarafa commented on #1816
I'll reproduce later this afternoon and see what options are there to avoid/mitigate this. I'll update here when I know more.

[2021-03-30 14:21] GurGaller opened #1817 "[Question] How to persist refresh tokens in ASP.NET Core 3?"
I'm trying to use the `Google.Apis.Auth.AspNetCore3` NuGet package, but I can't figure out how to configure it to store the tokens it receives. The [documentation](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#credentials) mentions the interface `IDataStore` for doing just that, but where do I pass its implementation?

The default behavior seems to be just storing the tok

[2021-03-30 15:21] amanda-tarafa commented on #1816
Thanks, I'm looking at a couple other things on my plate first. I'll still try to get to this later today.

[2021-03-30 15:34] #1815 closed

[2021-03-30 15:54] amanda-tarafa commented on #1817
The documentation you linked and `IDataStore` are relevant for installed applications, credentials are stored in `IDataStore` locally.
For web applications using `Google.Apis.Auth.AspNetCore*`, the credentials (i.e. the tokens) will be stored in ASP.NET Core authentication cookies (most likely, definetely if you are following [this documention](https://developers.google.com/api-client-library/dotn

[2021-03-30 15:57] amanda-tarafa commented on #1815
Just leaving a note here for the future: As per internal thread this was a bot issue. A check has been added to avoid this happening again.

[2021-03-30 16:47] #1817 closed

[2021-03-31 10:52] amanda-tarafa commented on #1816
Just as a note, the linked you shared earlier, I think that by mistake you just copied the standard VS template for a ASP.NET Core 3 App, no code configuring Google.Apis.Auth.AspNetCore3 that I can see, or a dependency either, etc.
But no worries, I'm now reproducing and will post here shortly. Thanks.

[2021-03-31 13:51] LindaLawton commented on #1816
Did you check startup.cs?  its all there.

[2021-03-31 14:36] LindaLawton opened #1818 "Out-Of-Date Upload sample."
The [Upload Media](https://developers.google.com/api-client-library/dotnet/guide/media_upload#sample-code) sample is using the [Files.Insert](https://developers.google.com/drive/api/v2/reference/files/insert) method which was Google Drive API v2.

 InsertMediaUpload insertRequest = service.Files.Insert(
        new File
        {
            Title = "FILE_TITLE",
        },        uploadStream,

[2021-03-31 14:50] jskeet commented on #1818
Thanks Linda. I'll try to get to this - probably next week, to be honest.

[2021-03-31 14:54] amanda-tarafa commented on #1816
Yep, I downloaded it twice in the morning and just now before replying, I just see the standard template, standard Startup etc. But no worries, I've got working code, was flagging mostly in case you are sharing that somehwere else.

[2021-03-31 14:57] amanda-tarafa commented on #1818
This is a duplicate of #1349 which has been on our plate for a while now. I'm proposing we keep the #1349 because it's when it was first reported.

[2021-03-31 15:13] LindaLawton commented on #1818
Im doing a YouTube video on it next week if you want the code i am using.

[2021-03-31 15:14] #1818 closed

[2021-04-01 09:09] amanda-tarafa commented on #1816
When a user revokes their permission for an app, code using `Google.Apis.Auth.AspNetCore*` may see exceptions in any of three different places, and unfortunately the exceptions are different each time. The way to handle them so as to attempt a re-authorization is the same, basically, we want to log out the user.

The first is the one initially reported here, an exception will be thrown when using

[2021-04-01 09:12] amanda-tarafa commented on #1810
I'm closing this issue now since I believe I've provided a solution for what you wanted to do. If you believe otherwise please leave a comment and we can reopen.

[2021-04-01 09:12] #1810 closed

[2021-04-05 23:47] GrandeKain opened #1824 "Method: purchases.products.acknowledge is up to date?"
Is Method: purchases.products.acknowledge from Google.Apis.AndroidPublisher.v3 is up to date or outdated?
This method uses deprecated developerPayload.
Is there any other way to acknowledge purchase on server side?
Should I acknowledge purchases on server side for online multiplayer games?
Thank you.

[2021-04-06 06:00] jskeet commented on #1824
The code is all generated from Discovery docs - in this case https://androidpublisher.googleapis.com/$discovery/rest?version=v3. That still contains the `developerPayload` property in `ProductPurchasesAcknowledgeRequest`. (There's no indication in the Discovery doc that it's deprecated, but even if there were, we'd still be generating it.)

The documentation at https://developers.google.com/androi

[2021-04-06 08:28] zetondu commented on #1309
Sorry for laete question, but i face the same problem

And i do not undersatnd the resolution.

I do not understand where to add installed.

Thanks for advance for your help

[2021-04-06 09:22] amanda-tarafa commented on #1309
@zetondu the original problem here was that the failing code was mixing service account credentials and OAuth user authentication. If this is your problem then you have to determine which you need to use and re-write the code accordingly. You can read more about Google Auth libraries for .NET [here](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth).
If this doen'st help, the

[2021-04-06 09:50] GrandeKain commented on #1824
Thank you.

[2021-04-06 09:50] #1824 closed

[2021-04-08 11:51] LindaLawton commented on #1816
@amanda-tarafa  if we are talking about a rewrite.  Can we chat about coming up with a method for storing credentials like the old Idatastore.  We need an option for linking it to  identity storage,  (ef netcore, or home grown) and persisting the refresh token.

[2021-04-08 13:22] amanda-tarafa commented on #1816
No I don't think it would be a rewrite, just to provide helper methods and similar to make it easier to handle this case. I'll know more when I have the time to work on it.

Also, I don't see why Google.Apis.Auth.AspNetCore* wouldn't work with Identity. I don't remember having tried it, but I believe these libraries were implemented with that in mind. When I get to this issue, I'll try it and post

[2021-04-08 13:33] amanda-tarafa commented on #1816
(As a side note, if you have questions or run into issues with storing tokens or using in conjunction with Identity, please do create new issues for that to keep this one about revoked tokens. Thanks!)

[2021-04-08 13:42] LindaLawton commented on #1816
I haven't tried it either Its on the list, maybe we can come up with an example together.

[2021-04-08 14:04] amanda-tarafa commented on #1816
Sounds good, I'll let you know when I start looking into it. It'll be a few weeks though.

[2021-04-08 21:44] flagbug commented on #1807
So this problem didn't occur in any of our deployment for the past two weeks, but today suddenly one of our freshly created VMs in a managed instance group had this error again. Also this time it didn't go away after a few seconds, but persisted until I had to manually delete the VM from the MIG.

[2021-04-09 05:48] jskeet commented on #1807
@flagbug: I still don't understand how it could have fixed itself in the first report, to be honest. I wouldn't expect you to have to remove the VM, but I *would* expect restarting the app to work. Is it possible that in the first report, the app was restarting, and that in the recent incident it wasn't? Or do you think the app *was* restarting in both cases, but the VM itself had "gone bad" in so

[2021-04-09 11:25] flagbug commented on #1807
So you mean just restarting the application process, not the entire VM, right? Just curious, why would that cause the Metadata server to suddenly be available?

@jskeet  Pretty unlikely, except if there's any underlying mechanism in Compute Engine that detects the state that the Metadata Server isn't available and restarts. We don't have anything implemented that would restart our application when

[2021-04-09 12:00] jskeet commented on #1807
It wouldn't cause the metadata server to be available - but it would cause the application to *check* for it again. The Application Default Credentials are cached, including any failure to acquire them.

The resulting task is stored in a `Lazy<T>` [here](https://github.com/googleapis/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/DefaultCredentialProvider.cs#L66) - which

[2021-04-10 11:59] LindaLawton commented on #1816
That's fine i have a huge backlog of tutorials and videos i am working on now.

[2021-04-10 18:57] federicorosso1993 opened #1827 "PKCE should not require client_secret"
I use the PKCE with code flow and I should be able to avoid the use of client_secret with that (I can do it on dropbox for example).
My app is a game so I cannot use a server to store my client_secret and I don't want to use the old and obsolete implicit flow (there is no reason with PKCE).

If I don't use client_secret I get this error even when I use PKCE
HTTP/1.1 400 Bad Request {
  "error": "i

[2021-04-10 20:01] amanda-tarafa commented on #1827
It's not entirely clear from your question at which point your are getting the error, how you are using which library etc. (there over 100 libraries in this repo including the Google.Apis.Auth libraries). If you include a minimum example that reproduces your issue I could probably give you a better answer.

But you can take a look at [Google's OAuth for Mobile & Desktop docs](https://developers.go

[2021-04-10 20:08] federicorosso1993 commented on #1827
I actually make simple http request with my own API in C# in Unity (I know this is not supported here that's why I did not write any code).
Where can I report this problem?
Since it's a server side error of google I don't really know where to report it. client_secret should not be required using PKCE and I would like to report this problem so that google can fix it server side

[2021-04-10 21:40] amanda-tarafa commented on #1827
On the link I posted earlier there's a link at the top of the page that says "Send feedback" click there and then on "Product feedback".  Also the Auth team uses Stack Overflow, you can see a few links to SO relevant tags at the bottom of my link. I'll flag this issue to the Auth team on Monday as well.

As a side note, do please be more explicit next time you create an issue here. Even if you pos

[2021-04-10 21:43] federicorosso1993 commented on #1827
Ok thank you.

Send feedback go to:
403. That’s an error.

We're sorry, but you do not have access to this page. That’s all we know.

[2021-04-10 22:18] amanda-tarafa commented on #1827
Hmm I've just tried it with my personal account and I didn't get an error. I haven't received a confirmation either though. I'll follow up on Monday.

[2021-04-12 12:03] zetondu commented on #1309
Thanks, i will have a look on the auth2 link

[2021-04-12 15:49] amanda-tarafa commented on #1827
I'm closing this issue and moving it to the backlog in an upcoming PR.
The Auth team has been notified of this request and we can revisit on the library side once the backend does not requiere client secrets when using PKCE.
I've been able to leave feedback on the page link without any errors (with my personal account). I haven't received a confirmation though.
I'll update this issue if and when I

[2021-04-12 15:50] flagbug commented on #1807
@jskeet You're right of course, I just had another deployment where one of our VMs didn't have a healthy metadata server and for some reason - and I'm still not sure why this happens - Compute Engine recreates the the VM with the reason ` instance's current action is NONE, but health status is TIMEOUT.`.

At this point I'm wondering if failing to reach the metadata server is just a symptom, and th

[2021-04-12 15:53] amanda-tarafa commented on #1814
I'm closing this issue and moving it to the backlog in an upcoming PR.
We are waiting to hear from the Auth team about the client secret file format expected stability and whether this helper method if something they'd like to see in libraries across all languages etc.

[2021-04-12 15:56] amanda-tarafa commented on #1812
I'll be closing this issue and moving it to the backlog in an upcoming PR.
This is something that'd we'd want to do in libraries for all languages and that requieres coordination and prioritization. This issue  has been flagged for the collective backlog to be prioritized accordingly.

[2021-04-12 16:08] #1827 closed

[2021-04-12 16:08] #1812 closed

[2021-04-13 07:06] LindaLawton opened #1830 "Blazor and Google.Apis.Auth.AspNetCore3"
I had someone request a sample for this library with a Blazor WebAssembly project.  I havent tried Blazor Since it was in beta so i decided to do a bit of testing.  I'm a little confused on what is supported when we use blazor and .Net 5.

I created a brand new Blazor WebAssembly project .Net 5 and ran it ran fine.  Then i added the Google.Apis.Auth.AspNetCore3 nuget package and everything breaks,

[2021-04-13 07:56] LindaLawton commented on #1814
I would like to point out that we already do this for some of the key files [DefaultCredentialProvider.cs](https://github.com/googleapis/google-api-dotnet-client/blob/892de33fa7f4ff5d661120164ebbeafaec4d62cb/Src/Support/Google.Apis.Auth/OAuth2/DefaultCredentialProvider.cs#L207)  I would like to implement this myself but the constructor on [GoogleCredential.cs](https://github.com/googleapis/google-

[2021-04-13 08:02] amanda-tarafa commented on #1830
We already have this in [our backlog](https://github.com/googleapis/google-api-dotnet-client/blob/master/BACKLOG.md#server-side-blazor-and-google-oauth2) (see #1427).

I stil think this is not going to fall high on our priority list until we see much more demand. I propose we clise this one as duplicate of #1427 and continue to wait for demand/bandwidth ratio to be enough. @jskeet any thoughts?

[2021-04-13 08:06] jskeet commented on #1830
That sounds right to me. Too many things to do, too little time I'm afraid :(

[2021-04-13 08:12] LindaLawton commented on #1830
um think you may have missed a part of my question. Your duplicate question is related to server-side Blazor,

Im talking WebAssembly.   Client side?  Not exactly the same thing here.

[2021-04-13 08:26] amanda-tarafa commented on #1814
I don't see why you would need to have access to the GoogleCredential constructor or any of its internals. You need to do something like this:

[code]

Notice that you really need to have the client_secrets.json (what we would more often call client secrets) file and not a service account key json file (i.e. what we would more often call a service credential). The service account key identifies an

[2021-04-13 08:33] amanda-tarafa commented on #1830
Ah yes, you are right. But the same rationale applies though, we don't test with Blazor in any of it forms so we can't know what will work or not.
Instead of closing this as a duplicate I'll close it and move it to the backlog in a general section for Blazor support. It will be clearer then what kind of deman we are getting and for what.

[2021-04-13 08:34] jskeet commented on #1830
Yup, I'd missed that too due to only reading this briefly on a mobile. In terms of this:

I don't think we can say that definitively yet. I think it's more "it would take quite a bit of research to work out what's going on and how hard it would be to fix". There may be quite a simple solution, but I suspect it will take a long time to get there.

I agree with Amanda in terms of putting this on the

[2021-04-13 08:35] LindaLawton commented on #1814
Currently i am trying to load the key file directly into `GoogleWebAuthorizationBroker.AuthorizeAsync` which would require me to make an overload for that.

This is the closest i could come.

[code]

Due to the fact that i can't create a instance of GoogleCredential

[code]

[2021-04-13 08:58] #1830 closed

[2021-04-13 10:14] amanda-tarafa commented on #1814
I think it would be the same approach for adding a method that takes the client secret path for installed or web applications. You would create wrapper methods that receive the path, parse the file and extract the secrets and then call one of our methods with the secrets as parametes. For installed application syou would call one of the `GoogleWebAuthorizationBroker.AuthorizeAsync` and for web app

[2021-04-13 15:18] flagbug commented on #1807
@jskeet So I dug a bit deeper into our monitoring and it looks like this is some kind of thread starvation issue on our end, where one of the symptoms is that the HTTP request to the Compute Engine metadata server doesn't complete successfully in time.

Still not sure why only some of our newly created machines have this issue intermittently at startup, but our monitoring definitely shows that the

[2021-04-13 15:23] jskeet commented on #1807
Great - thanks so much for digging deeper :) Do let me know if there's anything I can do to help when you're further along in the thread starvation exploration.

[2021-04-13 15:23] #1807 closed

[2021-04-13 16:13] amanda-tarafa commented on #1807
@flagbug We had a similar issue a while back with someone using the Google.Cloud.Logging.V2 library, just didn't ring any bells until you mentioned the thread starvation sympton. Unfurtunately the issue was tracked in an internal system so I cannot point you there, but I'll do my best to "translate" what was happening there to this case. I also think I know how you could fix this issue, and that's

[2021-04-13 18:13] flagbug commented on #1807
@amanda-tarafa Amazing analysis, I think you're spot-on! I've just deployed a version that eagerly initializes the credentials and haven't seen any of our instances having this issue. Now this could be a coincidence of course, but I think that was actually the root cause here.

Thanks so much for your help, I'm absolutely amazed about the great and in-depth help I got in from you all ❤️

[2021-04-14 08:37] amanda-tarafa commented on #1803
We have received and internal request to support this use case as well. (FYI @matejr)

I did flagged this issue to the Auth team a couple of weeks ago, but I forgot to add it to our own backlog. I'll be doing so shortly. Still no guarantees that this will get done sooner or later.

[2021-04-14 08:38] #1814 closed

[2021-04-15 20:41] fpromontorio commented on #983
Hi Alex, I tried the code you proposed but I can't authenticate my app. After successful authentication, can you invoke a Google service? I can't. I'm new to c# and uwp and maybe I'm more wrong than something. My app connects to Classroom goggle API. The Console version works with the GoogleWebAuthorizationBroker.AuthorizeAsync method, I would like to make it a Uwp version but it is known that thi

[2021-04-19 14:34] OblivionSY opened #1836 "Invalid Client TokenResponseException when exchanging Code for Token"
I am using the `GoogleAuthorizationCodeFlow` library and use it to build the AuthenticationUrl. This all works fine, I go through the OAuth Consent and a Code is handled in our call back method.
However, when I attempt to exchange that for a token, I get an invalid client error.

**Constructing our wrapper**
[code]

**Requesting URL**
[code]

**Exchanging Code for Token**
[code]
**The Error**
![im

[2021-04-19 16:26] amanda-tarafa commented on #1836
I'll try to take a look later today, but it'll probably be tomorrow.

[2021-04-19 16:32] OblivionSY commented on #1836
Thank you, let me know if you require any further information and I will provide.

[2021-04-19 20:53] AnUl1 opened #1837 "How to modify contactgroup of contact"
I want to modify contact groups of contact with [People API contactGroups.members.modify](https://developers.google.com/people/api/rest/v1/contactGroups.members/modify) in C#. I have tryed the methode of API on the page and it works with my values.

But the sourcecode is not working:
[code]
Why this is'nt working and what is an example?

[2021-04-19 21:12] jskeet commented on #1837
Your `response` variable is actually a *request*, not a response. (You can check this by hovering over the variable in Visual Studio - I believe you'll see it's of type `ModifyRequest`.) I suspect you want:

[code]

[2021-04-20 15:09] OblivionSY commented on #1836
Thank you for looking at the issue so far, I'll attempt to make a simple app to test, though the wrapper code we have does work for Microsoft 365 provider, so I think it shows the cycle works for our wrapper. I'll check the client IDs, but they're built from the object when requested, and loaded from the same object when the call back occurs, but I've certainly learnt (from the M365 implementation

[2021-04-20 15:28] amanda-tarafa commented on #1836
Yep, again there are some gaps here that won't let me know for sure, basically I think you need to check if the `Config.Url` and the `mailbox` (which I think implements `IOAuthSettings`?) are the same when you initialized the `OAuthTokenManager` and then call `OAuthTokenManager.Create` for both the initial request and the exchange of authorization code for access token.
I honestly think that the b

[2021-04-20 19:27] AnUl1 commented on #1837
Oh, a stupid mistake... Now I have more understanding. But there is an exception in executing request:

[code]

I have running following code with groupResourceName: contactGroups/567d0a7d88e4b3f1  and memberResourceToAdd: people/c3347247015391514297 .
The member resource to add I got from Person ResourceName. With this I tried the API also and this works fine with groupResourceName: contactGroups

[2021-04-20 19:38] jskeet commented on #1837
I suggest you use Fiddler or something similar to look at exactly what request is being issued - you say that you've managed to get it to work in the online version, so you should be able to compare the working request with the failing request. It's not really clear to me which resource is not being picked up properly.

[2021-04-20 19:53] AnUl1 commented on #1837
It work's :-)
I have removed part
[code]
May be this generate a empty list to remove contacts from groups. And this creates an empty list in my case.

Now  I write seperate mentodes to add and to remove users from group.

Thank you for your support!

[2021-04-20 19:53] #1837 closed

[2021-04-20 21:02] OblivionSY commented on #1836
I am always impressed with how people can just pick up other code and make sense of it. You're spot on.

I have got a little further thanks to your help. Though the error message is quite misleading and is nothing to do with the client, but the secret. For security, we encrypt all credentials in the database, client_secret included! I actually just needed to decrypt it and then it worked.

So, I n

[2021-04-21 08:52] amanda-tarafa commented on #1836
I have no experience whatsoever with Mailbee.NET so I'm afraid I can't help you there. Just a few things to take into accout:

- Take a look at [Gmail's XOAuth docs](https://developers.google.com/gmail/imap/xoauth2-protocol). It describes how you use the token to connect to Gmail via IMAP, POP, SMTP, etc. You need to check that `MailBee.OAuth2.GetXOAuthKeyStatic(email , token.AccessToken);` is equ

[2021-04-21 09:16] OblivionSY commented on #1836
Thank you again. I will look at those. The key generated (amended for security) is
user=_________test@gmail.comauth=Bearer ya29.a0AfH6SMAGV6i____N8sQ2K_nTKdjwKAPD7tOt_XeF0GZAYx____GGzjS7LBMGCVgnKzCYPK4SpUZd5CLVLW3RxVz_gpjXnQ

So it looks like it is in the right format.

- [ ] I will check the access token returned in the Exchange for Code is the same as the LoadTokenAsync (serialisation check)

[2021-04-21 12:41] OblivionSY commented on #1836
Hi Again,

I think we're there. If I request the full mail.google.com scope it authenticates, so just need to find the right combination of scopes to authenticate and read/send emails.

I am missing the Refresh Token though. This comes back from the exchange code for token method.
`Google.Apis.Auth.OAuth2.Responses.TokenResponse result = _flow.ExchangeCodeForTokenAsync(accountTokenId, code, Redire

[2021-04-21 13:31] amanda-tarafa commented on #1836
Hmmm, you should be getting the refresh token, for getting the refresh token [the only thing needed is to set `access_type=offline` on the authentication request](https://developers.google.com/identity/protocols/oauth2/openid-connect#refresh-tokens). And if you are using `GoogleAuthorizationCodeFlow` which returns a `GoogleAuthorizationCodeRequestUrl` in `CreateAuthorizationCodeRequest` [we are al

[2021-04-21 20:06] OblivionSY commented on #1836
Hi Amanda,

I wasn't having much luck so I just revoked all 3rd party access in the google account control panel and then it worked. Is there a reason the refresh token wouldn't be supplied if the client had already previously authenticated with Google?

To test this, I have left it a number of hours, and deleted our mailbox reference in our app, and started afresh. It uses the same client ID and

[2021-04-22 12:55] Swapygit opened #1844 "400 Error while importing csv file from bucket storage using Cloud SQL Admin API in C# .NET"
Hi Team,

I am using the Google.Apis.SQLAdmin.v1beta4 in .NET client library for importing the SQL dump or CSV file from Cloud Storage into Cloud SQL instance. I am getting the error 400 with following message

{
  "error": {
    "code": 400,
    "message": "Unknown export file type.",
    "errors": [
      {
        "message": "Unknown export file type.",
        "domain": "global",
        "reas

[2021-04-22 13:08] jskeet commented on #1844
I'm afraid the maintainers of this repository aren't experts in the individual APIs. We can help with issues specific to the .NET libraries, but not for the APIs themselves. I suggest you:

- Use the "try it" button in the [documentation page](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/instances/import) to experiment with the API directly; once you've got an API call working th

[2021-04-22 13:08] #1844 closed

[2021-04-22 14:13] amanda-tarafa commented on #1836
OK, so, the usual flow is:

1. Request authorization code (with access_type=offline)
2. Exchange the authorization code for an access token and a refresh token (if offline was set before).
3. Store the refres token.
4. Store the access token.
5. Use the access token while is valid (~1hour if I remember correctly)
6. Use the refresh token to get a new access token. You **won't get a refresh token h

[2021-04-22 14:41] OblivionSY commented on #1836
If I revoke all access in Gmail then it works exactly as you said. I get the refresh token as part of the exchange code for token.

However, Google is remembering that I have previously authenticated with this client ID / Secret, so if I delete our application's mailbox and recreate, when it comes to authenticate with Google at that point, I don't get a refresh token, even though it is the first t

[2021-04-22 15:14] amanda-tarafa commented on #1836
OK, so that's not a library behaviour but server side, and I agree that it is at least unexpected (you are setting `offline` but getting `online` behaviour). I will aks the server side team to check whether this is intentional or a bug that needs fixing.

If the user deletes the mailbox, you can first revoke the token from your side using `GoogleAuthorizationCodeFlow.RevokeTokenAsync`. At least ne

[2021-04-22 17:14] amanda-tarafa commented on #1836
For the scopes you need for each operation it's best if you look at the [API docs](https://developers.google.com/gmail/api), this is something we don't deal with or check on the library side.

I'll update here when I know more about the missing refresh token.

[2021-04-27 11:35] amanda-tarafa commented on #1312
Being adressed in #1838 .

[2021-04-27 11:36] amanda-tarafa commented on #1312
@arithmetic1728 not sure why I can't assign this one to you. I'll take a look later.

[2021-04-27 15:06] amanda-tarafa commented on #1803
@flagbug , @matejr, We are working on #1838 which addresses #1312 by adding support for impersonated credentials. It's not exactly the use case requested by this issue, but it might help you. Given a UserCredential, you will be able to impersonate a ServiceAccountCredential, the resulting impersonated credential will support OIDC tokens.

[2021-04-28 10:13] OblivionSY commented on #1836
Hi Amanda, Just checking in if there was any news on the "missing" refresh token?
I just tested again today. when I create my application mailbox, I get through all the confirmation screens and do get a refresh token.
I then go to create an SMTP client in my applicaition and authenticate again, same client ID. I select the account in my list of accounts in Google and I don't have to go through the

[2021-04-28 10:20] OblivionSY commented on #1836
I just added another scope,
https://mail.google.com|https://www.googleapis.com/auth/gmail.compose

this time is did send a refresh token. So, I wonder if a request for the same scope, for the same client, only results in the access token. However, considering I had the "offline" request, I would still hope for a refresh token.

Hopefully that nuget of info might help?

[2021-04-28 10:24] amanda-tarafa commented on #1836
No news yet. I'll update here when I know more.

I also want to attend to reproduce with the library, so I'll also share my results about that.

[2021-04-28 10:31] amanda-tarafa commented on #1836
I've been thinking the same, that this might just be a feature and not a bug, and that an auth reuest for same scope same client is considered just an access token refresh (which wouldn't yield a refresh token either). The assumption is that you store and share across your applications the refresh token. If the user deleted the mailbox configuration, they are effectively telling you "you don't hav

[2021-04-28 10:35] OblivionSY commented on #1836
Yes, I think it is an edge case. We separate the mailbox and SMTP elements so they are effectively unique entities. Whereas most clients would authenticate once for all the scopes they want. My workaround is to request the all access scope, and then add a different one for each section. Slightly weird on the consent screen, but it does at least give refresh tokens!

(I did argue in the initial des

[2021-04-28 10:40] amanda-tarafa commented on #1836
I'll get back when I've heard from the auth team, but I'm growing more convinced that this is by design and that the key is in:

[2021-04-28 10:41] OblivionSY commented on #1836
If they have any other insights or workarounds, I'd love to hear, thanks again for your input

[2021-04-28 14:05] fabriziodb opened #1849 "how to retrive entitlements for all users registerd on my app?"
HI, i've already configured my app on SubscribeWithGoogle service so the users can log-in with their google account.
Now i need a batch service, scheduled daily, to retrive the subscription expiration date. Asking the google support they told me i can implement that calling this api https://developers.google.com/news/subscribe/reference/publication-api.

with the following code I'm trying to retri

[2021-04-28 14:35] amanda-tarafa commented on #1849
Try using this code instead to initialize the credential, you are missing a couple of values and we do all the deserialization etc.

[code]

Also, what you are doing is [Domain Wide Delegation](https://developers.google.com/admin-sdk/directory/v1/guides/delegation) which requires you to have a Google Workspace Domain, and that the `registeredUsers` that you want to impersonate are users of your do

[2021-04-28 14:50] fabriziodb commented on #1849
thanks i'll try to enable Domain Wide Delegation , maybe do you know what's the correct scope for that api? thanks.

[2021-04-28 15:00] amanda-tarafa commented on #1849
No, sorry, we are not familiar with every API on this repo, we just make sure that the client libraries accurately reflect the API, etc. You can definetely find that information on the API documentation (the link you pasted is broken so I'm not entirely sure which API you are using).

[2021-04-28 15:08] salrashid123 commented on #1803
cloud run,gcf  allows for usercredential's id_tokens as auth but thats bit of a misuse of those tokens in the first place (eg,, the token from `gcloud auth print-identity-token` if based on a user embeds a static `aud:` value which just happens to be accepted buy those services (the aud client id is actually for the gcloud cli...)

the correct approach here woudl be to use the directed `aud:` valu

[2021-04-30 14:12] amanda-tarafa commented on #1547
@jskeet FYI I'm on this now, it seems like it should fix the Storage issue reported internally that you were looking at yesterday.

[2021-04-30 14:19] jskeet commented on #1547
@amanda-tarafa: Ah, yes - I can definitely see it helping with that. Thanks!

[2021-05-06 08:34] amanda-tarafa commented on #1849
@fabriziodb anything else we can help you with? Thanks!

[2021-05-06 08:39] amanda-tarafa commented on #1736
@JCervero we just released a new version of [Google.Apis.Admin.Directory.directory_v1](https://www.nuget.org/packages/Google.Apis.Admin.Directory.directory_v1/). I'm not entirely certain that the feature you were looking for has been included, it depends on the API team basically, but it might be worth for you to check. Now that we are back to regenerating this library normally, features should be

[2021-05-06 11:03] fabriziodb commented on #1849
if you could help me to find the scope of that api i would appreciate it very much. the link requires authorization to navigate, i could give you my credentials to access. thanks

[2021-05-06 14:12] amanda-tarafa commented on #1849
Please don't send your credentials in any way or form.

Again, I think it's best if you go through the same API support that helped you before, they will know better than I or anyone else working in this repo the exact scopes you need for the operations you are performing. We are not individual API experts, we just make sure that the libraries properly reflect the APIs, and we have libraries for o

[2021-05-06 14:12] #1849 closed

[2021-05-06 18:02] JCervero commented on #1736
@amanda-tarafa Thank you for the update and for your continued attention to this. It looks like the feature I need _is_ included based on my brief review of the generated source. It will probably be some weeks before I can integrate it into our tool but I'm glad to know it's now available.

Thank you again.

[2021-05-08 09:19] OblivionSY commented on #1836
I have some additional information which is relevant to the issue. I have moved the code to testing server and an issue has arisen.

If I configure and setup against DEV it works fine. However, when moving to TEST there is an issue because the same client/email/scope combination has been authenticated in DEV when it does it in TEST the refresh token is not supplied. I'll do some more testing to ch

[2021-05-19 20:05] flagbug opened #1857 "Retrieve current service account/client email"
The Google Cloud Tasks API requires me to set a service account email so it can generate a token when authenticating with the called URL. For this I'd like to use the current service account retrieved by the Application Default Credentials.

Basically my use case is exactly the same as described in the following issue (https://github.com/googleapis/nodejs-tasks/issues/375) of the Node SDK, but I w

[2021-05-20 08:45] amanda-tarafa commented on #1857
Yes, the email address associated to a service account is in the `ServiceAccountCredential.Id` property. So you can do something like this:

[code]
Let me know if this fully answers your question.

[2021-05-20 09:19] flagbug commented on #1857
@amanda-tarafa Thanks, that's great! Is this also somehow possible when using the default credentials on Compute engine, where the underlying `credential.UnderlyingCredential` is of type `ComputeCredential`?

[2021-05-20 10:18] amanda-tarafa commented on #1857
No, we don't currently fetch the email for a `ComputeCredential` from the metadata server (which is what the Node library does), but we could probably do so.
I'll mark this as a feature request and check internally if there are any objections in us adding something like this.
In the meantime, the default accounts email addresses for Compute and other services have a set pattern, so maybe you could

[2021-05-25 08:44] makkart opened #1860 "chromeos.issueCommand not implemented?"
I cannot find anything related to customer.devices.chromeos.issueCommand in the client.
Am I missing something or is this part of the API not covered in this API client?

Google Api reference
https://developers.google.com/admin-sdk/directory/reference/rest/v1/customer.devices.chromeos/issueCommand

Thanks.

[2021-05-25 09:16] jskeet commented on #1860
I'd expect you to be able to use:

[code]

Could you tell me whether you've tried that?

[2021-05-25 09:33] makkart commented on #1860
@jskeet You know sometimes when you look for the problem everywhere but where it actually is, thats me today.
I had an outdated nuget package version. Everything looks great now.

Thanks for your help and your time.

[2021-05-25 09:33] #1860 closed

[2021-05-28 12:31] LindaLawton commented on #1151
@JustinBeckwith this an auto assign?

[2021-05-28 12:50] jskeet commented on #1151
@LindaLawton: Yup - please don't worry about it :)

[2021-05-28 15:24] jskeet commented on #1151
@LindaLawton: :)

[2021-05-31 07:47] Oren-Perion opened #1862 "Get only active profiles for account"
I'm trying to figure out how to get only active profiles for account. I wasn't able to find the right syntax to use the "active" parameter with the UserProfiles.List() method.

how can I do that?
alternatively, is there a why to see if a specific profile is deactivated I don't see the 'active' field on the 'UserProfile' class?

Thanks

[2021-05-31 07:59] jskeet commented on #1862
Please could you clarify which API/package you're using? This repository is the home of a *lot* of packages, and we don't know which one you're referring to.

[2021-05-31 08:06] Oren-Perion commented on #1862
We're using the "Google.Apis.Dfareporting.v3_3" package.

Thanks.

[2021-05-31 08:24] jskeet commented on #1862
The [AccountUserProfile class has an Active property](https://googleapis.dev/dotnet/Google.Apis.Dfareporting.v3_3/latest/api/Google.Apis.Dfareporting.v3_3.Data.AccountUserProfile.html#Google_Apis_Dfareporting_v3_3_Data_AccountUserProfile_Active). If you were using `UserProfile` instead, that would be the problem - I believe `UserProfile` is a more limited view.

In terms of listing, I'd expect the

[2021-05-31 08:51] Oren-Perion commented on #1862
Thanks for the response.
Yes we're using the UserProfile now.

I've seen the AccountUserProfiles class but why do I need to specify a profileId for the list method? I want to get all active profiles for an account not only one, is that possible?

[2021-05-31 08:55] jskeet commented on #1862
I believe you specify the profile ID of the user you're authenticating as. But I'm afraid I can't give detailed support for this API as it's not one I have experience with - I'm responsible for making sure the APIs are accurately represented in client libraries, but that doesn't mean I know details of all the APIs.

Please use the [API specific support page](https://developers.google.com/doublecli

[2021-05-31 10:32] Oren-Perion commented on #1862
Ok thanks for the help.

[2021-05-31 10:32] #1862 closed

[2021-05-31 14:14] patilravikiran opened #1864 "Proxy setting using HttpClientFactory is not working"
I am trying to download buckets from Google cloud storage using dotnet APIs over proxy, but its failing with below error.

Error Message:
Authentication failed because the remote party has closed the transport stream at Google.Cloud.Storage.V1.StorageClientImpl.DownloadObjectImpl(RequestBuilder request builder, Stream destination, DownloadObjectOptions options, IProgress'1 progress)

I have follow

[2021-05-31 14:19] jskeet commented on #1864
(Note: this issue would have been better filed at https://github.com/googleapis/google-cloud-dotnet as that's where the Google.Cloud.Storage.V1 lives. I can't transfer it right now, but will try to do so later in the week.)

I'll look tomorrow (it's a public holiday today). It would help if you could provide more information though:

- Do other API operations work, e.g. listing buckets and objects

[2021-05-31 14:36] patilravikiran commented on #1864
Thanks for quick response. Please find my answers below.

Do other API operations work, e.g. listing buckets and objects, uploading objects?
Its not working with current proxy script. The list and upload operations works fine when I follow below link, but not download.
https://github.com/googleapis/google-cloud-dotnet/issues/1832

Do you specifically need a different proxy for Storage operations t

[2021-05-31 14:48] patilravikiran commented on #1864
![Uploading _20210531_201417.JPG…]()

[2021-05-31 14:50] patilravikiran commented on #1864
![_20210531_201417](https://user-images.githubusercontent.com/51445240/120210588-8f74d100-c24d-11eb-8046-f17c35d3f420.JPG)

[2021-05-31 14:59] jskeet commented on #1864
Please could you copy/paste the code as text into this issue? Screenshots are *much* harder to work with than plain text.

[2021-05-31 15:06] patilravikiran commented on #1864
var scopes = new string[] { "https://www.googleapis.com/auth/devstorage.full_control" };

var serviceCredentialFromFile = (ServiceAccountCredential) GoogleCredential.FromFile(sa_file).UnderlyingCredential;

var initializer = new ServiceAccountCredential.Initializer(serviceCredentialFromFile.Id)
{
    ProjectId = serviceCredentialFromFile.ProjectId,
    Key = serviceCredentialFromFile.Key,
    User

[2021-05-31 15:10] patilravikiran commented on #1864
using ( var filestream = File.Create("localpath");
{
        client.DownloadObject("bucketname", "filename", filestream);
}

[2021-06-01 10:25] amanda-tarafa commented on #1864
I have been able to reproduce and I know what is happening. I'm now going into a 1 hour meeting, but I'll be posting a workaround after and we'll probably be able to provide a better solution later during the week.

[2021-06-01 15:24] amanda-tarafa commented on #1864
@patilravikiran  I've sent googleapis/gax-dotnet#464 for review.

After this has been merged and release, you can either reference the new Gax version directly or wait for an updated Storage release. Then your code should look something like this:

[code]

Notice also that once #1851 is merged and released, setting a proxy for a credential will be much more simple as well.

[2021-06-01 15:50] amanda-tarafa commented on #1864
I'll signal here when this has been released. It shouldn't be long.
In the meantime, if you need a workaround you can create the `StorageService` yourself setting the `HttpClientFactory` and then use that service to create a `StorageClientImpl` instance. Let me know if you'd like a code snippet for that.

[2021-06-01 16:41] amanda-tarafa commented on #1864
I wrote the code for the workaround anyways and here it is, let me know if you have questions. I'll signal here when we have released the proper fix anyway.

[code]
That should work for now, will update here when we have release.

[2021-06-01 17:50] patilravikiran commented on #1864
Thanks a lot...  Are you saying new code will be available for public use in a weeks time?

[2021-06-01 17:52] amanda-tarafa commented on #1864
Yes, new code will be available in weeks time so you can use the StorageClientBuilde instead of the above workaround. I'll comment here when that's been released.

[2021-06-01 17:53] patilravikiran commented on #1864
Sure. Better I will wait for new code.

[2021-06-02 18:26] patilravikiran commented on #1864
Hi,
Do we have similar script for BigQueryClient? I would like to replace my existing proxy script(https://github.com/googleapis/google-cloud-dotnet/issues/1832).

[2021-06-03 08:21] amanda-tarafa commented on #1864
Both the fix and the workaround will work the same for BigQueryClient. Basically replace where it says `Storage...` with `BigQuery...`, check your scopes as well which should be different.

[2021-06-04 07:17] neelammourya commented on #1238
Hi,
I am trying to impersonate a user with Google Service Account using dot net, but getting below error:
![image](https://user-images.githubusercontent.com/63057412/120760318-9a6f8000-c531-11eb-83b9-e5b7fe59a21c.png)

Here is my scenario:
Goal: impersonate a user with service account  to read user's Shared drives and its file folder metadata
Setup:
1) I have created a project in google cloud and

[2021-06-04 08:37] amanda-tarafa commented on #1238
The code for creating the credential seems right to me. I'm guessing you are missing one of the steps needed for making Domain-Wide Delegation work. Please go carefully through [Perform Google Workspace Domain-Wide Delegation of Authority](https://developers.google.com/admin-sdk/directory/v1/guides/delegation) and confirm that you have gone through all steps there. Notice also that the user you ar

[2021-06-04 09:46] neelammourya opened #1867 "Impersonation of user through Service account not working in dot net"
Hi,
I am trying to impersonate a user with Google Service Account using dot net, but getting below error:

![image](https://user-images.githubusercontent.com/63057412/120782004-3657b680-c547-11eb-8c6a-4905c1922843.png)

Here is my scenario:
**Goal:** impersonate a user with service account to read user's Shared drives and its file folder metadata
**Setup:**

1. I have created a project in google c

[2021-06-04 09:49] neelammourya commented on #1238
already followed all steps mentioned in the link. user is already been logged in using g suit

new issue raised

[2021-06-04 10:58] LindaLawton commented on #1238
@neelammourya first off what is the error you are getting?

Want to try this, it should work assuming that you have set up delegation properly.

           const string serviceAccount = "serviceaccountEmail@XXXX-api.iam.gserviceaccount.com";

            var certificate = new X509Certificate2(@"D:\serviceAccount.p12", "notasecret", X509KeyStorageFlags.Exportable);

            var gsuiteUser = "ad

[2021-06-04 11:13] amanda-tarafa commented on #1867
Can you please include the code in which you are using the credential and post the full stack trace of the error you are getting?

[2021-06-04 12:10] neelammourya commented on #1867
Thank you for your reply. I have attached the code along with stack trace

[stack trace with code.zip](https://github.com/googleapis/google-api-dotnet-client/files/6598311/stack.trace.with.code.zip)

[2021-06-04 12:17] neelammourya commented on #1238
I am doing exactly same what you have mentioned, for you reference here is my code, i get exception at  drivesListRequest.Execute();:

class Program
    {
        static string ApplicationName = ConfigurationManager.AppSettings["ApplicationName"];
        static string ServiceAccountEmail = ConfigurationManager.AppSettings["ServiceAccountEmail"];
        static string KeyFilePath = ConfigurationMa

[2021-06-04 12:22] LindaLawton commented on #1238
What exception are you getting exactly?

[2021-06-04 13:02] neelammourya commented on #1238
Error Message: Client is unauthorized to retrieve access tokens using this method, or client not authorized for any of the scopes requested.
here is the stack trace:
[stack trace.txt](https://github.com/googleapis/google-api-dotnet-client/files/6598651/stack.trace.txt)

[2021-06-04 13:09] neelammourya commented on #1238
It is working with new project where i have only one service account and nothing else in Auth section.

1. Why it doesn't work in my existing project where i have multiple auth credentials along with service account?
2. Is it really required for each user to login in at list once in GSuit? is GSuit meant to admin.google.com or something else?

Please help me to list down the limitations so that i

[2021-06-04 13:10] neelammourya commented on #1867
It is working with new project where i have only one service account and nothing else in Auth section.

1. Why it doesn't work in my existing project where i have multiple auth credentials along with service account?
2. Is it really required for each user to login in at list once in GSuit? is GSuit meant to admin.google.com or something else?

These limitations are not mentioned in any google docu

[2021-06-04 13:30] LindaLawton commented on #1238
What you need to understand is that there are tree types of projects you can create on Google developer console,  service account,  Desktop app, and web app. There are a couple of more but let's stick to that.   The code used to authenticate with these methods is different depending upon the type of client you have created.

That message normally comes when you are using service account code with

[2021-06-04 14:06] amanda-tarafa commented on #1867
Ok, if the same code is working with a new project with only one service account, then it means that both your code and the library are working as expected. You are experiencing a configuration issue almost certainly. Unfortunately on this repo we are not experts on Google Workspace or Domain-Wide delegation configuration, we just make sure that the client libraries accurately reflect APIs, includ

[2021-06-05 02:33] bdcoder2 commented on #1309
I am lost as well -- see this post on StackOverflow:
[https://stackoverflow.com/questions/67841507/net-how-to-create-a-google-spreadsheet-in-google-drive](https://stackoverflow.com/questions/67841507/net-how-to-create-a-google-spreadsheet-in-google-drive)

Basically, trying to create a Spreadsheet in our Google Drive account via the Sheets API via a service account.  But it appears the spreadsheet

[2021-06-05 07:43] amanda-tarafa commented on #1309
@bdcoder2  your question has very little to do with this issue that has been closed for a while. Please create a new issue, describing what you want to achieve and the result you actually get. If you can post a small snippet of code that reproduces the problem that would be best. I'll take a look on Monday.

[2021-06-08 09:16] neelammourya commented on #1867
Thank you so much @amanda-tarafa  for your immediate support.
I confirm that my issue is resolved.

So to achieve impersonation of any user with service account we need to make sure to follow below steps in sequence:
1)  create service account(in https://console.cloud.google.com/ under your project), then
2) we should first enable Domain wide delegation here then
3) after this we need to add this

[2021-06-08 09:17] neelammourya commented on #1238
Thank you so much @LindaLawton  for your immediate support.
I confirm that my issue is resolved.

So to achieve impersonation of any user with service account we need to make sure to follow below steps in sequence:
1)  create service account(in https://console.cloud.google.com/ under your project), then
2) we should first enable Domain wide delegation here then
3) after this we need to add this se

[2021-06-08 09:26] amanda-tarafa commented on #1867
Thanks for coming back to us and great that you were able to resolve!

[2021-06-08 09:26] #1867 closed

[2021-06-08 17:57] patilravikiran commented on #1864
Hi,
I know its only 7 days since your last comment, but I would like to know if you have managed to merge your code?

[2021-06-08 18:01] jskeet commented on #1864
No, we haven't done the release yet - we have various other things that we want to get in first. (There are several layers of libraries here, and new features being added in all of them, so we want to get the whole set ready before we start releasing.) But as Amanda said, the same basic workaround should work with BigQueryClient too.

[2021-06-08 18:10] patilravikiran commented on #1864
Thanks. Can I expect final code in couple of weeks? Or it will take few months?

[2021-06-08 18:13] jskeet commented on #1864
I'd *hope* it will be in the next couple of weeks.

[2021-06-11 14:35] jpassing opened #1871 "ServiceAccountCredential fails for non-exportable CryptoAPI key"
1. Create a certificate with a non-exportable CryptoAPI key
[code]
2. Use they to initialize a `ServiceAccountCredential`:
[code]

3. Run the code on .NET Core --> works
4. Run the code on .NET Framework

**Expected**: Works too

**Actual**:

[code]

For some reason, `FromCertificate`  tries to [export and re-import the key](https://github.com/googleapis/google-api-dotnet-client/blob/febd05dc6f35b

[2021-06-11 14:46] amanda-tarafa commented on #1871
I'll mark this as a question while we figure out what does `workaround` refers to. Most likely it's a workaround to something that .NET Framework does not support fully, in which case, there's not much we can do.
I'll try to take a look later today, else next week.

@jskeet if you have some context as to why that `workaround` is there, it'd be great.

[2021-06-11 14:47] jskeet commented on #1871
I'm pretty sure that was from @chrisdunelm... it's *possible* that it didn't work with .NET 4.5, but would work with 4.6.1...

[2021-06-11 14:58] jpassing commented on #1871
That's possible... Maybe [another reason to introduce a > 4.6.1 target](https://github.com/googleapis/google-api-dotnet-client/issues/1788) :)

 I used .NET 4.8, I forgot to mention.

[2021-06-11 14:58] jskeet commented on #1871
We'll have a look on Monday.

[2021-06-14 09:32] #1547 closed

[2021-06-14 10:02] jskeet commented on #1871
Okay, so `GetRSAPrivateKey()` which we use in the .NET Core case was added in .NET 4.6. So adding a new target framework for NET461 should fix this - and while we don't want to deprecate .NET 4.5 usage, we expect it to be relative rare now. We target .NET 4.6.1 in GAX now, so that would be the most obvious approach.

@jpassing: Could you confirm that you'd at least *expect* a target of .NET 4.6.1

[2021-06-14 13:09] jpassing commented on #1871
I agree with your analysis and would expect that a 4.6.1 target should let us fix both issues.

[2021-06-15 09:00] #1871 closed

[2021-06-15 09:00] #1788 closed

[2021-06-15 13:46] amanda-tarafa commented on #1836
@OblivionSY Have you been able to try my code above and confirm that the issue cannot be reproduced?
I think the behaviour you are seeing it's due to something in your custom implementation, but I cannot be sure as to what. It might make sense for you to compare, step by step, your code with our library code and try and find the difference, we could take it from there then.

[2021-06-15 13:48] amanda-tarafa commented on #1312
Closing via #1838 and #1874

[2021-06-15 13:48] #1312 closed

[2021-06-15 14:54] amanda-tarafa commented on #1857
We've chatted internally and, for now, we are not goint to fetch the default Compute credential email.

You have two workarounds:

- The one I shared with you earlier, i.e. if you have not modified the service account that's used as the default Compute credential, then you can build the email yourself according to [Default Service Accounts naming rules](https://cloud.google.com/iam/docs/service-ac

[2021-06-15 15:58] amanda-tarafa commented on #1814
FYI: This has been released on the v1.52.0 of the Google.Apis libraries.

[2021-06-15 16:08] amanda-tarafa commented on #1547
FYI: This has been released on the v1.52.0 of the Google.Apis libraries.

Usage will look something like this:

[code]

[2021-06-15 16:09] amanda-tarafa commented on #1871
FYI: This has been released on the v1.52.0 of the Google.Apis libraries.

[2021-06-15 16:09] amanda-tarafa commented on #1788
FYI: This has been released on the v1.52.0 of the Google.Apis libraries.

[2021-06-15 16:22] LindaLawton commented on #1814
Thats awesome thanks I will have a look and update my tutorials.

[2021-06-15 16:31] Zunair commented on #1312
When was 1.52 released?
I had no issues using the impersonation from a while

Zunair

________________________________
From: Amanda Tarafa Mas ***@***.***>
Sent: Tuesday, June 15, 2021, 12:03 PM
To: googleapis/google-api-dotnet-client
Cc: Zunair; Comment
Subject: Re: [googleapis/google-api-dotnet-client] Implement Google.Apis.Auth.OAuth2.ImpersonatedCredentials (#1312)

FYI: This has been released

[2021-06-15 16:38] amanda-tarafa commented on #1312
@Zunair v1.52.0 was released an hour ago roughly and before that the Google.Apis.Auth library didn't support impersonation.

Are you referring to Domain Wide Delegation? That has been supported for a long time, without any issues.

[2021-06-15 17:28] Zunair commented on #1312
Ah ok, yes I confused it with domain wide delegation.

Thanks!

[2021-06-15 17:42] salrashid123 commented on #1312
thx. confirmed it works with storage, oauth2 api library and id token as impersonated creds

[code]

[2021-06-16 01:43] maucaro opened #1878 "Additional JWT claims missing"
Payload returned by 'JsonWebSignature.VerifySignedTokenAsync' does not include additional claims present in the token such as 'email' and 'email_verified'.

#### Environment details

  - Programming language: C#
  - OS: Debian GNU/Linux 10 (buster)
  - Language runtime version: .netcore 5.0
  - Package version: 1.51.0

#### Steps to reproduce

  1. See gist that reproduces the problem [here](https

[2021-06-16 08:46] amanda-tarafa commented on #1878
The main difference here is that #1040 is refering to `GoogleJsonWebSignature.ValidateAsync` which validates a very specific Google emitted JWT (sgined with certificates from https://www.googleapis.com/oauth2/v3/certs) as where you are using the more general purpose `JsonWebSignature.VerifySignedTokenAsync`.
For the specific Google ones, we know which claims are supported, the ones listed here: ht

[2021-06-16 09:01] jskeet commented on #1878
Option 1 sounds fine if it's doable... I'm not quite close enough to the topic to know how easily that would work. Would the type need to implement some particular interface in order to verify the signature?

[2021-06-16 09:07] amanda-tarafa commented on #1878
The internal implementation is already generic because we are catering for both the general and the Google specific tokens. So it's basically a matter of adding a method. The type would need to extend `JsonWebSignature.Payload`, which is already public, and just add properties marked with `Newtonsoft.Json.JsonProperty` for the extra claims it is expecting.

[2021-06-16 10:48] jskeet commented on #1864
@patilravikiran: the Google.Api.Gax libraries version 3.4.0 have now been pbulished. If you add an explicit dependency on `Google.Api.Gax.Rest` version 3.4.0, you should be able to use the builder to create a client using a proxy easily.

[2021-06-16 11:23] amanda-tarafa commented on #1864
To add to Jon's comment, your code now could look something like this:

[code]

[2021-06-16 14:02] maucaro commented on #1878
Option 1 certainly works and I agree that it's flexible. Do take into account that my use is also for a "Google cert", just one that is issued by Identity Platform. But again, option 1 works.

[2021-06-16 15:50] salrashid123 commented on #1878
gce based oidc tokens includes additional nested claims whcih customers may want to validate (eg, the `instance_id`)
  https://cloud.google.com/compute/docs/instances/verifying-instance-identity#verify_signature

i'td be good to document the parsing for this

[2021-06-16 15:55] amanda-tarafa commented on #1878
Thanks, I'll get to this early next quarter.

[2021-06-28 13:37] patilravikiran commented on #1864
Hi,
Thanks for quick resolution. I was enjoying my holidays, so didn't get time to test above solution. Today when I tested above fix, I got below error. Do we have any internal dependencies?

Error Message: Could not load file or assembly 'Google.APIs, Version=1.50.0.0, Culture=neutral, PublicKeyToken=4b01fa6e34db77ab' or one of its dependencies. The system cannot find the file specified.

Packag

[2021-06-28 13:43] jskeet commented on #1864
@patilravikiran: That looks like a problem with assembly binding redirects. It's looking for Google.Apis version 1.50.0, but you've got 1.52.0 - so I'd expect there to be an autogenerated redirect from "anything before 1.52.0" to 1.52.0.

(If you were to use an SDK style project, this would be completely invisible to you.) If you've got a config file with assembly binding redirects, you could try

[2021-06-28 14:24] patilravikiran commented on #1864
Thanks Jon. I will look into this. Do you have any reference links for similar issue. I have tried to modify app.config of secondary (referred) project, but no luck.

[2021-06-28 14:29] jskeet commented on #1864
I don't have any references I'm afraid, no. I also don't know the details of your project set-up, or what the app.config looked like before, or how you changed it. If you could provide a minimal but complete example, I'd be happy to try to trouble-shoot it - but otherwise I'm really making suggestions in the dark.

[2021-06-28 14:48] patilravikiran commented on #1864
See below example.
I have changed old version from 0.0.0.0-1.52.0.0 to 0.0.0.0-1.50.0.0

<dependentAssembly>
<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
<bindingRedirect old version="0.0.0.0-1.52.0.0" new version="1.52.0.0" />
</dependentAssembly>

[2021-06-28 14:51] jskeet commented on #1864
No, it needs to be the other way round - you need to redirect 1.50.0 to 1.52.0.

[2021-06-28 14:51] jskeet commented on #1864
(Although you didn't attach anything, so it's not entirely clear what you meant )

[2021-06-28 14:53] patilravikiran commented on #1864
<dependentAssembly>
<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
<bindingRedirect old version="0.0.0.0-1.52.0.0" newVersion="1.52.0.0" />
</dependentAssembly>

[2021-06-28 14:54] patilravikiran commented on #1864
"<dependentAssembly>
<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
<bindingRedirect old version="0.0.0.0-1.52.0.0" newVersion="1.52.0.0" />
</dependentAssembly>"

[2021-06-28 14:54] patilravikiran commented on #1864
Sorry not able to add XML content

[2021-06-28 14:55] jskeet commented on #1864
That's broadly what it should look like - but again, it would be *much* easier to help you if you could just provide a zip file with a minimal example in.

[2021-06-28 15:10] patilravikiran commented on #1864
![Uploading IMG_20210628_204008.jpg…]()

[2021-06-28 15:13] patilravikiran commented on #1864
![Uploading IMG_20210628_204008.jpg…]()

[2021-06-28 15:29] patilravikiran commented on #1864
I have referred below issue
https://github.com/googleleads/googleleads-dotnet-lib/issues/210

[2021-06-28 15:34] jskeet commented on #1864
I'm not sure what you intended to upload - potentially an image - but again, *please* provide a zip file with the complete solution. It's very unlikely that I'll be able to help you until you do so.

[2021-06-29 01:12] JandosHk opened #1883 "How to keep user logged in?"
When I sign in to Azure AD, they show login page with keep logged in checkbox. If I check this and sign in, then for short period of time, the login page won't display, even if I close the browser and reopen. How can I achieve similar thing with Google.Apis.Auth.AspNetCore3 lib? I'm developing ASP.NET Core 3.1 web app (not SPA).

[2021-06-29 05:46] jskeet commented on #1883
I'll assign this to Amanda, who has looked into auth a lot more than I have - but I'm afraid she's on vacation at the moment, so it may well be a little while before we hear more.

[2021-06-29 14:06] Lithelli commented on #663
This pickle got me for a good couple days. After working with another teammate, we were able to take a step back and understand the setup.
Grabbing the placement first. Then adding the tag types you want to the placement level.

`placement.TagFormats.Add("PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH");
                    placement.TagFormats.Add("PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3");

[2021-07-05 13:43] amanda-tarafa commented on #1883
Take a look at my answer in this other issue: https://github.com/googleapis/google-api-dotnet-client/issues/1817#issuecomment-810378201.

Basically you need to make the refresh token persist after session closure and for that you (most likely) need the authentication cookie to be persistent. On the answer I linked above you can see a snippet of code that will help you get started and also Microsof

[2021-07-05 14:12] amanda-tarafa commented on #1836
@OblivionSY I'll close this issue now because we need more info to help you and it's been a while since you last replied. Do feel free to leave a new comment if you get around to this again.

[2021-07-05 14:12] #1836 closed

[2021-07-06 08:36] #1878 closed

[2021-07-06 22:38] wildebrandon opened #1887 "sheets api taskcanceledexception once deployed to iis"
I'm pulling data from a google sheet using .NET.  This works fine in development while running the site locally, but once site is deployed to IIS, I get TaskCanceledException every time I try to retrieve data from google sheet.  The relevant code is below.  Why would the API work fine in development, but not work once deployed?

    static readonly string[] Scopes = { SheetsService.Scope.Spreadshe

[2021-07-07 01:09] JandosHk commented on #1883
Thank you @amanda-tarafa; it worked. Closing this issue.

[2021-07-07 01:09] #1883 closed

[2021-07-07 06:12] jskeet commented on #1887
What does `ShowInlineDialog` do? I'd remove those catch blocks from `ReadEntries` to start with - if there are exceptions, you'll be able to see them (in more detail) in the log. I'd also suggest removing the `Task.Run` usage - just call `ReadEntries("Current Logistics")` and await the resulting task.

[2021-07-07 14:11] amanda-tarafa commented on #1349
I've updated the sample code to use Google.Apis.Drive.v3 and I can already see the new sample https://developers.google.com/api-client-library/dotnet/guide/media_upload#sample-code.

[2021-07-07 14:11] #1349 closed

[2021-07-07 17:55] wildebrandon commented on #1887
Thanks for the quick response, Jon.  I did as you suggest but still the request.Execute() statement does not successfully execute once deployed to IIS. Any other ideas?

[2021-07-07 18:12] jskeet commented on #1887
Well, is there any more information in the log? I'd expect any exceptions to be logged.

[2021-07-07 19:10] wildebrandon commented on #1887
Excuse my ignorance, is the log on the server or on the client side?

[2021-07-07 19:11] jskeet commented on #1887
The server - where your code is running.

[2021-07-07 19:24] wildebrandon commented on #1887
I don't see any exceptions in the log file.  Without the 'catch' statement,
the site just hangs indefinitely on the .Execute() statement.  I've
attached the log file.

On Wed, Jul 7, 2021 at 1:12 PM Jon Skeet ***@***.***> wrote:

[2021-07-08 02:14] jskeet commented on #1887
I don't see any attachments, I'm afraid. I suggest you attach the log via the GitHub UI instead of replying by mail.

It would also be good to know:

- What the code looks like now - if you could provide a minimal but *complete* example demonstrating the problem, that would be ideal. That would be a zip file containing a complete solution, where the web app basically does *nothing* but this. That

[2021-07-08 06:17] oskar commented on #1611
@jskeet Could you please elaborate a bit on the rationale behind this design decision? Is it due to some kind of security concern?

[2021-07-08 06:37] jskeet commented on #1611
@oskar: I can't speak for the auth design team, but I would expect that yes, there are security concerns around environment variables being leaked (see the [CodeCov vulnerability](https://about.codecov.io/security-update/) for example).

But beyond that, there's a cost to every additional way of specifying credentials - there's more complexity for customers to navigate, more to implement and ensur

[2021-07-08 20:52] wildebrandon commented on #1887
Here's the log file.  I'll get an example prepared.
The request hangs forever.  The client sees a spinning arrow that never goes away.
[u_ex210707.log](https://github.com/googleapis/google-api-dotnet-client/files/6787182/u_ex210707.log)

[2021-07-08 21:13] jskeet commented on #1887
That looks like it's just the request log - you want the server log that exceptions get logged in. If you haven't got exception logging sorted out, that's the *first* thing to do... if you can't see exceptions getting logged, it makes diagnosing problems *much* harder.

[2021-07-08 23:18] wildebrandon commented on #1887
Thanks for the help.  Does this look like the exception log?
[httperr1.log](https://github.com/googleapis/google-api-dotnet-client/files/6787740/httperr1.log)

[2021-07-09 05:49] jskeet commented on #1887
Well it doesn't appear to have any exceptions in it. You should modify your code to *just* throw an exception with an easy-to-find message (I typically use "Bang!") and check you can find that in your logs. I'm afraid I can't walk you through that step-by-step, partly because it's been a very long time since I've used IIS, and partly because it's not really a suitable use of my time as it's unrela

[2021-07-10 14:46] patilravikiran commented on #1864
[Abc.GcpConnection.zip](https://github.com/googleapis/google-api-dotnet-client/files/6795453/Abc.GcpConnection.zip)

[2021-07-10 14:56] patilravikiran commented on #1864
Sorry, was not able to upload this solution from corporate laptop. Hence uploaded solution from personal machine.

To run solution, please follow below steps:
1. Run Abc.GcpConnection project. It will open Microsoft Visual Studio Debug Console.
2. After some time, it will show url like http://localhost:7071/api/Function1
3. Use this url and paste in browser.

[2021-07-10 14:58] jskeet commented on #1864
I'll look on Monday

[2021-07-10 15:08] patilravikiran commented on #1864
Thanks @jskeet

[2021-07-12 07:44] jskeet commented on #1864
@patilravikiran: Ah, you hadn't mentioned that this was an Azure Function. We've seen issues with Azure Functions dependency resolution before - in particular with Functions v1 which you appear to be using.

It looks like the problem you're facing is really somewhat separate to proxy settings - I see the same issue after commenting out the proxy configuration lines. I suspect you first *saw* this

[2021-07-12 07:44] #1864 closed

[2021-07-13 17:24] patilravikiran commented on #1864
Yes thanks @jskeet. I am using Azure function version 1 for obvious reasons. As there is no option, I will stick to earlier workaround shared by you.

[2021-07-14 08:29] KerosenoDev opened #1891 "Edits.Testers.Get always returns null"
Hello.

I am trying to get the Testers from a class library in .NET with C# using Google.Apis.AndroidPublisher.v3 (1.52.0.2350).

I connect well with the credentials, and I can get the track list.

![image](https://user-images.githubusercontent.com/36072624/125589243-0353b2a3-747a-4732-84bf-fc9bb6bcd1f2.png)
![image](https://user-images.githubusercontent.com/36072624/125589351-f78c8023-54e6-409b-9

[2021-07-14 09:52] jskeet commented on #1891
Have you tried issuing the same request in the [live browser API tester](https://developers.google.com/android-publisher/api-ref/rest/v3/edits.testers/get)? (It's on the right hand side.) If that gives results but the client library doesn't, then we can look into it further - but I very strongly suspect this is an issue in how you're using the API (or the results you're expecting). I'm afraid the

[2021-07-14 09:52] #1891 closed

[2021-07-16 05:11] JandosHk opened #1893 "Application name on login screen"
I'm using Google.Apis.Auth.AspNetCore3, version 1.52.0 for my ASP.NET Core 3.1 web app. When running from my development PC, the login page shows my web app's name. But when running from GCP (compute engine), it shows our company's domain name. Where can I change this to show application name instead of domain name? I looked at GCP project's OAuth consent screen, and it correctly shows my web app'

[2021-07-16 08:28] amanda-tarafa commented on #1893
I won't be able to help much here since this is not a problem with the .NET Auth library, maintainers of this repo, we know the Auth library inside out and are very familiar with some aspects of OAuth configuration but not experts on it.

That said, my guess would be that your app is not yet verified? Take a look in [Setting up your consent screen](https://support.google.com/cloud/answer/10311615?

[2021-07-16 08:28] #1893 closed

[2021-07-16 08:44] JandosHk commented on #1893
Thanks, @amanda-tarafa .

[2021-07-16 17:39] derekantrican opened #1894 "Adding conferencing with ConferenceData.CreateConferenceRequest gives "Invalid conference data""
# NOTE: this is mirroring a ticket created on the nodejs side here: https://github.com/googleapis/google-api-nodejs-client/issues/2387

#### Environment details

  - Programming language: C#
  - OS: Windows 10
  - Language runtime version: .NET Standard 2.0
  - Package version: 1.52.0.2375, but I've tracked it back to at least 1.51.0.2305

#### Steps to reproduce

An `EventsResource.UpdateRequest`

[2021-07-16 17:59] derekantrican commented on #1894
Relevant SO post: https://stackoverflow.com/questions/66277996/add-conference-to-event-google-calendar-api

[2021-07-16 18:13] jskeet commented on #1894
Thanks for the issue - I'll look into it on Monday.

[2021-07-16 18:14] derekantrican commented on #1894
@jskeet Thanks. Would you prefer one also logged on the bugtracker or is here sufficient?

[2021-07-16 18:16] jskeet commented on #1894
This is fine for now. If the Node API client gives the same error, but API Explorer works, that's very odd - I'll look in detail next week.

[2021-07-19 14:13] jskeet commented on #1894
I can't reproduce this. I've just managed to both create a new event with a Meet associated with it, and update an existing event to add a Meet.

The update part of the code is very simple:

[code]

Now, that's updating a personal GMail account, using a UserCredential to do so.

Please could you let me know what kind of account the event belongs to, and what authentication you're using?

[2021-07-19 17:06] derekantrican commented on #1894
I'm also using a personal gmail account & a UserCredential. I can confirm that your example works (put it into a new test project). However, using `Type = "eventHangout"` still throws "Invalid conference type value" with your example even though it is a valid option according to the documentation at https://developers.google.com/calendar/api/v3/reference/events

(After some more debugging, I found

[2021-07-19 17:10] jskeet commented on #1894
Okay, but your working API Explorer ("try it now") example was using `hangoutsMeet`, not `eventHangout`... so we're still not at a situation where you've got a working API Explorer example, but it failing from code.

If the problem is "eventHangout doesn't work any more" regardless of whether the request goes through the API Explorer or through a client library, then I'm afraid there's nothing mor

[2021-07-19 17:42] derekantrican commented on #1894
Yeah, that's totally fair. Thanks for investigating this and I'll report the "eventHangout" discrepancy via the bug tracker

[2021-07-19 17:42] #1894 closed

[2021-07-20 09:01] jskeet commented on #1887
Without more information, we're going to be unable to help. I'll close this issue at the end of the week if we haven't heard anything.

[2021-07-21 08:44] bear99a9 opened #1896 "The SSL connection could not be established. Authentication failed because the remote party has closed the transport stream"
Morning,

I am trying to retrieve user activity data for each client Id. I retrieve the client id no problem but since I've put this into development on Azure I keep getting a The SSL connection could not be established on the user activity request. I have added in a check to make sure I get an auth token back before I send the api request. It is running 10 view id's at once in tasks hence the (aw

[2021-07-21 09:08] jskeet commented on #1896
When you say "since I've put this into development on Azure" could you clarify what the exact deployment target is? Which version of .NET are you using, is this Azure Functions, etc?

You might also want to specify the TLS version explicitly, as shown here: https://stackoverflow.com/questions/35621686

[2021-07-21 09:19] bear99a9 commented on #1896
Thanks for the quick reply.

It is a worker service, webjob is continuous deployment, Using .NET 3.1.

This is the current TLS setting.
![image](https://user-images.githubusercontent.com/69244917/126464344-204edd64-5e0e-4651-9e09-f447e53fbc41.png)

I'll try specifying the TLS explicitly as in the stack overflow article, and see if that resolves the error

[2021-07-21 09:24] jskeet commented on #1896
I believe the screenshot you've shown is about how connections are *accepted* by your web job, whereas the problem you're seeing is with *outbound* connections. I'm reasonably hopeful that the change shown in the Stack Overflow answer will help. (You may want to include `Tls13` as well.)

[2021-07-21 10:15] bear99a9 commented on #1896
That seems to have solved the issue.

Thanks for your help

[2021-07-21 12:42] bear99a9 commented on #1896
Sorry I spoke to soon it has occurred again.

I have run it locally on my laptop too and I get a slightly different error

Local error
System.Net.Http.HttpRequestException: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.
---> System.Net.Sockets.SocketException (10

[2021-07-21 13:07] jskeet commented on #1896
If this is happening on your laptop as well, please try to reduce it to a minimal example, ideally a console app, that we can use to reproduce the issue. I *suspect* it may be a networking issue, e.g. a proxy somewhere.

[2021-07-21 14:02] bear99a9 commented on #1896
I have reduced it to this console app and it works fine

        static void Main(string[] args)
        {
            try
            {
                string scope = "https://www.googleapis.com/auth/analytics";

                string serviceAccountFile = "C:\\GoogleAnalytics\\GAReporting\\GAReporting\\datawarehouseapi-316914-d2cc2f8122bf.json";
                ICredential credential = GoogleCre

[2021-07-21 14:05] bear99a9 commented on #1896
This is the console app I have run and it works fine every time.

The issue is not constant it will let me send hundreds or thousand of api calls that work then suddenly just springs this error

[2021-07-21 14:09] bear99a9 commented on #1896
These doctored client id, view id, start and end date are the ones that threw one of the errors but I've just wrapped it in a while loop and ran for 500 times no error

[2021-07-21 14:10] jskeet commented on #1896
Mmm. It does feel like that there's a network issue somewhere.

When it was failing on Azure, was it always failing *immediately*? And has that part been fixed, or are you still seeing intermittent problems on Azure?

[2021-07-21 14:12] bear99a9 commented on #1896
No it can run for a while before the failure occurs. It ran for nearly 2 hours before it threw the error again

[2021-07-21 14:14] jskeet commented on #1896
And which error was it that time? We've got two different errors here, and if the first has been completely solved, that's worth knowing.

[2021-07-21 14:15] bear99a9 commented on #1896
Sorry it was the deployment error:
System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception. ---> System.IO.IOException: Authentication failed because the remote party has closed the transport stream. at System.Net.Security.SslStream.StartReadFrame(Byte[] buffer, Int32 readBytes, AsyncProtocolRequest asyncRequest) at System.Net.Security.SslStream.Parti

[2021-07-21 14:16] jskeet commented on #1896
How can it be a deployment error when it's been running for 2 hours? Maybe I don't understand what you mean by "deployment error". (I'd expect that to be "an error when you deploy" i.e. when it's not been running at all).

[2021-07-21 14:17] bear99a9 commented on #1896
sorry not deployment error, I mean an error once it is running in the azure webjobs

[2021-07-21 14:19] jskeet commented on #1896
But still the same error of trying to establish an SSL connection?

Does your production code reuse a single service instance? I wonder whether the problem is *actually* that you're running out of sockets - I believe they're fairly limited in Azure. If you can reuse one instance of `AnalyticsReportingService` throughout your app, that may well help.

[2021-07-21 14:27] bear99a9 commented on #1896
I just thought I'd flag the other error up just encase it was relevant.

I can definitely give that one instance of AnalyticsReportingService a go and see what happens. I'm reaching my daily GA api limits so will have to run this fully tomorrow morning and get back to you

[2021-07-22 12:10] bear99a9 commented on #1896
Using one instance of AnalyticsReportingService seems to have solved the issue.

It has run fully today without any exceptions

Thanks for your help

[2021-07-22 12:20] jskeet commented on #1896
Good to hear. Closing.

[2021-07-22 12:20] #1896 closed

[2021-07-23 00:04] shertu opened #1899 "redirect_uri should use https:// instead of http://"
This appears to be a client-library issue.

#### Environment details

  - Programming language: ASP .NET Core
  - OS: Windows
  - Language runtime version: 5.0.102
  - Package version: 1.52.0

#### Steps to reproduce

Here is my login endpoint:

[code]

Here is my authentication code in Startup:

[code]

The bug occurs when you hit the endpoint and get a challenge response:

![image](https://user-

[2021-07-23 10:34] amanda-tarafa commented on #1899
You need to add use HTTP redirection on your app. Take a look at the note, and the sample code on how to that, on the documentaiton [here](https://developers.google.com/api-client-library/dotnet/guide/aaa_oauth#configure-your-application-to-use-google.apis.auth.aspnetcore3).

[2021-07-23 12:55] shertu commented on #1899
Are you sure, it is working in localhost for me but not in production? Even if I add the HTTPS redirect middleware.

[2021-07-23 13:10] shertu commented on #1899
You can see the issue for yourself if you go to the authentication example on [my website.](https://zukte-static-a2hjd.ondigitalocean.app/)

[2021-07-23 13:15] jskeet commented on #1899
What does `TryValidateReturnUrl` look like? Your screenshot suggests that `returnUrl` is an HTTPS one, but it looks like the `AuthenticationProperties.RedirectUri` is HTTP.

If you could add logging to validate that expectation, that would help - but if that's the case, then that would suggest the problem is in the `TryValidateReturnUrl` which looks like it's in your class.

[2021-07-23 13:16] shertu commented on #1899
I think it's related to this issue: https://github.com/aspnet/Security/issues/1901

[2021-07-23 13:17] shertu commented on #1899
You can see the code here:

https://github.com/shertu/zukte/blob/main/apps/aspnetapp/Service/AccountController.cs

[2021-07-23 13:21] jskeet commented on #1899
Okay, nothing obviously wrong there. As I suggest, the next step would be to add logging for `returnUrl` and `AuthenticationProperties.RedirectUri`.

[2021-07-23 13:23] jskeet commented on #1899
And yes, it sounds like it could be related to that other issue. At the moment we don't know much about how you're deploying the code... I strongly suspect the problem is with the information that the Google auth library is receiving, rather than with the library itself.

[2021-07-23 13:46] shertu commented on #1899
The code is being deployed on inside of a docker container on the Digital Ocean app platform.

[2021-07-23 13:57] jskeet commented on #1899
Okay. So my guess is that the HTTPS connection is being terminated before it gets to your actual app, so as far as your app is concerned, it *is* using HTTP - but it can't "see" that the real external URL is HTTPS.

I'd still like to know the results of logging `returnUrl` and `AuthenticationProperties.RedirectUri`.

[2021-07-23 14:02] shertu commented on #1899
The value of those variables is equal to the string sent by client. I don't think it's relevant.

[2021-07-23 14:07] jskeet commented on #1899
Yes, but somewhere it's being changed from HTTPS to HTTP. That's why I want to know *exactly* what value is in `AuthenticationProperties`... I'd *expect* the code to just use that value to create the redirect back, so we'd want it to be the HTTPS URL. (Note that it's not redirecting the *server* to the correct page on the *client* - it's redirecting the *client* to the correct page on the *server*

[2021-07-23 14:14] shertu commented on #1899
![image](https://user-images.githubusercontent.com/7973587/126794727-21476525-7b2e-4194-a508-b36b4256c035.png)

Alright I got it to work by adding the following in my services configuration:

[code]

And adding the `UseForwardedHeaders` middleware.

[2021-07-23 14:47] jskeet commented on #1899
Okay, glad it's working for you now.

[2021-07-26 11:29] jskeet commented on #1887
Closing due to lack of information.

[2021-07-26 11:29] #1887 closed

[2021-07-26 14:49] rodion-m opened #1901 "Process OAuth2 authorization on a mobile client and use credentials on a server?"
Is it possible to process OAuth2 authorization using a mobile SDK client and then use retrieved credentials with google-api-dotnet-client API? So, I want to get credentials directly in a mobile client, send them to a backend and use API on the backend with this credentials. \
I already find something in source code: https://github.com/flutter/plugins/blob/master/packages/google_sign_in/google_sign

[2021-07-26 15:50] amanda-tarafa commented on #1901
I'm not familiar at all with that flutter package you linked so I can't answer to what will work with it.

But the short answer to your main question is YES, you can authenticate on a mobile app and send/store the tokens on the backend, the backend being the actual online backend for your mobile app, or an offline service that does something on behalf of the user while the user is offline.

Sendin

[2021-07-26 15:52] amanda-tarafa commented on #1901
One thing I forgot to mention is that both you mobile app and backend code, need to use the Client ID/Secret when making the Auth requests. Access and refresh tokens are not shareable across different clients.

[2021-07-26 20:35] rodion-m commented on #1901
@amanda-tarafa Thank you very much for a so fast response! Yes, we want to our backend work offline.
If you don't mind I'll make few clarifications.
[code]
Where is refresh_token here? `serverAuthCode` maybe?
Also we should create a custom `UserCredential`.
[code]
Is it correct?

[2021-07-26 22:08] rodion-m commented on #1901
I read issues with a similar problem and found this info `Sharing the refresh token across different clients won't work, the refresh token is indeed tied to the Client ID.`.
Also @LindaLawton said that in some case we can reuse Client Id from android/iOS app (my case) in Web. So, what's the correct solution?

[2021-07-27 07:54] j-flat opened #1902 "Add .Net 5 support for Google.Apis.Core"
I'm trying to use `Google.Apis.Core.Mac` on my personal project that is targeting net5 and I cannot install the required packages, since the `Google.Apis.Core` is incompatible with **.Net 5**

**Describe the solution you'd like**
Added targetFramework for .Net 5.

[2021-07-27 08:00] jskeet commented on #1902
I haven't come across Google.Apis.Core.Mac before, but I would recommend against using it - aside from anything else, it was last released in 2015.

You should be able to use Google.Apis.Core just fine - it targets .NET Standard 2.0 (amongst other things), which .NET 5 supports. There's no need for a .NET 5-specific target.

[2021-07-27 08:35] amanda-tarafa commented on #1901
These are not conflicting statements, they are the same. You cannot share tokens across different clients (IDs). You need to use the same Client ID/Secret on your mobile app and backend service.

[code]

I have no idea where `_data` is coming from here so I don't know if it contains the refresh token or if it does, where. `_data.serverAuthCode` is probably not the refesh token, it is probably the

[2021-07-27 10:51] j-flat commented on #1902
Actually you are correct, the problem was with the `Google.Apis.Core.Mac` not being compatible, trying to add it via NuGet Package manager outputs this to Visual Studio Package Console:
[code]

I'm taking your advice against using this library, but would be superb to get Google Protobuf documentation up to date. I got the idea / example of using MAC-library from here: https://developers.google.com

[2021-07-27 10:51] #1902 closed

[2021-07-27 10:57] jskeet commented on #1902
I don't see any reference to Google.Apis.Core.Mac in that documentation, and that's not the Protobuf documentation anyway, it's Tink.

[2021-07-27 17:02] rodion-m commented on #1901
@amanda-tarafa Thank you very much for a detailed answer! So, I just should create a key without any restrictions and use it on android/ios/backend, right?
![image](https://user-images.githubusercontent.com/36400912/127196841-6d0e9f4a-b6a0-4198-9711-5251a8d47779.png)

[2021-07-27 17:21] rodion-m commented on #1901
@amanda-tarafa Thank you very much for a detailed answer!

But I don't see how to share a single client id between all android/ios/backend platforms. Should I use just an option `Client ID for Desktop`? (it seems that only this one don't have any restrictions) Or what is the right way?

[2021-07-27 22:07] LindaLawton commented on #1901
As far as i know you cant but if you get it to work i would love to hear how.

[2021-07-27 23:18] amanda-tarafa commented on #1901
@rodion-m that screenshot is for configuring [API keys](https://cloud.google.com/docs/authentication/api-keys) which are for accessing public data anonymously. Since you'll be using a users credentials to perform actions on their behalf, you need a [Client ID and secret]( https://support.google.com/cloud/answer/6158849?hl=en). This is what you have been using in the sample code you yourself pasted

[2021-07-28 08:31] amanda-tarafa commented on #1901
Just to make certain, I just tried sharing an Android Client ID/secret with a backend offline service and it works as expected. It should work as well with an IOs Client ID/secret. Let's recap a little because we've been chatting about slightly different things:

1. What's different for each type of application is
  * how you create the Client Id
  * the interactive authentication flow, which is o

[2021-07-29 08:20] alexsatellite opened #1905 "Refresh Tokens Expiration"
How long last refresh Tokens?

I know when it should expire by the google docs but my refresh token expired in 3 weeks with no password change or any other kind of activity.

[2021-07-29 08:37] amanda-tarafa commented on #1905
From reading he docs about [Refresh Token Expiration](https://developers.google.com/identity/protocols/oauth2#expiration) there more reasons than changing the password for the refresh token to expire. In particular, I think your app might be in testing mode:

If you want to mark your app  as "In Production" you might need to [verify your app](https://support.google.com/cloud/answer/9110914).

[2021-07-29 09:24] alexsatellite commented on #1905
Yes this one my be the reason because it's in "Testing" mode.

Changing the app to "Production" is not up to me, so if I use the refresh token every two days this should prevent it from expiring in 7 days right?

Thanks, Alex.

[2021-07-29 10:08] amanda-tarafa commented on #1905
I'm not entirely certain that using the refresh_token more often will help. It's true that for production apps, the refresh token will expire in 6 months if not used, so there might be a similar shorter threshold for testing apps tokens.

But regardless of the answer this is not a library issue, which is what we are very familiar with in this repo. I'd advise you to follow the support routes descr

[2021-07-29 10:08] #1905 closed

[2021-07-29 14:02] hyde777 opened #1907 "When will it be .NET5.0 compatible"
Hello,

I wanted to know whendo you think the .net5.0 version would be available.

Regards

[2021-07-29 14:38] jskeet commented on #1907
All the libraries in this repository are already compatible with .NET 5.0, as they include a target for netstandard2.0.

[2021-07-30 01:37] rodion-m commented on #1901
@amanda-tarafa Thank you very much for such a detailed response! I'm glad to see so high level of users supporting from Google! So, now only one problem is left - retrieving a refresh token using google_sign_in flutter plugin or at least find it in native library. Who should I ask this question?

[2021-07-30 08:01] amanda-tarafa commented on #1901
Thanks @rodion-m , glad I could help.

If you wanted to perform authentication natively, you can follow the steps in [OAuth 2.0 for Mobile & Desktop Apps](https://developers.google.com/identity/protocols/oauth2/native-app). I'd still advise you to use a supported library or similar.

For Flutter, here are [Flutter's docs](https://flutter.dev/docs). And aslo you can ask a question on one of their [

[2021-07-30 08:01] #1901 closed

[2021-07-30 16:43] mikequ-taggysoft opened #1908 "Does the Gmail SDK support batching requests?"
I'm trying to implement batching for sending emails via `GmailService`. I first read this doc:

https://developers.google.com/api-client-library/dotnet/guide/batch

So it appears there's `BatchRequest` in the base SDK. But I also found this blog which says "global batch endpoint" has been discontinued and to use "API specific" endpoints:

https://developers.googleblog.com/2018/03/discontinuing-sup

[2021-07-30 18:53] amanda-tarafa commented on #1908
The very short answer is yes, batching is supported by the Google.Apis.* libraries in general, and unless there's a specific limitation on the API that I'm not currently aware of, it should work for GMail as well.
I'll try to go into more detail later over the weekend, else on Monday first thing.

[2021-08-01 18:17] LindaLawton commented on #1907
I have been using it with .net 5 for a while now I have had no issues.

[2021-08-01 18:18] jskeet commented on #1907
Closing as we haven't had any more details of problems.

[2021-08-01 18:18] #1907 closed

[2021-08-02 15:24] amanda-tarafa commented on #1908
I've just tested batching a few `MessagesResource.SendRequest` and it works perfectly, so I can confirm that batching is supported for Google.Apis.Gmail.v1. As for some of your specific questions:

Yes, you just use BatchRequest as shown in the next code snippet and the correct batch endpoint will be use.

[code]

No (more on the max batch requests follows).

On the client library side, i.e. Googl

[2021-08-02 18:39] mikequ-taggysoft commented on #1908
@amanda-tarafa Thank you! I tested the codes and it does work so far as advertised. Since my app is still under dev, only time will tell if things will go smoothly under production load.

Just for reference this is an example of the the "problematic" post I referred to:
https://stackoverflow.com/a/48828283/683202
(it was written by a Google Developer Expert who creates tutorials for this kind of s

[2021-08-03 03:58] #1908 closed

[2021-08-03 18:30] BookBoys opened #1910 "Logging Request Data In ShoppingContentv2.1"
Hello,
I've been updating my app to use Google.Apis.ShoppingContent.v2_1 and when I make a batch of Inventory updates, my items get flagged with a 'Invalid text value [update type]' warning. I've been in contact with google support and they've request that I provide the logs when requests are made to the API via the .net library. I've looked through the documentation for the 2.1 here: https://deve

[2021-08-04 08:52] amanda-tarafa commented on #1910
There's some rundimentary logging cababilities baked in on the Google.Apis.ShoppingContent.v2_1 (on all Google.Apis* libraries to be more precise). But it might not log everything you are after. To activate it, you can write this line of code at the start of your application:

[code]

You can use that same logger as well if you want to do some extra logging yourself:

[code]

[2021-08-04 14:31] pchinery opened #1911 "AdSense v2 / Generate Report / Metrics are broken"
When generating reports, it's impossible to specify more than one metric as the Field is no `Repeatable<MetricEnum>` but rather just a `MetricEnum?`. Therefore, it does not support multiple values:
https://github.com/googleapis/google-api-dotnet-client/blob/master/Src/Generated/Google.Apis.Adsense.v2/Google.Apis.Adsense.v2.cs#L2234

This is pretty bad given the fact that AdSense API v1.4 is put ou

[2021-08-04 15:07] amanda-tarafa commented on #1911
Yes, we don't currently support repeated query parameters. We'll take another look at feasability vs. usability again, but a change won't come in the short term.

In the meantime you can use [the workaround](https://github.com/googleapis/google-api-dotnet-client/issues/1554#issuecomment-622264472) as described in this other similar issue. Basically you add the extra values to the query string on a

[2021-08-04 15:12] pchinery commented on #1911
Thank you for the quick reply. I will try that.

Sorry for being blunt, but if the client does not support core features from the API, wouldn't it be better not to provide a client and recommend HTTP instead of have a somewhat quirky generated client where you end up modifying HTTP requests anyway?

[2021-08-04 15:21] jskeet commented on #1911
Not for the 99% of APIs that work fine with the generated code, no. Is it a pity that repeated fields and query parameters don't mix nicely? Absolutely. Does that make the generator worthless? No.

Of course, if you decide that for your use case you don't want to use the generated code, the fact that a client library *is* provided doesn't stop you from making direct HTTP calls yourself. (Whereas i

[2021-08-04 15:30] pchinery commented on #1911
There is some truth to that, but still a very fundamental concept of the API is broken. At least a hint in the generated code would be helpful, that the Property is not supported and how to approach this would be really helpful. As it is now, it looks like it might work but just doesn't. Would that be possible so the next person does not have to go on the same journey as I had to?

[2021-08-04 15:33] jskeet commented on #1911
Not right now, no - any changes to the generator are pretty costly. (And it *does* work if you only need a single metric, of course. So it's not like even that property itself is entirely broken.)

We can look into it eventually, but it's not high on our priority list compared with many other things we need to work on.

[2021-08-05 05:44] jonpanky opened #1912 "https://support.google.com/merchants/answer/9216100?hl=en-GB"
Hi,

I've recently downloaded the recent update.

I would like to use product_highlight for new products added via the API, but it does not seem to be available are there plans to extend this?

https://support.google.com/merchants/answer/9216100?hl=en-GB

[2021-08-05 05:47] jskeet commented on #1912
Could you clarify which library you're using? It's not obvious from your question (or the doc, unfortunately), and I'm afraid the maintainers of this repository don't have detailed knowledge of all the individual APIs.

[2021-08-05 08:00] pchinery commented on #1911
Thank you for the explanation on this. The use case for a report with a single dimension and a single metric should be pretty narrow though. But I'll retire from this issue now.

Thank you anyway for your support and honest explanation :)

[2021-08-05 13:38] jonpanky commented on #1912
Hi kskeet,

I'm using Google.Apis.ShoppingContent.v2

Within VS and C# MVC

[2021-08-05 14:01] amanda-tarafa commented on #1912
As you can read on the [Content API for Shopping](https://developers.google.com/shopping-content/guides/quickstart) documentation page, the v2 version of the API is being sunset in September and you should migrate to the v2.1 version, which in terms of .NET client libraries means using the [Google.Apis.ShoppingContent.v2_1](https://www.nuget.org/packages/Google.Apis.ShoppingContent.v2_1/) package.

[2021-08-05 14:04] jonpanky commented on #1912
Hi Amanda, many thanks I shall take a look at that now.

[2021-08-08 07:30] mahyar1386 opened #1916 "Use obtained tokens for authentication"
I've obtained access token and refresh token and managed the refresh and revoke process, but is it possible to use them to authenticate using .net library? as a Bearer or something? or I just have to make my own custom REST requests and embed tokens in them and forget about the google library?
(Imagine I have to use the result of [https://oauth2.googleapis.com/token)](https://oauth2.googleapis.com

[2021-08-08 10:41] jskeet commented on #1916
Please could you provide more context? It's not really clear to me where the access token and refresh token have come from, or which API you're trying to use. You can create an AccessTokenCredential from an access token, but that won't refresh automatically. I'm not sure whether there's an equivalent for access token *and* refresh token - but whether or not it's even useful to you will depend on w

[2021-08-09 09:00] amanda-tarafa commented on #1916
As @jskeet said, it would be best to have more information as to how you are obtaining the tokens, so that we can better guide you on how to use them to call Google APIs. But:

- You can use [Google.Apis.Auth](https://www.nuget.org/packages/Google.Apis.Auth/) to authenticate and obtain credentials (access and refresh tokens).
- You can use the credentials obtained with Google.Apis.Auth with any of

[2021-08-09 09:03] amanda-tarafa commented on #1912
@jonpanky Were you able to use the Product Highlights feature with the Google.Apis.ShoppingContent.v2_1 package? If so, we'd like to close this issue. If you encounter different problems while using any of the libraries, do feel free to open new issues.

[2021-08-09 09:06] amanda-tarafa commented on #1910
@BookBoys where you able to activate logging for your app? Is the information that you receive enough, etc.?

[2021-08-10 07:48] mahyar1386 commented on #1916
@jskeet @amanda-tarafa
Thank you both for your comments.
Of course, let me explain.

Let's assume I'm using docker to run my project, every time I recreate my container I delete all the volumes and etc... (Ideal situation for my project)
In that case, tokens stored in "FileDataStore" will be lost too, and the next time I run my app I have to go through the whole process of login and permission, Wh

[2021-08-10 09:02] amanda-tarafa commented on #1916
You'd go like this:

- Implement `IDataStore` so that it connects to your persistent DB.
- When using `GoogleAuthorizationCodeFlow` and `AuthorizationCodeWebApp` initialize the flow with an instance of your custom data store, so that tokens will automatically be stored there.
- In the App that runs in docker, to obtain the credential, you would do something like:

[code]

- On "userId", which is t

[2021-08-10 09:25] mahyar1386 commented on #1916
I'll try to implement it that way.
Thanks @amanda-tarafa  🌹

[2021-08-10 19:04] BookBoys commented on #1910
Sorry bout the wait, I'm wiating for a response back from support about whether or not what I sent was good enough. I'll be sure to reply back here again once I get my response

[2021-08-12 08:49] jskeet commented on #1911
Okay, it turned out not to be too hard after all.

Unfortunately due to the way the version numbering works, we'll need to wait for the next change to the underlying API (so that we get a new version number).

But you can see what *will* happen here: https://github.com/googleapis/google-api-dotnet-client/blob/9b3b43c71b8cc14ffc385183befbe62e5d221254/Src/Generated/Google.Apis.Adsense.v2/Google.Apis

[2021-08-14 15:54] mahyar1386 commented on #1916
@amanda-tarafa
It's working as expected.
Thank you.

[2021-08-14 15:54] #1916 closed

[2021-08-16 08:28] jskeet commented on #1912
If we don't receive more information in the next few days, I propose we close this issue.

[2021-08-18 07:47] ArturChe opened #1923 "Link-shared Drive files security update"
Hi!
I have a question related to an ["Access link-shared files using resource keys"](https://developers.google.com/drive/api/v3/resource-keys) update.
Will it affects getting/exporting files?
Should we expect that the file management methods will have overloads with the new "resourceKey" parameter?

[2021-08-18 08:02] jskeet commented on #1923
I'm afraid that's really out of the scope of the knowledge of the maintainers of this repository - we know how client libraries are generated, but we don't know the details of every API.

I suggest you follow one of the routes in the [Drive support page](https://developers.google.com/drive/api/v3/support) for asking detailed questions around how resource keys affect the file management methods.

I

[2021-08-19 15:50] jskeet commented on #1912
Closing due to lack of feedback. We can reopen this later if we need to.

[2021-08-19 15:50] #1912 closed

[2021-08-19 15:52] jskeet commented on #1910
I'm going to close this now as we believe we've addressed it - but please still add a comment when you hear back, @BookBoys, and we can reopen if necessary.

[2021-08-19 15:52] #1910 closed

[2021-08-28 11:39] dex3r opened #1927 "Is it possible to connect to an emulator?"
Hi!
Can this SDK be used to connect to an emulated instance of Firestore? This one: https://firebase.google.com/docs/emulator-suite

There is no "emulator" mention in the documentation, issues or any other sources I could find.

I tried connecting, but an exception is thrown:
[code]

My code:
[code]

[2021-08-28 11:44] jskeet commented on #1927
Please see https://cloud.google.com/dotnet/docs/reference/Google.Cloud.Firestore/latest for instructions for connecting to the emulator.also note that for other issues related to Google.Cloud.Firestore, it would be helpful if you could file them at https://github.com/googleapis/google-cloud-dotnet which is where the code lives. (This repo is for the older REST-baswd libraries.) It just makes it ea

[2021-08-28 11:45] #1927 closed

[2021-09-03 07:44] AlastairBateman opened #1930 "Google Keep API Scopes"
I'm playing around the Google Keep API

I'm specifying scopes like this.
[code]
And then using them when obtaining credentials like:

[code]

But when running my application (Console-based) I get a message

| Error 400: invalid_scope
| Some requested scopes cannot be shown: [https://www.googleapis.com/auth/keep]

So I check the Scopes assigned in my developer console: https://console.cloud.google.

[2021-09-03 07:47] jskeet commented on #1930
Assigning to Amanda who knows more about Auth scopes than I do.

[2021-09-03 09:05] forking-renovate[bot] opened #1932 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `.github/renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error near ",
  ],
  `

[2021-09-03 09:15] amanda-tarafa commented on #1930
According to the [Keep API reference docs](https://developers.google.com/keep/api/reference/rest) the Keep API is an enterprise-only API.
If the project you are configuring is not part of your enterprise Google Workspace account, then that might be the reason why you cannot see the Keep scopes.
If it is and you don't see the scopes listed, then do please follow any of your Workspace usual support

[2021-09-03 09:47] #1932 closed

[2021-09-03 10:15] AlastairBateman commented on #1930
Thanks for the quick response @amanda-tarafa. That's something I'd overlooked.

[2021-09-06 21:33] #1930 closed

[2021-09-08 17:13] amanda-tarafa commented on #1911
This has now been released on https://www.nuget.org/packages/Google.Apis.AdSense.v1_4/1.55.0.2101. I'll be closing this issue but if you encounter any problems, do please add a comment or create new issues on the repo. Thanks for reporting.

[2021-09-08 17:13] #1911 closed

[2021-09-10 04:48] shertu commented on #1899
Would you consider adding a developer option to force the `redirect_uri` to use `HTTPS` instead of `HTTP`?

[2021-09-10 06:28] jskeet commented on #1899
I don't quite understand the feature request, @shertu - if you're sufficiently aware of wanting to use HTTPS that you're willing to opt into an option, why wouldn't you just specify an HTTPS URL at the time when you'd otherwise opt into the option?

[2021-09-10 07:34] shertu commented on #1899
As you mentioned previously:

[code]

Which causes:

[code]

To return a 302 to a URL with a `redirect_uri` value that uses `http`

![image](https://user-images.githubusercontent.com/7973587/132816820-70de959b-6b6e-47a7-af4b-7a9f933765dd.png)

I would like some method of forcing that `redirect_uri` value to use `https` regardless of whether or not the original request was a HTTP request.

[2021-09-10 07:45] jskeet commented on #1899
Ah, I see. I'll let @amanda-tarafa comment on this as I'm a bit further from this code than she is.

[2021-09-10 09:39] amanda-tarafa commented on #1899
We don't build the retunr URL ourselves, instead we rely on Microsoft's OpenId implementation which we extend. So this probably is a request better suited for them :).

Also, I think there's nothing stopping you from grabbing the result of the `Challenge` and change the return URL yourself before returning?

I'm reopenning in case I'm missing something here, but if I understood correctly this is p

[2021-09-11 05:14] shertu commented on #1899
![image](https://user-images.githubusercontent.com/7973587/132937072-1615b588-c1d4-44a0-95f2-f736f2644320.png)

@amanda-tarafa There does not appear to be an option to modify the `redirect_uri` value on the challenge result.

[2021-09-11 05:16] shertu commented on #1899
Do you know what the name of the package which contains Microsoft's OpenId implementation is? I'll ask the same question there if possible.

[2021-09-13 05:35] iamzythe opened #1962 "The SSL connection could not be established"
Hi,
I am able to implement this in my small project and all is working in my local project hosted IIS Express but when I uploaded to my CentOS 7 server behind **Nginx Reverse proxy** all is working except when it redirect to my endpoint I get this error

[code]

I have tried this method of resolving :
- UseForwardedHeaders
- UseCertificateForwarding
- Already install SSL Cert in Nginx

But still I

[2021-09-13 07:07] jskeet commented on #1962
This doesn't look to me like it's anything to do with Google Auth, although I may well be missing something. (I'm assuming it *is* Google Authentication that you mean by "I am able to implement this"? It's not clear from the issue.)

I suggest you remove authentication temporarily (accepting that all API calls will fail) and just try to get HTTPS working with a very simple project to start with. I

[2021-09-13 08:37] iamzythe commented on #1962
Thank you for you response sir, Yes I am certain that this is nothing to do with Google Auth and its an issue of enforcing certificate in the host machine.  I was just hopping anybody have the same experience and how they resolved it :)

Thank you again and you can  delete or flag this issue if you think its irrelevant.

[2021-09-13 08:38] jskeet commented on #1962
If the Google auth side is irrelevant, I will indeed close it. I would suggest you come up with a minimal way of reproducing the problem, then open an issue on an ASP.NET Core repo.

[2021-09-13 08:38] #1962 closed

[2021-09-13 08:42] amanda-tarafa commented on #1899
The package we are extending is [Microsoft.AspNetCore.Authentication.OpenIdConnect](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.OpenIdConnect).

You can do this `challenge.Properties.RedirectUri = challenge.Properties.RedirectUri.Replace("https", "http");` but yes, at this point the URL is still `htpps` and that makes sense, the app does not know it is behind a reverse proxy

[2021-09-13 08:43] amanda-tarafa commented on #1899
The package we are extending is [Microsoft.AspNetCore.Authentication.OpenIdConnect](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.OpenIdConnect).

You can do this `challenge.Properties.RedirectUri = challenge.Properties.RedirectUri.Replace("https", "http");` but yes, at this point the URL is still `htpps` and that makes sense, the app does not know it is behind a reverse proxy

[2021-09-13 08:46] amanda-tarafa commented on #1962
Also, just in case you are missing some configuration bits, take a look at [Configure ASP.NET Core to work with proxy servers and load balancers](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1).

[2021-09-13 08:47] amanda-tarafa commented on #1899
(Somehow my last comment got sent twice, I'm deleting one of them just to unclutter).

[2021-09-14 05:02] shertu commented on #1899
Well put, and thanks for the reaffirmation. Closing this issue as I think all that needs to be said has been.

[2021-09-14 05:02] #1899 closed

[2021-09-16 10:55] Coke21 commented on #1923
Hi, sorry if I shouldn't post here, however, I would like to help folks from the future if they stumble across this issue.
I have struggled with this new security update since yesterday albeit I found a hacky? fix for it.
In my case, I get all files from the folder. In an online view (e.g. through Chrome browser), I noticed that Google automatically added a new resourcekey parameter:

![5d790075c0

[2021-09-17 04:54] imdoom commented on #1348
What's the soution?

[2021-09-18 17:17] jitdash777 commented on #1352
I see this one is old thread and NuGet is also old. As many features of API got depreciated so is there any new NuGet or generated file available?

[2021-09-18 17:25] jskeet commented on #1352
@jitdash777: I believe the Google MyBusiness API has now been split into several sub-APIs. See https://developers.google.com/my-business/content/sunset-dates for details. If you [search for mybusiness on nuget.org](https://www.nuget.org/packages?q=mybusiness) you'll find six separate NuGet packages for the sub-APIs.

[2021-09-20 11:09] jskeet commented on #1923
Closing, as it looks like using the X-Goog-Drive-Resource-Keys header works.

I would personally recommend using the `request.AddExecuteInterceptor` approach rather than making this a default `HttpClient` header, but it depends on the use case.

[2021-09-20 11:09] #1923 closed

[2021-09-21 10:03] egulhan commented on #1369
I encountered the same issue. In my case, I was not using a key file (json one) for the granted service account on Google Play while verifying purchases on the back-end. I replaced the wrong key file with the one of granted service account on Google Play and it's working fine now.

[2021-09-22 14:29] TanvirArjel opened #1966 "How to set impersonating user in GoogleCredential object."
I am trying to set the user I would like to impersonate in `GoogleCredential` so that I can make a request to the Google Drive Service for that user from the service account.

Here is my `GoogleCredential` :

[code]

I am trying to set the `userEmail` as impersonating user in `GoogleCredential`  but could not find any way. Please help me.

[2021-09-22 15:13] amanda-tarafa commented on #1966
It seems that you'd like to [Perform Google Workspace Domain-Wide Delegation of Authority](https://support.google.com/a/answer/162106?hl=en#zippy=%2Cbefore-you-begin%2Cview-edit-or-delete-clients-and-scopes) and for that, before you attemp to impersonate in code, you need to have followed the steps detailed on the link above.
Once you've done that, then the code you pasted should work (except mayb

[2021-09-22 16:04] TanvirArjel commented on #1966
@amanda-tarafa I am getting `invalid credentials` error when calling the Google Drive Service as follows:

[code]

[2021-09-22 17:47] amanda-tarafa commented on #1966
Auth library wise, if impersonation "seems" to work for GMail, then it will work for Drive as well as we make no distinctions on the library. This is probably an issue with your domain-wide delegation configuration.

Note that I said "seems" because if neither service is enabled, then there's no certainty of impersonation working for specific users. It does for admin though, when you use the Admin

[2021-09-24 14:16] gioccher opened #1968 "Optimize Google Drive file upload speed"
- What you're trying to do
efficiently upload a file to google drive, while the file is being downloaded from the web

- What code you've already tried
[code]

- Any error messages you're getting
it works, but the upload pauses while the file is being downloaded from the internet, and the download pauses while the file is being uploaded.
![image](https://user-images.githubusercontent.com/921538/13

[2021-09-24 14:49] amanda-tarafa commented on #1966
@TanvirArjel I'll be closing this issue for now, since there's not much we can do, at least until you have all services enabled, etc.

Once you have services enabled, if you continue to experience issues with impersonation that look to be because of the Google.Apis.Auth library, do leave a new comment here and we'll look into it.
Do please note that if impersonation is working for some service but

[2021-09-24 14:49] #1966 closed

[2021-09-24 15:17] amanda-tarafa commented on #1968
No, I'm sorry, there's no alternative right now. We've looked into redoing/refactoring some of this code before but the work it's complex and long, and these libraries are in [maintenance mode](https://github.com/googleapis/google-api-dotnet-client#library-maintenance) so we focus mostly on bug fixes and fast improvements.

[2021-09-24 15:43] gioccher commented on #1968
thanks for the quick reply!

Without going into a full refactor of the library, would optimizing the existing code to better handle this scenario fit in the "fast improvements" allowed by maintenance mode?
Looks like this user noticed the same issue a few years ago, and was able to resolve it by tweaking two internal methods of the library https://codereview.stackexchange.com/questions/197034/goog

[2021-09-24 15:51] amanda-tarafa commented on #1968
One thing is a tweak that users can do themselves to fit a particular use case, and another thing is a "tweak" on the whole library that needs to support all current use cases, including resuming uploads/downloads that might have failed, etc. That's what makes it complicated.
You are free to try and tweak it yourself to fit your use case, without having to worry about the rest though. Sorry that's

[2021-09-24 20:28] MatheusXavier opened #1969 "Getting error "Duplicate Request ID in Batch Request""
We have an app that access google calendar using this lib, everything was working fine until a few hours ago when all requests to calendar have started to throw this error:

[code]

Then I found this [issue](https://stackoverflow.com/questions/69184367/google-tasks-api-batchrequest-triggers-duplicate-request-id-in-batch-request) on stackoverflow saying that:

Basicly there is a new mandatory field

[2021-09-24 20:29] jskeet commented on #1969
Thanks for reporting this - we'll look into it on Monday.

[2021-09-25 00:11] tarakan12 commented on #1969
this issue has broken our google integration, millions of calendar subscribers can't get changes nor new subscriptions are possible now. please fix this ASAP.
we had to reduce batch size to 1 to get around this but this introduces serious performance issues

[2021-09-25 01:35] gjdownes commented on #1969
I would hope there's a way to revert this change at the API/service level instead of the client/library. Having to upgrade our version and regression test all the new dependencies would not be ideal.

[2021-09-25 06:58] amanda-tarafa commented on #1969
This is an issue with the API and not the client libraries, it has already been reported on the API issue tracker [here](https://issuetracker.google.com/issues/200983675). Please follow that one and add your comments there. I'll raise it to be a bug or create one internally asap.

[2021-09-25 10:52] amanda-tarafa commented on #1969
I've created an internal issue to report this change in the API. I'll post here when I know more.

[2021-09-25 13:26] ajtruckle commented on #1969
I have had a client report about Google Calendar sync faliures just as described. I am reluctanct to make any manual fudge to get it to work so look forward to an updated API.

[2021-09-27 10:00] amanda-tarafa commented on #1968
I'll be closing this now, as we won't be working on improvements in this area any time soon. Do feel free to open other issues if you encounter any problems while using these libraries.

[2021-09-27 10:00] #1968 closed

[2021-09-27 12:10] amanda-tarafa commented on #1969
A mitigation for Calendar API has been put in place that should roll in the next few hours.
A mitigation will be put in place for the Task API as well.
Library or client code does not need to change, once the mitigations are in place, both APIs will continue to accept empty Content-ID as they did before.

I'll continue to report here when I know more.

[2021-09-27 12:17] ajtruckle commented on #1969
@amanda-tarafa  Great. I'll hold off releasing my temporary "fix" to my users as I prefer to use the official code. I look forward to your confirmation that it is updated.

[2021-09-27 13:49] SergiyBondarInvisible commented on #1969
Hi @amanda-tarafa,
we also have the same issue and hope that fix will be done in near time.
Thanks

[2021-09-27 13:55] vladbaranovsky commented on #1969
We also faced this issue!
Please fix it ASAP!

[2021-09-28 08:11] amanda-tarafa commented on #1969
I can confirm that the fix has been fully rolled out and both the Calendar and Task APIs should be working as before.
No need to update libraries or client code.
For those of you who put a patch or workround in place, you should be able to remove it now.
I'll leave this issue open hoping to hear confirmation from some of you.

Sorry for this.

[2021-09-28 09:06] SergiyBondarInvisible commented on #1969
Thanks! From our side Google Calendar sync works fine today.

[2021-09-28 09:10] ajtruckle commented on #1969
Thanks! I just uncommented my patch and it appears functional for me.

[2021-10-04 15:04] amanda-tarafa commented on #1969
Closing as this is now fixed.

[2021-10-04 15:04] #1969 closed

[2021-10-07 01:36] arj060892 opened #1973 "Not able to connect to Google Tag Manager API via C# API using Service Account"
I'm trying to access Google Tag Manager API to get the list of my Tags via my C# Web API As mentioned in the documentation, authorization is only possible via OAuh 2.0 hence I have created a service account so that my web API can interact with google cloud services without any user interaction. I have downloaded the JSON/P12 Key and stored it in my solution and was able to extract the key But when

[2021-10-07 09:01] google-cloud-policy-bot[bot] opened #1975 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [ ] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-10-07 09:05] arj060892 commented on #1973
@jskeet it worked perfectly
Additionally I had to add my service account as a user to the GTM container

[2021-10-07 09:05] #1973 closed

[2021-10-07 09:07] jskeet commented on #1975
We'll aim to get to this soon - there *may* not be anything beyond links in Markdown files; we'll need a bit more of an audit before doing it.

[2021-10-13 06:42] mianghuei opened #1978 "Will this package be affected by the following gsi deprecation notice?"
Will this package be affected by the following deprecation? https://developers.googleblog.com/2021/08/gsi-jsweb-deprecation.html

[2021-10-13 08:33] amanda-tarafa commented on #1978
No, Google.Apis.Auth.AspNetCore3, or any of the other packages in this repo, will be affected by the deprecation of the Google Sign-in JavaScript library.

[2021-10-13 08:33] #1978 closed

[2021-10-15 15:28] zydjohnHotmail opened #1980 "Unable to get Client ID for Youtube Data API."
Hello:
I recently create one Youtube channel, and begin to upload some videos.  But since there are too many videos, I can’t upload them by hand.  So I want to use Youtube Data API (Version 3) to do the job.
I watched one video on this topic: Upload a video to YouTube using YouTube API in Python
https://www.youtube.com/watch?v=Pr0tC-6hh44

I understand the Python code in the video, but this video

[2021-10-18 10:54] amanda-tarafa commented on #1980
* Google API's and in particular YouTube Data API use OAuth2 for authentication/authorization. As the documents I linked earlier state, a client ID and client secret are expected to be able to access user data.
* OAuth2 Playground is meant as an educational/testing tool, not as a tool to bypass the need for a client ID and client secret.
  * For cases in which you want to access your own data, as

[2021-10-18 10:54] #1980 closed

[2021-10-18 11:52] zydjohnHotmail commented on #1980
Hello:
I would like to point out that there is some kind of bug on  the server side.  I found there were 3 small MP4 files on my Youtube channel, it means the uploads were some kind of successful.  However, it took more than 2 days for the server side script to process my small videos (the size is less than 30KB), so I have to delete those 3 small MP4 files.
If the error messages were correct, the

[2021-10-18 13:54] EgoPingvina commented on #1464
I have the same problem.
I hav ASP Core project (.Net 5.0) with Newtonsoft.Json v13.0.1 and FirebaseAdmin v2.2.0 which uses Google.Apis.Auth with Newtonsoft v12.0.0 which does not exist.

[2021-10-19 05:17] mantasaudickas opened #1982 "Need some recommendations when Gmail API batch request returns 429 responses"
hello,

I have a multitenant application which does email synchronization with local database to cache user emails.
Service is using GmailService for email synchronization with my local database.
When cache is invalidated I need to do full synchronization.

For this first I call (in the loop using NextPageToken for 2nd and further pages):
[code]
to find out message id's and then for each received

[2021-10-19 05:40] mantasaudickas commented on #1982
In addition... maybe batch method API can be improved so that in case of error MessageId would be provided in callback.. as now I need to do some fancy development to find out which message failed by keeping array of id's and searching by index which is suboptimal :)

[2021-10-19 07:28] EgoPingvina commented on #1464
@jskeet

I tried to downgrade Newtonsoft.Json to 12.0.3 and 12.0.1 - it didn't help. Also tried to downgrade FirebaseAdmin - didn't help too.

For deploy I use `dotnet publish -c Release -r ubuntu.18.04-x64 --self-contained false --output "D:\dev\Backend\src\WebApp\bin\Linux"`

[2021-10-19 14:58] EgoPingvina opened #1983 "Could not load file or assembly 'Newtonsoft.Json, Version=12.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed'"
#### Environment details

  - Programming language: C#
  - OS: Ubuntu 18.04-x64
  - Language runtime version: .Net 5.0
  - Package version: Google.Apis.Auth v1.4.9

#### Steps to reproduce

  1. publish ASP project `dotnet publish -c Release -r ubuntu.18.04-x64 --self-contained false --output "D:\dev\Backend\src\WebApp\bin\Linux"`
  2. copy to folder on ubuntu server `\var\www\backend`
  3. start

[2021-10-19 15:00] EgoPingvina commented on #1464
@jskeet https://github.com/googleapis/google-api-dotnet-client/issues/1983

[2021-10-19 15:37] jskeet commented on #1983
I'd really like to try to reproduce this in a completely minimal fashion.

Two questions:

- If you run it just by going to the published directory and using `dotnet [name of dll]` does it still fail? (I'd like to get all the systemd stuff out of the way if at all possible.)
- If you change the `Main` method to call `Google.Apis.Json.NewtonsoftJsonSerializer.CreateDefaultSettings()`, I'd expect th

[2021-10-20 10:47] #1983 closed, assigned to nobody

[2021-10-21 12:22] gauravrana4363 opened #1986 "Getting Error - An error occurred while sending the request, while trying to use google language service from server."
I am trying to use service account key to reach google api from my application. It works in my local. But in server it throws the below exception:
Message - An error occurred while sending the request
Stack Trace - at Google.Apis.Http.ConfigurableMessageHandler.d__69.MoveNext() --- End of stack trace from previous location where exception was thrown --- at System.Runtime.ExceptionServices.Exceptio

[2021-10-24 18:14] FreshL4ma opened #1987 "Cant Acknowledge Purchase"
I am currently trying to acknowledge a purchase after validating its legitimacy on the server side, but I keep getting this error:

[code]

This should not be occur since I do have a check if the purchase has already been acknowledged and consumed, and the printed PurchaseResource has both values at 0 as well.

Here is the code:
[code]
Am I missing something? Thanks for the help.

Edit: I forgot t

[2021-10-25 08:18] LindaLawton opened #1988 "Cannot find specified method in converted discovery doc."
There appears to be a problem with the discovery doc for the Google analytics admin api  the issue can be seen on the page for  [getEnhancedMeasurementSettings](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/properties.webDataStreams/getEnhancedMeasurementSettings) method.   The try me system is not able to read the discovery doc.

![image](https://user-images.githu

[2021-10-25 09:56] #1988 closed, assigned to amanda-tarafa

[2021-11-01 08:09] felinepc opened #1993 "Should the various BaseClientService be disposed when using injected HttpMessageHandler since implemented in #1757?"
I'm using the pattern introduced in #1757 to utilize .NET's `IHttpClientFactory` when initializing Google API clients. So my code usually looks like this:

[code]
Recently I realized that `BaseClientService` implements `IDisposable`. So I want to know should I add `using` in the code above to ensure the client's timely disposal? Would this have any undesirable effects when the underlying `HttpMess

[2021-11-01 08:24] jskeet commented on #1993
Assigning to Amanda who has done more work on the various HTTP client aspects than I have. (And they're really at the heart of the disposal side of things.)

[2021-11-01 09:31] amanda-tarafa commented on #1993
You can safely dispose of the `BaseClientService` objects if you are using .NET's `IHttpClientFactory`. We do dispose of the `HttpClient` but note the Tip section on [Benefits of Using IHttpClientFactory](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#benefits-of-using-ihttpclientfactory

[2021-11-01 09:31] amanda-tarafa commented on #1986
Closing as we haven't received requested information.

[2021-11-01 09:31] #1986 closed

[2021-11-01 09:32] amanda-tarafa commented on #1987
Closing as we haven't received any more information.
If you tried the operation with the API explorer, and it worked, then leave a comment here and we can look at reopening. Thanks.

[2021-11-01 09:32] #1987 closed

[2021-11-03 16:56] tipa opened #1995 "Move library to from Newtsoft.Json to System.Text.Json"
Microsoft & many developers have been moving their apps & libraries from `Newtsoft.Json` to `System.Text.Json` recently (e.g. the Microsoft Graph SDK for .NET).
It would be very appreciated if this library could be moved as well. Not only is `System.Text.Json` faster and more efficient, it is also already used by many developers and libraries. `Newtonsoft.Json` isn't exactly the smallest .dll and

[2021-11-03 17:00] jskeet commented on #1995
The answer is basically the same though: it would be a breaking change, and one we basically wouldn't take unless we moved to a new major version, which is rather unlikely.

We hope to eventually removed the dependency on Google.Apis.Auth and indirectly Newtonsoft.Json for the `Google.Cloud.*` libraries, but even that's a long-term goal rather than anything imminent.

[2021-11-04 10:08] LindaLawton commented on #1995
@jskeet I understand and respect your dedication for the new Google.Cloud.* library.

However the thing is that the Google.Apis.* library has been around a lot longer.   I have personally ben using it at least since 2011.  This library is not going away just because there is the new shinny Google.Cloud.* library which does not support most of the discovery services apis that this library supports.

[2021-11-04 10:18] jskeet commented on #1995
I don't think Json.NET is going anywhere though. Making a breaking change and releasing a new major version feels like it would be significantly disruptive. I don't think it's worth that just to remove a dependency, when we don't expect to make other significant changes.

We'll keep supporting this library and releasing new API versions, but that doesn't mean we're going to put in the large amount

[2021-11-04 10:23] LindaLawton commented on #1995
Well then If we follow along that train of thought and we know already that [.NET Framework 4.5.2, 4.6, 4.6.1 will reach End of Support on April 26, 2022](https://devblogs.microsoft.com/dotnet/net-framework-4-5-2-4-6-4-6-1-will-reach-end-of-support-on-april-26-2022/)

Can we expect it to be addressed at the time we remove support for 4.5?

If so do we have a definition for "significant length of t

[2021-11-04 11:16] jskeet commented on #1995
I think we should address the detailed supported framework timelines in a separate issue, keeping this one to the Newtonsoft.Json dependency. However, I wouldn't expect to create a new major version just to remove support for frameworks that are already end-of-life by Microsoft. So *if* we decide to stop supporting .NET 4.5, I don't think we'd take a major bump for that. We would definitely try to

[2021-11-04 11:24] LindaLawton commented on #1995
Already working is not a question but is it the best solution?  Efficiency and size are very important IMO.

[2021-11-04 11:34] jskeet commented on #1995
No solution is going to be perfect for everyone - but given that these libraries *are* in maintenance mode, I don't regard this as a *critical* issue.
I guess in a perfect world we'd have multiple major versions so that those who wish to stay on 1.x can do so without taking breaking changes (but still getting new API versions) and a parallel 2.x which has taken all the breaking changes we might wa

[2021-11-04 11:59] LindaLawton commented on #1995
As always we appreciate everything you and the team do.  Maintaining an OS project is a thankless job.   Let me take the time to Thank you.

Please keep us updated on this.

[2021-11-04 16:03] amanda-tarafa commented on #1982
As an FYI: A note on the recommended batch size has been added on the general batch documentation: https://developers.google.com/gmail/api/guides/batch#overview.

Thanks for flagging.

[2021-11-04 18:15] benas1989 opened #1997 "Invalid range after empty row"
#### Environment details

  - Programming language: C#
  - OS: Mac OS 11.4
  - Language runtime version:
  - Package version: 1.55.0.2371

#### Steps to reproduce

  1. Create sheet with data.
<img width="725" alt="Screenshot 2021-11-04 at 20 05 29" src="https://user-images.githubusercontent.com/6152093/140395132-d64d8fec-e535-4d6b-a38e-2ee03c68e632.png">

  2. Try to append data with rang A:C
[co

[2021-11-05 08:34] jskeet commented on #1997
Thanks for the issue - this sounds like it's almost certainly a difficulty with the API rather than with the client libraries.

I've just reproduced the issue using the "Try this API" part of the [method documentation](https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets.values/append).

I'm afraid the maintainers of this repo are not experts on every API, so we're unable to sup

[2021-11-05 08:34] #1997 closed

[2021-11-09 14:07] MarekUniq commented on #1500
Information about the "real" state seems to be shared here:
[code]
values:
[code]

Also, check this: [Starting, stopping, and restarting instances](https://cloud.google.com/sql/docs/postgres/start-stop-restart-instance)

[2021-11-11 10:53] Aleksa-Smolovic commented on #836
I am having the same issues, guess it hasn't been resolved in the meantime?

[2021-11-11 12:42] jskeet commented on #836
@Aleksa-Smolovic: I suspect not. I would go with the recommendation from 2016.

[2021-11-11 15:46] refractivSteve commented on #836
@Aleksa-Smolovic, I haven't tried it that way since I initially created the ticket, so I would think Jon is correct.

[2021-11-12 11:21] DeepakHirapur opened #2002 "How to Create Custom Dimension and Custom metrics in google analytics"
We have tried below steps to create Custom Dimension and Custom metrics from code side.

1) We have installed Nuget package "Install-Package Google.Apis.Analytics.v3 -Version 1.55.0.1679" into solution and Enabled Google Analytics API's in "Google Analytics Account".

2) We have created service account for google analytics project and Generated ".p12" file for google analytic account authenticatio

[2021-11-12 11:46] amanda-tarafa commented on #2002
The CustomDimensions.List operations [requieres different scopes](https://developers.google.com/analytics/devguides/config/mgmt/v3/mgmtReference/management/customDimensions/list#auth) to the ones you are providing.

[2021-11-12 12:02] #2002 closed

[2021-11-12 12:04] DeepakHirapur commented on #2002
Thanks amanda-tarafa for reply.
We have tried with below scope
Analytics, AnalyticsEdit, and  AnalyticsManageUsers.

[2021-11-12 12:08] amanda-tarafa commented on #2002
And I suppose it worked because you closed the issue?

In general you an create the credential with as many scopes as you need for the operations you are going to perform with it.

Just add another comment (or create a new issue) if there's something else not working. Thanks!

[2021-11-12 12:15] DeepakHirapur opened #2003 "How to Create Custom Dimension and Custom metrics in google analytics"
We have tried below steps to create Custom Dimension and Custom metrics from code side.

1) We have installed Nuget package "Install-Package Google.Apis.Analytics.v3 -Version 1.55.0.1679" into solution and Enabled Google Analytics API's in "Google Analytics Account".

2) We have created service account for google analytics project and Generated ".p12" file for google analytic account authenticatio

[2021-11-12 12:17] DeepakHirapur commented on #2002
Created new issue , Please find the below link.
https://github.com/googleapis/google-api-dotnet-client/issues/2003

[2021-11-12 13:01] amanda-tarafa commented on #2003
Can I confirm that you have added the service account to the Google Analytics account as described [here](https://developers.google.com/analytics/devguides/config/mgmt/v3/quickstart/service-java#add-user). Not doing so meand the service account doesn't have access to the Google Analytics account and [you can also get a 403 error](https://developers.google.com/analytics/devguides/config/mgmt/v3/aut

[2021-11-12 13:35] DeepakHirapur commented on #2003
amanda-tarafa,

We have created service account and Enabled Analytics API as per step 1.

But our service application built with C# Language, So step 2 we couldn't able to proceed.
We have installed Nuget package into solution and created Sample Project.

[2021-11-12 14:33] amanda-tarafa commented on #2003
Yes, that's fine. I was only linking to the steps around setting up the service account, in particular the section titled [Add service account to Google Analytics Account](https://developers.google.com/analytics/devguides/config/mgmt/v3/quickstart/service-java#add-user). If you haven't done this step, you will get a 403 error.

The easiest way to confirm that your account is correctly setup is usi

[2021-11-15 10:25] Saddamshq opened #2004 "Tracking the desktop application (WPF+C#) using Google.Apis.Analytics.v3 NuGet package for Google analytics."
Hi All,

I am new in Google analytics. I have no where found the proper example of tracking desktop application (WPF + C#) for google analytics.

Someone suggested the Google.Apis.Analytics.v3 NuGet package for tracking the desktop app.

We need the track my application with below information for different WPF windows open, button clicked and result for button clicked.
1)OS version,
2)Coordinate a

[2021-11-15 11:37] amanda-tarafa commented on #2004
On this repo we are mostly familiar with the libraries themselves and make sure that they accurately represent the underlying APIs, but we are not necessarily familiar with each of the products we have libraries for. That means that I don't have an inmediate answer for you. But I'm asking internally the Google Analytics product team about the existing support for desktop applications and I'll get

[2021-11-15 12:01] Saddamshq commented on #2004
Please get back soon.
I am waiting for your answer

[2021-11-15 12:10] qingfeng346 opened #2005 "Expansionfiles.Upload"
code: c#
I use AndroidPublisherServiceEdits.Expansionfiles.Upload upload obb file and responese is no error, but can't found the obb file in google console library list;
this is my code.

[code]

[2021-11-15 13:09] DeepakHirapur commented on #2003
@amanda-tarafa

We have configured and performed operations with OAuth2 Playground, It's working fine.
Retrieving HTTP status with "200 OK". Please find the attached screenshot.

![Get_dimension](https://user-images.githubusercontent.com/88875565/141787211-acf90eac-c4ed-444c-8987-ca33041f5e51.png)

[2021-11-15 14:11] amanda-tarafa commented on #2005
A couple of issues with your code:

- The `AppEdit.ExpiryTimeSeconds` is [output only](https://developers.google.com/android-publisher/api-ref/rest/v3/edits#resource:-appedit), so there's no point in setting it  on your code. You do have to check the value returned by the server and make sure you use the edit within the expiry time.
- The Upload operation `var uploadRes = uploadInfo.Upload()` won'

[2021-11-15 14:53] amanda-tarafa commented on #2003
OK, that confirms that your Analytics account is properly set up and that you can access it with a user account. Now let's confirm that your service account is properly set up to access your Analytics account. This is what's described in [Add service account to Google Analytics Account](https://developers.google.com/analytics/devguides/config/mgmt/v3/quickstart/service-java#add-user) but I'll go o

[2021-11-15 16:43] amanda-tarafa commented on #2004
I've heard back from the product team, and here's their response:

I'm sorry that's the answer we have for you at this moment.

I'll be closing this issue as there's nothing we can do on the client library side as long as the product itself does not support your use case.

[2021-11-15 16:43] #2004 closed

[2021-11-16 10:12] DeepakHirapur commented on #2003
We found the email address of our service account is **_gatestconfigapplication@testfirebaseconfig-2e04a.iam.gserviceaccount.com_**

We have added above Email address to Google Analytics account with admin privileges.

And executed the sample code to create custom dimension, still same exception was showing.

Please let me know, whether we need to create data streams in google analytics inorder to

[2021-11-16 10:39] amanda-tarafa commented on #2003
Let me confirm one last thing from your code. As I said earlier you need to use the scopes appropiate for **all** operations you are executing, and in your code you are executing both a CustomDimensions insert and a CustomDimensions list. So you need two scopes in your credential, like this:

[code]
Can you confirm whether you have tried with **both scopes at the same time** _after_ you added your

[2021-11-16 12:37] DeepakHirapur commented on #2003
Thanks @amanda-tarafa

Now, We are able to retrieve Custom Dimension with both scopes at the same time after adding service account to Google analytics account with admin privileges.

When we are trying to insert custom dimension , exception was occurring.Please let us know any parameters are missing.
===============================================================
[code]
==========================

[2021-11-16 14:53] amanda-tarafa commented on #2003
I'm not very familiar with the Analytics Management API nor with how to properly create Custom Dimension or anything else for that matter.
You can see the [reference documention for the Custom Dimensions inser operation](https://developers.google.com/analytics/devguides/config/mgmt/v3/mgmtReference/management/customDimensions/insert) for information on which fields re required and which values the